@import '_normalize';

/*! BRICKst v1.0.0 | MIT License | allienworks.net */

@import '_config';
@import '_mixins';
@import '_grid';


// ------ GENERAL ------ //

* { box-sizing: border-box; }
html { font-size: 16px; line-height: $line-height; }
body { font-family: $font; cursor: default; }
a {
  text-decoration: none; color: $primary;
  &:hover { color: darken($primary, 10%); }
  &:focus { outline: none; }
}

h1, h2, h3, h4, h5 {
  font-feature-settings: "dlig", "liga", "kern"; // for beautiful typography & ligatures
}



// ------ FORMS ------ //

input,
textarea,
select {
  width: 100%; margin-bottom: 0.7rem;
  &[type="checkbox"],
  &[type="radio"] { width: auto; }
}
label { cursor: pointer; }




// ------ MEDIA ------ //

img { max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; }
iframe { display: block; max-width: 100%; }

.video-container { // for widescreen embeded videos (Youtube)
  width: 100%; height: 0; overflow: hidden;
  padding-bottom: 56.23%; margin: 3rem 0 4rem;
  position: relative;
  iframe, object, embed, video {
    width: 100%; height: 100%;
    position: absolute; top: 0;
  }
}



// ------ HELPER CLASSES ------ //

// Visibility
.hide { display: none; }
.hide-for-small {
  display: none !important;
  @include break(m) { display: inherit !important; }
}
.hide-for-medium {
  @include break(m) { display: none !important; }
  @include break(l) { display: inherit !important; }
}
.hide-for-large {
  @include break(l) { display: none !important; }
}
.show-for-small {
  @include break(m) { display: none !important; }
}
.show-for-medium {
  display: none !important;
  @include break(m) { display: inherit !important; }
  @include break(l) { display: none; }
}
.show-for-large {
  display: none;
  @include break(l) { display: inherit !important; }
}


// Text align
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

// Effects
.tfx, a { -webkit-transition: all 0.15s; transition: all 0.15s; }
.zoom { -webkit-transform: scale(1.1); transform: scale(1.1); }

// Clearfix
%clearfix {
  &::before, &::after { content: ""; display: table; }
  &::after { clear: both; }
}


.show-grid { // inspired by https://sassline.com
  background-image: linear-gradient(to bottom, #0ff 0px, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem;
}


// ------ UI ELEMENTS ------ //

.button, button {
  font-weight: bold; text-decoration: none; color: $white;
  display: inline-block; padding: 0.7rem 1.2rem;
  background: $primary; border-radius: $border-radius; border: none;
  @extend .tfx;
  &:hover { background: darken($primary, 7%); color: $white; }
  &.toggled { background: darken($primary, 10%); box-shadow: 0 3px darken($primary, 24%) inset; }

  // Button Sizes
  &.tiny { padding: 0.3rem 0.7rem; font-size: 0.65rem; }
  &.small { padding: 0.5rem 0.95rem; font-size: 0.825rem; }
  &.large { padding: 0.9rem 1.45rem; font-size: 1.125rem; }
  &.expand { width: 100%; }

  // Button Variants/Mods
  &.secondary {
    color: $black;
    background: $secondary;
    &:hover { background: darken($secondary, 7%); }
    &.toggled { background: darken($secondary, 10%); box-shadow: 0 3px darken($secondary, 24%) inset; }
  }
  &.success {
    background: $success;
    &:hover { background: darken($success, 7%); }
    &.toggled { background: darken($success, 10%); box-shadow: 0 3px darken($success, 24%) inset; }
  }
  &.alert {
    background: $alert;
    &:hover { background: darken($alert, 7%); }
    &.toggled { background: darken($alert, 10%); box-shadow: 0 3px darken($alert, 24%) inset; }
  }
  &.warning {
    background: $warning;
    &:hover { background: darken($warning, 7%); }
    &.toggled { background: darken($warning, 10%); box-shadow: 0 3px darken($warning, 24%) inset; }
  }
}

.panel {
  background: $secondary;
  padding: 0.1rem 1.4rem; margin: 1rem 0;
}


// ------ DEFAULT HTML STYLING ------ //

.table { max-width: 100%; overflow-x: auto; }
table {
  tr {
    border-bottom: 1px solid #ddd;
    th { text-align: left; }
  }

  &.expand { width: 100%; }
}

hr { margin: 2rem 0; border: 0; border-top: 1px solid $secondary; }

code, kbd, pre, samp {
  background: lighten($secondary, 5%);
}
