<section id="about">
  <div class="row" id="product">

    <div class="medium-6 large-6 columns no-left-padding">
      <h5 class="lead2">The Currency</h5>
      <h2>The swiss-army knife of cryptocurrencies</h2>
      <p class="large">
        PART is a multi-purpose utility coin which has many uses within the Particl economy. It can be used as a privacy coin, but most importantly is required to use the Particl platform's features and decentralized applications such as the marketplace, voting and messaging, only to name a few. The PART coin is also used to secure the Particl network through Particl Proof-of-Stake and gives stakers a minimum yearly staking interest of 5%.
      </p>
      <a href="https://particl.wiki/what-is#particl_privacy_coin_part" target="_blank" class="button center btn-about-part">Learn more about PART</a>
    </div>

    <div class="medium-6 large-6 columns about-img-container">
      <img src="/assets/img/illustrations/intro_swiss_knife.png" alt="Intro Swiss Knife" class="illustration">
    </div>

  </div>

  <hr />

  <div class="row">
    <div class="medium-6 large-6 columns about-img-container">
      <img src="/assets/img/illustrations/intro_coffee.png" alt="Intro Coffee" class="illustration">
    </div>

    <div class="medium-6 large-6 columns">
      <h5 class="lead2">Disruptive E-commerce</h5>
      <h2>World's most private marketplace</h2>
      <p class="large">
        Particl’s decentralized marketplace is a highly scalable and secure solution for e-commerce. Built with privacy at its core, it uses several platform-wide features to deliver the full suite of tools required to shop and sell products and services online.
      </p>
      <a href="https://particl.wiki/what-is#decentralized_privacy_marketplace_alpha" target="_blank" class="button center btn-about-more">Learn More</a>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="medium-6 large-6 columns no-left-padding">
      <h5 class="lead2">The Platform</h5>
      <h2>The Future: A native collection of decentralized applications that respect their users’ rights to privacy</h2>
      <p class="large">
        Particl provides a decentralized privacy platform with a suite of tools to enhance your online privacy. A planned Developer SDK will allow native decentralized applications (Dapps) of all sorts to be built within a secure, highly-scalable environment and be integrated directly into Particl Desktop.
      </p>
      <a href="/roadmap" class="button center btn-about-platform">See Our Roadmap</a>
    </div>

    <div class="medium-6 large-6 columns about-img-container">
      <img src="/assets/img/illustrations/intro_future.png" alt="Intro Future" class="illustration" />
    </div>
  </div>
</section><!-- .about -->
