<section class="locate general-about">
        <div class="row">
		<div class="columns">
		        <h1 class="text-center">Located around the globe and growing</h1>
		</div>
        </div>
	<div class="row locate-desc">
		<div class="part large-offset-2 large-4 columns">
			<p class="large">
                          Across the world, teams at Particl come together with a shared purpose. Our mission is to foster a new decentralized,
                        </p>
		</div>

		<div class="part large-4 columns">
			<p class="large">
                          private and democratic economy supported by its platform and native currency. Join us and do the best work of your life.
                        </p>
		</div>
	</div>
        <div class="row">
		<div class="columns text-center">
		        <a href="/careers" class="button center btn-explore">Explore Careers at Particl</a>
		</div>
        </div>
</section>