<section class="community-channels">

  <img src="/assets/img/logo-symbol.svg" class="join-img" data-aos="zoom-out">
  <h2 class="title">Join our Community</h2>
  <p>
    Learn more about the project, interact with the team, and take a part in shaping the future of Particl
  </p>
  <a class="button riot" href="https://riot.im/app/#/room/#particl:matrix.org" target="_blank">
    <i class="ico ico-riot"></i>Join Riot
  </a>

  <a class="button discord" href="https://discord.me/particl" target="_blank">
    <i class="ico ico-discord"></i>Join Discord
  </a>

  <a class="button telegram" href="https://t.me/particlproject" target="_blank">
    <i class="ico ico-telegram"></i>Join Telegram
  </a>

</section>
