<section class="community-channels">

  <img src="/assets/img/logo-symbol.svg" class="join-img">
  <h2 class="title">Join our great community!</h2>

  <a class="button riot" href="https://riot.im/app/#/room/#particl:matrix.org" target="_blank">
    <i class="ico ico-riot"></i>Join Riot
  </a>

  <a class="button discord" href="https://discordapp.com/invite/2tVJaZ9" target="_blank">
    <i class="ico ico-discord"></i>Join Discord
  </a>

  <a class="button telegram" href="https://t.me/particlproject" target="_blank">
    <i class="ico ico-telegram"></i>Join Telegram
  </a>

</section>
