<section id="dive-deeper">
  <div class="row">
    <div class="column large-6">
      <h2>Want to dive deeper?</h2>
    </div>
  </div>

  <div class="row">

    <div class="item medium-6 large-3 columns">
      <div class="box">
        <h3 class="title">Latest News</h3>
        <p class="desc">
          Check the development progress of Particl and see what’s coming up next
        </p>
        <a href="https://particl.news" target="_blank" class="small full button">
          <i class="ico ico-medium"></i> Particl.news
        </a>
      </div>
    </div>

    <div class="item medium-6 large-3 columns">
      <div class="box">
        <h3 class="title">Status Report</h3>
        <p class="desc">
            Check the development progress of Particl and see what’s coming up next
        </p>
        <a href="/part-exchanges/" class="small hollow button">
          <i class="ico ico-notification-speaker"></i> Status Report
        </a>
      </div>
    </div>
    
    <div class="item medium-6 large-3 columns">
      <div class="box">
        <h3 class="title">Get PART</h3>
        <p class="desc">
          Get to know all the exchanges and services on which you can get PART coins
        </p>
        <a href="/part-exchanges/" class="small hollow button">
          <i class="ico ico-swap"></i> Exchanges
        </a>
      </div>
    </div>

    <div class="item medium-6 large-3 columns">
      <div class="box">
        <h3 class="title">Particl Wiki</h3>
        <p class="desc">
          Find all the tutorials, user guides, troubleshoots, and articles about Particl
        </p>
        <a href="https://particl.wiki" target="_blank" class="small hollow button">
          <i class="ico ico-wikipedia"></i> Particl.wiki
        </a>
      </div>
    </div>

  </div>
</section><!-- #dive-deeper -->
