<section id="dive-deeper">
  <div class="row">
    <div class="column large-6">
      <h2>Want to dive deeper?</h2>
    </div>
  </div>

  <div class="row">

    <div class="item medium-6 large-4 columns">
      <div class="box">
        <h3 class="title">Latest News</h3>
        <p class="desc">
          Read the latest project updates about Particl by subscribing to our blog:
        </p>
        <a href="https://particl.news" target="_blank" class="small full button">
          <i class="ico ico-medium"></i> Particl.news
        </a>
      </div>
    </div>

    <div class="item medium-6 large-4 columns">
      <div class="box">
        <h3 class="title">User Guides</h3>
        <p class="desc">
          Step-by-step guides for all things Particl. These community created tutorials cover everything from creating a wallet to contributing to the network.
        </p>
        <a href="/user-guides/" class="small hollow button">
          <i class="ico ico-lightbulb"></i> User Guides
        </a>
      </div>
    </div>

    <div class="item medium-6 large-4 columns">
      <div class="box">
        <h3 class="title">Particl Wiki</h3>
        <p class="desc">
          Find how-to guides, community-powered articles and solutions to common issues on our knowledge base site.
        </p>
        <a href="https://particl.wiki" target="_blank" class="small hollow button">
          <i class="ico ico-wikipedia"></i> Particl.wiki
        </a>
      </div>
    </div>

  </div>
</section><!-- #dive-deeper -->
