<footer id="footer" class="clearfix">
  <div class="row">

    {% include navigation.html %}

  </div>
</footer><!-- footer -->

<!-- Helper for responsive design -->
<div class="respo">
  <div class="size xs">XS</div>
  <div class="size s">S</div>
  <div class="size m">M</div>
  <div class="size t">T</div>
  <div class="size l">L</div>
  <div class="size xl">XL</div>
</div>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.particl.cz/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
