<footer id="footer">
  <div class="row">

    <div class="logo large-4 columns">
      <img src="{{ "/assets/img/particl-logo-dark.svg" | relative_url }}" alt="Particl.io">
    </div><!-- .logo -->

    <div class="navigation part small-6 medium-4 large-2 columns">
      <h4 class="title">Navigation</h4>
      <ul>
        <li><a class="{% if page.url == "/" %}scroll{% endif %}" href="/#about">About</a></li>
        <li><a class="{% if page.url == "/" %}scroll{% endif %}" href="/#team">Team</a></li>
        <li><a class="{% if page.url == "/" %}scroll{% endif %}" href="/#part-token">Part Token</a></li>
        <li><a href="{{ "/status-report/" | relative_url }}">Status Report</a></li>
        <li><a href="{{ "/careers/" | relative_url }}">Careers</a></li>
        <li><a href="{{ "/roadmap/" | relative_url }}">Project Roadmap</a></li>
      </ul>
    </div><!-- .navigation -->

    <div class="links part small-6 medium-4 large-2 columns">
      <h4 class="title">Links</h4>
      <ul>
        <li><a class="ext" href="https://particl.news">Blog</a></li>
        <li><a class="ext" href="https://particl.wiki">Wiki</a></li>
        <li><a class="ext" href="https://github.com/particl">GitHub</a></li>
        <li><a class="ext" href="https://explorer.particl.io">Block Explorer</a></li>
        <li><a class="ext" href="https://github.com/particl/whitepaper/blob/master/decentralized-private-marketplace-draft-0.1.pdf">Whitepaper</a></li>
        <li><a class="ext" href="https://particl.wiki/listed-on-exchanges">Buy PART</a></li>
        <li><a class="ext" href="https://particl.wiki/articles-about-particl">Particl in Media</a></li>
        <li><a class="ext" href="https://github.com/particl/partgui/releases/latest">Download Particl GUI</a></li>
        <li><a class="ext" href="https://github.com/particl/particl-core/releases/latest">Download Particl Core</a></li>
<li><a class="ext" href="https://github.com/particl/copay/releases/latest">Download Particl mobile</a></li>
      </ul>
    </div><!-- .links -->

    <div class="social-links part medium-4 large-2 columns">
      <h4 class="title">Social</h4>
      <ul>
        <li><a class="ext" href="https://twitter.com/particlproject">Twitter</a></li>
        <!--li><a class="ext" href="#">Facebook</a></li-->
        <li><a class="ext" href="https://reddit.com/r/particl">Reddit</a></li>
        <li><a class="ext" href="https://plus.google.com/b/108803931280926365728/108803931280926365728">Google+</a></li>
        <li><a class="ext" href="https://www.youtube.com/channel/UCnuttPuAY6AOenTz2GGMnbg">YouTube</a></li>
        <li><a class="ext" href="https://bitcointalk.org/index.php?topic=1835782.0">Bitcointalk</a></li>
        <li><a class="ext" href="https://particl.slack.com">Slack</a></li>
        <li><a class="ext" href="http://slack.particl.io">Slack invite</a></li>
        <li><a class="ext" href="https://riot.im/app/#/room/#particl:matrix.org">RIOT</a></li>
        <li><a class="ext" href="https://t.me/joinchat/A7WtNURuJH879j75ZAjkTQ">Telegram</a></li>
      </ul>
    </div><!-- .social-links -->

    <div class="contact large-2 columns">
      <div class="social-buttons">
        <!--a href="#" class="button"><i class="ico ico-facebook"></i></a-->
        <a href="https://twitter.com/particlproject" class="button"><i class="ico ico-twitter"></i></a>
        <a href="https://reddit.com/r/particl" class="button"><i class="ico ico-reddit-alt"></i></a>
      </div>
      <div class="contact-email">
        <i class="ico ico-email"></i><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;">hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;</a>
      </div>
    </div><!-- .contact -->


    <div class="copyright column">
      <hr>
      &copy; 2017 Particl
    </div><!-- .copyright -->

  </div>
</footer><!-- footer -->


<!--div class="respo">
  <div class="size xs">xs</div>
  <div class="size s">s</div>
  <div class="size m">m</div>
  <div class="size t">t</div>
  <div class="size l">l</div>
  <div class="size xl">xl</div>
</div-->
