<footer id="footer" class="clearfix">
  <div class="row">

    <!--div class="logo-copyright">
      <img class="logo" src="/assets/img/particl-logo-dark.svg" alt="Particl.io">
      <p class="copyright">&copy; 2017&ndash;2018 Particl Foundation</p>
    </div-->

    {% include navigation.html %}

  </div>
</footer><!-- footer -->

<!-- Helper for responsive design -->
<div class="respo">
  <div class="size xs">XS</div>
  <div class="size s">S</div>
  <div class="size m">M</div>
  <div class="size t">T</div>
  <div class="size l">L</div>
  <div class="size xl">XL</div>
</div>