<div class="header">
  <div class="row">

    <button id="menu-toggle" class="column small-2">
      <i class="ico ico-menu"></i>
    </button>

    <header class="column no-left-padding large-1 medium-2 small-4" role="banner">
	
      <div class="logo">
        <a class="desktop-logo" href="/"><img src="/assets/img/particl-logo-dark.svg" alt="Particl.io"></a>
        <a class="mobile-logo" href="/"><img src="/assets/img/particl-logo-light.svg" alt="Particl.io"></a>
      </div>

    </header><!-- header -->

    <div class="coinmarketcap-currency-widget header-chart-container column large-3 medium-3 small-6" data-currencyid="1826" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>

    <nav role="navigation" class="column large-4 large-offset-4 medium-7 small-12">
      <ul>
        <li><a href="/why-particl/">Why Particl</a></li>
        <li><a href="/about-us/">About us</a></li>
        <li><a class="home-download-btn" href="/downloads/">Download Particl Desktop</a></li>
      </ul>
   
      <ul class="mobile-header-footer">
        <div class="row links-container">
          <div class="navigation part small-6 medium-4 large-2 columns" style="order: 1;">
            <h4 class="title">Product</h4>
            <ul>
              <li><a class="scroll" href="#">Product Overview</a></li>
              <li><a class="scroll" href="/user-guides/">User Guides</a></li>
              <li><a class="scroll" href="#">Privacy Coin (PART)</a></li>
              <li><a href="#">Particl Marketplace</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">Platform Roadmap</a></li>
              <li><a href="#">Download</a></li>
              <li class="copyright">© 2017–2018 Particl</li>
            </ul>
          </div><!-- .navigation -->

          <div class="links part small-6 medium-4 large-2 columns" style="order: 4;">
            <h4 class="title">Get PART</h4>
            <ul>
              <li><a href="#">Wallets</a></li>
              <li><a href="#">Buy PART</a></li>
              <li><a href="#">Exchange Markets</a></li>
            </ul>
          </div><!-- .links -->

          <div class="social-links part small-6 medium-4 large-2 columns" style="order: 2;">
            <h4 class="title">Contribute</h4>
            <ul>
              <li><a href="#">Earn Passive Income</a></li>
              <li><a href="#">Improvement Proposals (PIP)</a></li>
              <li><a href="#">Opportunity Proposals (POP)</a></li>
              <li><a href="#">Request For Proposals (RFP)</a></li>
              <li><a href="#">Communities</a></li>
              <li><a href="#">Setup a Staking Node</a></li>
              <li><a href="#">Setup a Wallet</a></li>
            </ul>
          </div><!-- .social-links -->

          <div class="contact part small-6 medium-4 large-2 columns" style="order: 5;">
            <h4 class="title">Network</h4>
            <ul>
              <li><a href="#">Governance</a></li>
              <li><a href="#">Block Explorer</a></li>
              <li><a href="#">Status Report</a></li>
            </ul>
          </div><!-- .contact -->

          <div class="contact part small-6 medium-4 large-2 columns" style="order: 3;">
            <h4 class="title">Resources</h4>
            <ul>
              <li><a href="#">Whitepaper</a></li>
              <li><a href="#">Academic Review</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Particl Wiki</a></li>
              <li><a href="#">Source Code</a></li>
            </ul>
          </div><!-- .contact -->

          <div class="contact part small-6 medium-4 large-2 columns" style="order: 6;">
            <h4 class="title">About Particl</h4>
              <ul>
                <li><a href="#">Our Mission</a></li>
                <li><a href="#">Core Values</a></li>
                <li><a href="#">Foundation</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
          </div><!-- .contact -->
        </div><!-- .container -->

        <div class="social-icons-container">

            <div class="footer-icon-container"><a href="#" class="footer-circle footer-btn footer-circle email-btn"></a></div>
            <div class="footer-icon-container"><a href="#" class="footer-circle footer-btn footer-circle twitter-btn"></a></div>
            <div class="footer-icon-container"><a href="#" class="footer-circle footer-btn footer-circle monkey-btn"></a></div>
            <div class="footer-icon-container"><a href="#" class="footer-circle footer-btn footer-circle telegram-btn"></a></div>
            <div class="footer-icon-container"><a href="#" class="footer-circle footer-btn footer-circle github-btn"></a></div>
            <div class="footer-icon-container"><a href="#" class="footer-circle footer-btn footer-circle bitcoin-btn"></a></div>
            <div class="footer-icon-container"><a href="#" class="footer-circle footer-btn footer-circle youtube-btn"></a></div>
            <div class="footer-icon-container"><a href="#" class="footer-circle footer-btn footer-circle slack-btn"></a></div>
            <div class="footer-icon-container"><a href="#" class="footer-circle footer-btn footer-circle discord-btn"></a></div>
            <div class="footer-icon-container"><a href="#" class="footer-circle footer-btn footer-circle riot-btn"></a></div>

        </div>

      </ul>
    </nav><!-- nav -->

  </div>
</div><!-- .header -->