<div class="header" role="banner">
  <div class="row">
    <div class="column">

      <button id="menu-toggle">
        <i class="ico ico-menu-open"></i>
      </button>

      <div class="logo">
        <a href="/"><img src="/assets/img/particl-logotype.svg" alt="Particl.io"></a>
      </div>

      <!--div class="coinmarketcap-currency-widget" data-currencyid="1826" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div-->

      {% include navigation.html %}

    </div>
  </div>
</div><!-- .header -->
