<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title | escape }} ∘ Particl.io{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <!-- open:graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}" />
  <meta property="og:image" content="{{ "/img/particl-opengraph-sharing.jpg" | absolute_url }}" />
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/favicons/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicons/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/mg/favicons/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/img/favicons/manifest.json" | relative_url }}">
  <link rel="mask-icon" href="{{ "/img/favicons/safari-pinned-tab.svg" | relative_url }}" color="#03e8b0">
  <link rel="shortcut icon" href="{{ "/img/favicons/favicon.ico" | relative_url }}">
  <meta name="msapplication-config" content="{{ "/img/favicons/browserconfig.xml" | relative_url }}">
  <meta name="theme-color" content="#212727">
  <meta name="author" content="Martin Allien <martin@particl.io> (https://allien.work)">
  <!-- styles & scripts -->
  <link rel="stylesheet" href="{{ "/css/app.css" | relative_url }}">
</head>