<div class="header">
  <div class="row">

    <button id="menu-toggle" class="column small-2">
      <i class="ico ico-menu"></i>
    </button>

    <header class="column no-left-padding large-1 medium-2 small-4" role="banner">
	
      <div class="logo">
        <a class="desktop-logo" href="/"><img src="/assets/img/particl-logo-dark.svg" alt="Particl.io"></a>
        <a class="mobile-logo" href="/"><img src="/assets/img/particl-logo-light.svg" alt="Particl.io"></a>
      </div>

    </header><!-- header -->

    <div class="coinmarketcap-currency-widget header-chart-container column large-3 medium-3 small-6" data-currencyid="1826" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>

    <nav role="navigation" class="navigation small-12 medium-7 large-8 column">
      <ul class="menu">
        <li class="title">
          <span class="label">Introduction</span>
          <ul>
            <li><a href="/why-particl/">Why Particl</a></li>
            <li><a href="https://particl.news" target="_blank">Latest News</a></li>
            <li><a href="/roadmap/">Roadmap</a></li>
            <!--li><a href="https://particl.wiki/listed-on-exchanges" target="_blank">Exchanges</a></li-->
          </ul>
        </li>
        <li>
          <a class="home-download-btn" href="/downloads/">Downloads</a>
        </li>
        <li class="title">
          <span class="label">Resources</span>
          <ul>
            <li><a href="/whitepapers/">Whitepapers</a></li>
            <li><a href="/proposals/">Proposals</a></li>
            <li><a href="/user-guides/">User Guides</a></li>
            <li><a href="https://particl.wiki" target="_blank">Wiki</a></li>
            <li><a href="https://particl.wiki/faq_overview" target="_blank">FAQ</a></li>
            <li><a href="https://explorer.particl.io" target="_blank">Block Explorer</a></li>
            <!--li><a href="https://portal.particl.io/login" target="_blank">Account (Swap)</a></li-->
          </ul>
        </li>
        <li class="title">
          <span class="label">About</span>
          <ul>
            <li><a href="/about-us/">About us</a></li>
            <li><a href="/press/">In the Press</a></li>
            <li><a href="/careers/">Careers</a></li>
            <li><a href="/status-report/">Status Report</a></li>
            <li><a href="mailto:hello@particl.io">Contact</a></li>
          </ul>
        </li>
        <li class="title">
          <span class="label">Social</span>
        </li>
      </ul>

      {% include social-icons.html %}

    </nav><!-- nav.navigation -->
  </div>
</div><!-- .header -->
