<section id="intro">

  <div class="bg-img">
    <h1 class="banner-header text-center header-line-height">
      Privacy-Focused Marketplace &amp; Decentralized Application Platform
    </h1>
  </div>

  <div class="row banner-btn-container">
    <a href="/downloads/" class="button btn-home-banner-left">Download Particl Desktop</a>
    <a href="https://www.youtube.com/watch?v=PRxmGh24ILU" target="_blank" class="no-arrow button btn-home-banner-right">Watch video</a>
  </div>

  <div class="logo-listing">
    <div class="row">

      <div class="large-5 medium-12 small-12 columns particl-partners">
        <div class="logos">
          <a target="_blank" class="no-arrow item" href="https://auroraia.com" title="Aurora IA">
            <img class="logo" src="/assets/img/partners/auroraia.png" alt="Aurora IA" width="66.7px">
          </a>
          <a target="_blank" class="no-arrow item" href="https://btcmedia.org" title="BTC Media">
            <img class="logo" src="/assets/img/partners/btc-media.png" alt="BTC Media" width="89.8px">
          </a>
          <a target="_blank" class="no-arrow item" href="https://www.lunatech.co.za/" title="Lunatech (Pty) Ltd">
            <img class="logo" src="/assets/img/partners/lunatech.png" alt="Lunatech (Pty) Ltd" width="41.1px">
          </a>
        </div><!-- .logos -->
        <h2 class="title">Particl Partners</h2>
      </div><!-- .particl-partners -->

      <div class="large-7 columns particl-press">
        <div class="logos">
          <a class="item" href="/press" title="Bitcoin Magazine">
            <img class="logo" src="/assets/img/press/logos/btc-magazine.png" alt="Bitcoin Magazine" width="125px">
          </a>
          <a class="item" href="/press" title="Distributed">
            <img class="logo" src="/assets/img/press/logos/distributed.png" alt="Distributed" width="110px">
          </a>
          <a class="item" href="/press" title="Investopedia">
            <img class="logo" src="/assets/img/press/logos/investopedia.png" alt="Investopedia" width="188px">
          </a>
          <a class="item" href="/press" title="Nasdaq">
            <img class="logo" src="/assets/img/press/logos/nasdaq.png" alt="Nasdaq" width="90px">
          </a>
        </div><!-- .logos -->
        <h2 class="title">Particl in the Press</h2>
      </div><!-- particl-press -->

    </div>
  </div><!-- .logo-listing -->
</section><!-- #intro -->
