<section id="intro">

  <div class="header-title">
    <h1 class="title">Privacy-focused Decentralized Applications</h1>
    <h2 class="subtitle">Private currency&ensp;&bull;&ensp;Decentralized Marketplace&ensp;&bull;&ensp;Crypto agnostic</h2>
  </div>


  <div id="countdown">
    <div class="count-title">Particl Marketplace (alpha) release <small>for testnet</small></div>
    <div id="clock"></div>
  </div>

  <div class="intro-buttons">
    <a href="/downloads/" class="full button first">Download & Explore</a>
    <a href="https://www.youtube.com/watch?v=PRxmGh24ILU&list=PLtbTcMbZZKfy_FynlisfnRFLaGAeDdCSy" target="_blank" class="no-arrow button second">Watch video</a>
  </div>

  <div class="intro-features owl-carousel owl-theme">
    <div class="feature-slide">
      <img src="/assets/img/intro-features/slide-private_crypto-compressed.png" alt="Particl Private Cryptocurrency">
    </div>
    <div class="feature-slide">
      <img src="/assets/img/intro-features/slide-cold_staking-compressed.png" alt="Particl Cold Staking">
    </div>
    <div class="feature-slide">
      <img src="/assets/img/intro-features/slide-marketplace-compressed.png" alt="Particl Decentralized Marketplace">
    </div>
    <div class="feature-slide">
      <img src="/assets/img/intro-features/slide-proposals-compressed.png" alt="Particl Decentralized Governance">
    </div>
  </div>

  <div class="partners-press">

    <div class="partners">
      <div class="logos">
        <a target="_blank" class="no-arrow item" href="https://auroraia.com" title="Aurora IA">
          <img class="logo aurora" src="/assets/img/partners/aurora.png" alt="Aurora IA">
        </a>
        <a target="_blank" class="no-arrow item" href="https://btcmedia.org" title="BTC Media">
          <img class="logo btc-media" src="/assets/img/partners/btc-media.png" alt="BTC Media">
        </a>
        <a target="_blank" class="no-arrow item" href="https://www.lunatech.co.za/" title="Lunatech (Pty) Ltd">
          <img class="logo lunatech" src="/assets/img/partners/lunatech.png" alt="Lunatech (Pty) Ltd">
        </a>
        <a target="_blank" class="no-arrow item" href="https://www.changelly.com/" title="Changelly">
          <img class="logo changelly" src="/assets/img/partners/changelly.svg" alt="Changelly">
        </a>
      </div><!-- .logos -->
      <h2 class="title">Supported by</h2>
    </div><!-- .partners -->

    <!-- FIXME: link to /press is missing -->
    <!--div class="press medium-7 columns">
      <div class="logos">
        <a class="item" href="/press" title="Bitcoin Magazine">
          <img class="logo" src="/assets/img/press/logos/btc-magazine.png" alt="Bitcoin Magazine" width="125px">
        </a>
        <a class="item" href="/press" title="Distributed">
          <img class="logo" src="/assets/img/press/logos/distributed.png" alt="Distributed" width="110px">
        </a>
        <a class="item" href="/press" title="Investopedia">
          <img class="logo" src="/assets/img/press/logos/investopedia.png" alt="Investopedia" width="188px">
        </a>
        <a class="item" href="/press" title="Nasdaq">
          <img class="logo" src="/assets/img/press/logos/nasdaq.png" alt="Nasdaq" width="90px">
        </a>
      </div>
      <h2 class="title">Particl in the Press</h2>
    </div--><!-- press -->

  </div><!-- .partners-press -->
</section><!-- #intro -->
