<section id="intro">
  <div class="row">
    <div class="column">

      <div class="header-title">
        <div class="tag">Beta launching March 1st!</div>
        <h1 class="title">The Most <span>Decentralized</span> Peer To Peer Marketplace</h1>
      </div>
      
      <div class="capture row">

        <div class="video medium-6 medium-push-6 large-7 large-push-5 columns">
          <div class="video-container">
            <iframe src="https://www.youtube-nocookie.com/embed/PRxmGh24ILU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <a href="/-capture-subscribe/" class="large full alert button popup-ajax">Get notified first</a>
        </div><!-- .video -->

        <div class="text medium-6 medium-pull-6 large-5 large-pull-7 columns">
        
          <div class="item">
            <h2 class="title">
              <i class="ico ico-privacy"></i>
              Private
            </h2>
            <p>Particl's decentralized marketplace is built with privacy at its core and offers a low-cost, secure and scalable 3-commerce experience</p>
          </div><!-- .item -->

          <div class="item">
            <h2 class="title">
              <i class="ico ico-nodes"></i>
              Decentralized
            </h2>
            <p>Particl is designed so that users can easily use and build decentralized applications</p>
          </div><!-- .item -->

          <div class="item">
            <h2 class="title">
              <i class="ico ico-lock"></i>
              Secure
            </h2>
            <p>PART can be sent as three different privacy states, each with their own degree of privacy and cost</p>
          </div><!-- .item -->

          <div class="item">
            <h2 class="title">
              <i class="ico ico-swap"></i>
              Accept Cryptocurrency
            </h2>
            <p>Accept a wide-range of cryptocurrencies using Atomic Swaps</p>
          </div><!-- .item -->
          
        </div><!-- .text -->
      </div><!-- .capture.row -->

      <div class="partners-press">
        <div class="partners">
          <div class="logos">
            <a target="_blank" class="no-arrow item" href="https://auroraia.com" title="Aurora IA">
              <img class="logo aurora" src="/assets/img/partners/aurora.png" alt="Aurora IA">
            </a>
            <a target="_blank" class="no-arrow item" href="https://btcmedia.org" title="BTC Media">
              <img class="logo btc-media" src="/assets/img/partners/btc-media.png" alt="BTC Media">
            </a>
            <a target="_blank" class="no-arrow item" href="https://www.lunatech.co.za/" title="Lunatech (Pty) Ltd">
              <img class="logo lunatech" src="/assets/img/partners/lunatech.png" alt="Lunatech (Pty) Ltd">
            </a>
            <a target="_blank" class="no-arrow item" href="https://www.changelly.com/" title="Changelly">
              <img class="logo changelly" src="/assets/img/partners/changelly.svg" alt="Changelly">
            </a>
          </div><!-- .logos -->
          <h2 class="title">Supported by</h2>
        </div><!-- .partners -->
      </div><!-- .partners-press -->

    </div><!-- .column -->
  </div>
</section><!-- #intro -->
