<section id="intro">
  <div class="row">

    <div class="large-6 columns">
      <h1 class="title">Shop your P2P world</h1>
      <p>Particl is privacy &amp; security on the blockchain &ndash; featuring private currency, framework for apps, messaging &amp; self-governance for disrupting ecommerce</p>
      <div class="actions">
        <a href="https://github.com/particl/partgui/releases/latest" class="button ext">Download Wallet</a>
        <a href="{{ "/careers/" | relative_url }}" class="secondary button">We're hiring</a>
      </div>
    </div>

    <div class="medium-6 large-2 columns">
      <a href="https://github.com/particl/partgui/releases/latest" class="wallet-download" title="Download Particl Wallet for Win/macOS/Linux">
        <img src="{{ "/assets/img/downloads/particl-wallet.png" | relative_url }}" alt="Particl Wallet">
        <small>Download</small>
        <h3 class="title">Particl Wallet</h3>
        <div class="version">{{ site.data.versions.wallet }}</div>
      </a>
    </div>

    <div class="medium-6 large-2 columns">
      <a href="https://github.com/particl/particl-core/releases/latest" class="wallet-download" title="Download Particl Core for Win/macOS/Linux">
        <img src="{{ "/assets/img/downloads/particl-core.png" | relative_url }}" alt="Particl Core">
        <small>Download</small>
        <h3 class="title">Particl Core</h3>
        <div class="version">{{ site.data.versions.core }} <span class="tag">Qt</span></div>
      </a>
    </div>

    <div class="medium-6 large-2 columns">
      <a href="https://play.google.com/store/apps/details?id=io.particl.copay" class="wallet-download" title="Download Particl Copay for Android">
        <img src="{{ "/assets/img/downloads/particl-copay.png" | relative_url }}" alt="Particl Copay">
        <small>Download</small>
        <h3 class="title">Particl Copay</h3>
        <div class="version"><span class="tag">Android</span></div>
      </a>
    </div>

  </div>
</section><!-- #intro -->

<div id="video">
  <div class="video-intro">
    <iframe src="https://www.youtube-nocookie.com/embed/PRxmGh24ILU?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>