<section id="intro">
  <div class="row">
    <div class="column">

      <div class="header-title">
        <h1 class="title">Privacy-focused &amp; Decentralized Ecosystem</h1>
        <h2 class="subtitle">Untraceable currency&ensp;&bull;&ensp;Decentralized Marketplace&ensp;&bull;&ensp;Private Dapps</h2>
      </div>
      
      <!--div class="intro-buttons">
        <a href="/downloads/" class="full button first">Download & Explore</a>
        <a href="https://www.youtube.com/watch?v=PRxmGh24ILU&list=PLtbTcMbZZKfy_FynlisfnRFLaGAeDdCSy" target="_blank" class="no-arrow button hollow">Watch video</a>
      </div-->

      {% include countdown.html %}

      <!--div class="intro-features owl-carousel owl-theme">
        <div class="feature-slide">
          <img class="wallet" src="/assets/img/intro-carousel/wallet-currency-compressed.png" alt="Particl Private Cryptocurrency">
          <img class="highlight" src="/assets/img/intro-carousel/highlight-currency-compressed.png" alt="">
          <div class="text">
            <strong>Cryptocurrency</strong> &ndash; private as much (or as little) as you need &ndash; CT & RingCT
          </div>
        </div>
        <div class="feature-slide">
          <img class="wallet" src="/assets/img/intro-carousel/wallet-staking-compressed.png" alt="Particl Cold Staking">
          <img class="highlight" src="/assets/img/intro-carousel/highlight-staking-compressed.png" alt="">
          <div class="text">
            <strong>Cold Staking</strong> &ndash; quantum-resistant staking compatible with hardware wallets
          </div>
        </div>
        <div class="feature-slide">
          <img class="wallet" src="/assets/img/intro-carousel/wallet-market-compressed.png" alt="Particl Decentralized Marketplace">
          <img class="highlight" src="/assets/img/intro-carousel/highlight-market-compressed.png" alt="">
          <div class="text">
            <strong>Particl Marketplace</strong> &ndash; the world's most private decentralized marketplace
          </div>
          <div class="tag">Now on mainnet!</div>
        </div>
        <div class="feature-slide">
          <img class="wallet" src="/assets/img/intro-carousel/wallet-proposals-compressed.png" alt="Particl Decentralized Governance">
          <img class="highlight" src="/assets/img/intro-carousel/highlight-proposals-compressed.png" alt="">
          <div class="text">
            <strong>Community Proposals</strong> &ndash; network-wide, decentralized voting governance
          </div>
          <div class="tag">Now on mainnet!</div>
        </div>
      </div-->

    </div><!-- .column -->
  </div>
</section><!-- #intro -->
