<section id="intro">
  <div class="row">
    <div class="column">

      <div class="header-title">
        <h1 class="title">Privacy-focused Decentralized Applications</h1>
        <h2 class="subtitle">Private currency&ensp;&bull;&ensp;Decentralized Marketplace&ensp;&bull;&ensp;Crypto agnostic</h2>
      </div>
      
      <div class="intro-buttons">
        <a href="/downloads/" class="full button first">Download & Explore</a>
        <a href="https://www.youtube.com/watch?v=PRxmGh24ILU&list=PLtbTcMbZZKfy_FynlisfnRFLaGAeDdCSy" target="_blank" class="no-arrow button hollow">Watch video</a>
      </div>

      <div id="countdown">
        <div class="count-title">Particl Marketplace (alpha) release <small>for testnet</small></div>
        <div id="clock"></div>
      </div>

      <div class="intro-features owl-carousel owl-theme">
        <div class="feature-slide">
          <img class="wallet" src="/assets/img/intro-carousel/wallet-currency-compressed.png" alt="Particl Private Cryptocurrency">
          <img class="highlight" src="/assets/img/intro-carousel/highlight-currency-compressed.png" alt="">
          <div class="text">
            <strong>Cryptocurrency</strong> &ndash; private as much (or as little) as you need (RingCT coming soon)
          </div>
        </div>
        <div class="feature-slide">
          <img class="wallet" src="/assets/img/intro-carousel/wallet-staking-compressed.png" alt="Particl Cold Staking">
          <img class="highlight" src="/assets/img/intro-carousel/highlight-staking-compressed.png" alt="">
          <div class="text">
            <strong>Cold Staking</strong> &ndash; quantum-resistant staking compatible with hardware wallets
          </div>
        </div>
        <div class="feature-slide">
          <img class="wallet" src="/assets/img/intro-carousel/wallet-market-compressed.png" alt="Particl Decentralized Marketplace">
          <img class="highlight" src="/assets/img/intro-carousel/highlight-market-compressed.png" alt="">
          <div class="text">
            <strong>Particl Marketplace</strong> &ndash; the world's most private decentralized marketplace
          </div>
          <div class="tag">Alpha on testnet</div>
        </div>
        <div class="feature-slide">
          <img class="wallet" src="/assets/img/intro-carousel/wallet-proposals-compressed.png" alt="Particl Decentralized Governance">
          <img class="highlight" src="/assets/img/intro-carousel/highlight-proposals-compressed.png" alt="">
          <div class="text">
            <strong>Community Proposals</strong> &ndash; network-wide, decentralized voting governance
          </div>
          <div class="tag">Coming soon</div>
        </div>
      </div>

      <div class="partners-press">
        <div class="partners">
          <div class="logos">
            <a target="_blank" class="no-arrow item" href="https://auroraia.com" title="Aurora IA">
              <img class="logo aurora" src="/assets/img/partners/aurora.png" alt="Aurora IA">
            </a>
            <a target="_blank" class="no-arrow item" href="https://btcmedia.org" title="BTC Media">
              <img class="logo btc-media" src="/assets/img/partners/btc-media.png" alt="BTC Media">
            </a>
            <a target="_blank" class="no-arrow item" href="https://www.lunatech.co.za/" title="Lunatech (Pty) Ltd">
              <img class="logo lunatech" src="/assets/img/partners/lunatech.png" alt="Lunatech (Pty) Ltd">
            </a>
            <a target="_blank" class="no-arrow item" href="https://www.changelly.com/" title="Changelly">
              <img class="logo changelly" src="/assets/img/partners/changelly.svg" alt="Changelly">
            </a>
          </div><!-- .logos -->
          <h2 class="title">Supported by</h2>
        </div><!-- .partners -->
      </div><!-- .partners-press -->

    </div><!-- .column -->
  </div>
</section><!-- #intro -->
