<section class="join-section">
  <img src="/assets/img/favicons/mstile_home.png" class="join-img">
  <h2 class="title">Join our community and be part of the revolution</h2>
  <a class="button" href="https://riot.im/app/#/room/#particl:matrix.org" target="_blank">
    <span class="text riot">Join Riot</span>
  </a>
  <a class="button" href="https://discordapp.com/invite/2tVJaZ9" target="_blank">
    <span class="text discord">Join Discord</span>
  </a>
  <a class="button" href="https://t.me/particlproject" target="_blank">
    <span class="text telegram">Join Telegram</span>
  </a>
</section>
