  <section class="multiple feature privacy join-section">
    <div class="row">
      <div class="text-center">
        <img src="/assets/img/favicons/mstile_home.png" class="join-img">
        <h2>Join our Riot, Discord and Telegram Channels</h2>
        <a href="https://riot.im/app/#/room/#particl:matrix.org" target="_blank" class="button riot-btn center">Join Riot</a>
        <a href="https://t.me/particlproject" target="_blank" class="button telegram-btn center">Join Telegram</a>
        <a href="https://discordapp.com/invite/2tVJaZ9" target="_blank" class="button discard-btn center">Join Discord</a>
      </div>
    </div>
  </section>