<section id="about">
  <div class="row" id="product">

    <div class="medium-6 large-6 columns">
      <h5 class="lead2">The Currency</h5>
      <h2>The swiss-army knife of cryptocurrencies</h2>
      <p class="large">
        PART is the multi-purpose currency at the very center of the Particl economy which acts as its fuel. It’s a privacy coin, a voting ticket, a moderation token, a source of passive income, and much more. In fact, the unlimited possibilities enabled by Particl’s decentralized applications makes the PART coin what you want it to be. Users can also put up their coins for staking using Particl Proof-of-Stake, the world’s most secure Proof-of-Stake protocol, and earn a minimum yearly staking interest of 4%. 
      </p>
      <a href="/coin-specifications/" class="button">PART specifications &amp; features</a>
    </div>

    <div class="medium-6 large-6 columns about-img-container">
      <img src="/assets/img/illustrations/swiss-army-knife.svg" alt="" class="illustration">
    </div>

  </div>

  <hr />

  <div class="row">
    <div class="medium-6 large-6 columns about-img-container">
      <img src="/assets/img/illustrations/private-decentralized-market.svg" alt="" class="illustration">
    </div>

    <div class="medium-6 large-6 columns">
      <h5 class="lead2">Disruptive E-commerce</h5>
      <h2>World's Most Private & Secure Marketplace</h2>
      <p class="large">
        Particl’s decentralized marketplace is a disrupting platform that uses the latest and most secure blockchain technologies to put both vendors and buyers directly in contact at virtually no cost for neither party. This new way of doing eCommerce ensures vendors, not the eCommerce platform, get all the benefits and profits from their sales, in turn allowing them to lower their prices for their customers and gain a competitive edge. The Particl Marketplace protocol also makes any kind of data leak impossible by design and keeps transacting information and identities only accessible to the actual parties involved. 
      </p>
      <a href="https://particl.wiki/what-is#decentralized_privacy_marketplace_alpha" target="_blank" class="button">Learn more on Wiki</a>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="medium-6 large-6 columns">
      <h5 class="lead2">The Platform</h5>
      <h2>Decentralized Applications Made Easy</h2>
      <p class="large">
         Particl allows developers to easily build decentralized applications which possess the highest smart-contract security and privacy standards in the industry. These applications can then directly be integrated onto Particl Desktop, a very user-friendly portal to the Particl ecosystem, ensuring their accessibility and ease-of-use for all types of users. Why should decentralized applications be any more complicated to use than any other regular application? 
      </p>
      <a href="/roadmap" class="button">See our Roadmap</a>
    </div>

    <div class="medium-6 large-6 columns about-img-container">
      <img src="/assets/img/illustrations/decentralized-apps.png" alt="" class="illustration" />
    </div>
  </div>
</section><!-- .about -->
