<nav role="navigation" class="navigation column">
  <div class="wrapper clearfix">

    <div class="logo-copyright column">
      <img class="logo" src="/assets/img/particl-logo-dark.svg" alt="Particl.io">
      <p class="copyright">&copy; 2017&ndash;2018 Particl Foundation</p>
    </div>
  
    <ul class="menu">
      <li class="category">
        <span class="label">Introduction</span>
        <ul class="submenu">
          <li><a href="/why-particl/">Why Particl</a></li>
          <li><a href="https://particl.news" target="_blank">Latest News</a></li>
          <li><a href="/roadmap/">Roadmap</a></li>
        </ul>
      </li>
      <li class="category">
        <span class="label get-particl">Get Particl</span>
        <ul class="submenu">
            <li class="full-width"><a class="download-button" href="/downloads/">Downloads</a></li>
            <li class="footer-only"><a href="https://particl.wiki/listed-on-exchanges" target="_blank">Exchanges</a></li>
        </ul>
      </li>
      <li class="category">
        <span class="label">Resources</span>
        <ul class="submenu">
          <li><a href="/user-guides/">User Guides</a></li>
          <li><a href="https://particl.wiki" target="_blank">Wiki</a></li>
          <li><a href="https://particl.wiki/faq_overview" target="_blank">FAQ</a></li>
          <li><a href="/whitepapers/">Whitepapers</a></li>
          <li><a href="/proposals/">Proposals</a></li>
          <li><a href="https://explorer.particl.io" target="_blank">Block Explorer</a></li>
          <li class="footer-only"><a href="https://portal.particl.io/login" target="_blank">Account (Swap)</a></li>
        </ul>
      </li>
      <li class="category">
        <span class="label">About</span>
        <ul class="submenu">
          <li><a href="/about-us/">About us</a></li>
          <li><a href="/press/">In the Press</a></li>
          <li><a href="/careers/">Careers</a></li>
          <li><a href="/status-report/">Status Report</a></li>
          <li><a href="mailto:hello@particl.io">Contact</a></li>
        </ul>
      </li>
      <li class="category mobile-only header-only">
        <span class="label">Social</span>
      </li>
    </ul>

  </div><!-- .wrapper -->

  {% include social-icons.html %}

</nav><!-- nav.navigation -->