<section class="news">
  <div class="row">

    <div class="section-title large-4 columns">
      <h3 class="title">Latest highlights</h3>
      <p>
        Read all news at <a href="https://particl.news" target="_blank">Particl.news</a>
      </p>
    </div>

    <div class="item medium-6 large-4 columns">
      <div class="date">5 Jul 2019</div>
      <h5 class="title">Particl MLSAG + Bulletproofs</h5>
      <p class="text">
        <a href="https://particl.news/particl-mlsag-bulletproofs-security-audit-results-3581da33455e" target="_blank">Security Audit Results</a>
      </p>
    </div>

    <div class="item medium-6 large-4 columns">
      <div class="date">27 Jun 2019</div>
      <h5 class="title">Hardfork Announcement: RingCT, Bulletproofs Ready For PART</h5>
      <p class="text">
        <a href="https://particl.news/hardfork-announcement-ringct-bulletproofs-ready-for-part-july-9df87794bd42" target="_blank">July 16th is our second planned hardfork of 2019</a>
      </p>
    </div>

  </div>
</section>
