<section class="news">
  <div class="row">

    <div class="section-title large-4 columns">
      <h3 class="title">Latest highlights</h3>
      <p>
        Read all news at <a href="https://particl.news" target="_blank">Particl.news</a>
      </p>
    </div>

    <div class="item medium-6 large-4 columns">
      <div class="date">8 Mar 2019</div>
      <h5 class="title">Particl has a new look</h5>
      <p class="text">
        <a href="https://particl.news/particl-has-a-new-look-1b5885a0e179" target="_blank">The soft-rebrand of Particl</a>
      </p>
    </div>

    <div class="item medium-6 large-4 columns">
      <div class="date">8 Mar 2019</div>
      <h5 class="title">Particl Open Marketplace Alpha V2.0 Release & Development Update</h5>
      <p class="text">
        <a href="https://particl.news/particl-open-marketplace-alpha-v2-0-release-development-update-d14f1df6734d" target="_blank">Read the announcement</a> &amp; <a href="https://github.com/particl/particl-desktop/releases/tag/v2.0.0-alpha" target="_blank">Download alpha v2 on testnet now</a>
      </p>
    </div>

  </div>
</section>
