<section class="news">
  <div class="row">

    <div class="section-title large-4 columns">
      <h3 class="title">Latest highlights</h3>
      <p>
        Read all news at <a href="https://particl.news" target="_blank">Particl.news</a>
      </p>
    </div>

    <div class="item medium-6 large-4 columns">
      <div class="date">17 July 2018</div>
      <h5 class="title">Particl Genesis Anniversary</h5>
      <p class="text">
        <a href="https://particl.news/particl-genesis-anniversary-b2d4ceff1f95" target="_blank">A look back at our first year</a>
      </p>
    </div>

    <div class="item medium-6 large-4 columns">
      <div class="date">31 May 2018</div>
      <h5 class="title">Particl Marketplace now live on testnet!</h5>
      <p class="text">
        <a href="https://particl.news/particl-marketplace-alpha-released-and-available-for-testing-3240739f7509" target="_blank">Read the announcement</a> &amp; <a href="https://github.com/particl/particl-desktop/releases/tag/v1.2.0-market-alpha" target="_blank">Download alpha now</a>
      </p>
    </div>

  </div>
</section>