  <section class="download-promo">
    <div class="row">

      <div class="large-4 columns text">
        <h2>Particl Desktop</h2>
        <p class="large">
          Particl Desktop is the best and easiest way to access the Particl ecosystem. Just like an operating system, it acts as a host for its decentralized applications, wallet, and marketplace.
        </p>
        <a href="/downloads/" class="button center">Download &amp; Explore</a>
        <div class="links">
          <a href="https://particl.news/" target="_blank" class="link-small-dark">What's new?</a>
          <a href="/downloads/" class="link-small-dark">All Downloads</a>
        </div>
      </div>

      <div class="large-8 columns image">
        <img src="/assets/img/illustrations/intro_macbook.png" alt="Intro Macbook" class="illustration">
      </div>

    </div>
  </section><!-- .feature -->

  {% include signup-form.html %}