  <section class="feature mac">
    <div class="row">

      <div class="large-4 columns no-left-padding mac-container-text">
        <h2>Particl Desktop</h2>
        <p class="large">
          Particl Desktop is our flagship product and is the best application to begin using PART. All available and in-development features are bundled in Desktop.
        </p>
        <a href="/downloads/" class="button center btn-mac-download">Download Particl Desktop</a>
        <div class="mac-links">
          <a href="http://particl.news/" target="_blank" class="link-small-dark">What's new?</a>
          <a href="/downloads/" class="link-small-dark">All Downloads</a>
        </div>
      </div>

      <div class="large-8 columns mac-container-img">
        <img src="/assets/img/illustrations/intro_macbook.png" alt="Intro Macbook" class="illustration">
      </div>

    </div>
  </section><!-- .feature -->