<section class="partners">
  <h2 class="title">Our Partners</h2>
  <div class="logos">

    <div class="item">
      <!-- https://arcadiamgroup.com -->
      <img src="/assets/img/partners/arcadia.png" alt="Arcadia Group">
    </div>
    
    <div class="item">
      <!-- https://flarewallet.io -->
      <img src="/assets/img/partners/flare.svg" alt="Flare">
    </div>
    
    <div class="item">
      <img src="/assets/img/partners/simpleswap.svg" alt="SimpleSwap">
    </div>
    
    <div class="item">
      <img src="/assets/img/partners/stealthex.svg" alt="StealthEx">
    </div>
    
    <div class="item">
      <!-- https://getblock.io -->
      <img src="/assets/img/partners/getblock.svg" alt="GetBlock">
    </div>

    <div class="item">
      <img src="/assets/img/partners/demarkets.svg" alt="DeMarkets">
    </div>

  </div><!-- .logos -->
</section>