<section id="part-token">
  <div class="row">
    <div class="column">

      <h2>PART Token</h2>
      <p class="lead">
        PART is the native token on the Particl platform
      </p>

    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <ul>
        <li><strong>Initial Distribution:</strong> 8,634,140 PART</li>
        <li><strong>Network:</strong> Proof of Stake</li>
        <li><strong>Block time:</strong> 120 seconds</li>
        <li><strong>Buy PART</strong><br>
          PART-BTC: <a class="ext" href="https://bittrex.com/Market/Index?MarketName=BTC-PART">Bittrex Exchange</a><br>
          PART-EUR: <a href="https://www.litebit.eu/en/buy/particl" class="ext">LiteBit.eu</a></li>
      </ul>
    </div>
    <div class="medium-6 columns">
      <ul>
        <li>
          <strong>Inflation via Staking Reward</strong>
          <ul>
            <li>1<sup>st</sup> year &ndash; 5%</li>
            <li>2<sup>nd</sup> year &ndash; 4%</li>
            <li>3<sup>rd</sup> year &ndash; 3%</li>
            <li>>4<sup>th</sup> year &ndash; 2%</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section><!-- #part-token -->