  <section id="part-token">
    <div class="row">
      <div class="column large-3 no-left-padding no-right-padding">
        <h2>Want to dive deeper?</h2>
      </div>
    </div>

    <div class="row first-row">
      <div class="large-6 medium-6 columns no-left-padding">
        <h3>User Guides</h3>
        <p>Step-by-step guides for all things Particl. These community created tutorials cover everything from creating a wallet to contributing to the network.</p>
        <a href="/user-guides/" class="more-btn">More</a>
      </div>
      <div class="large-6 medium-6 columns no-left-padding">
        <h3>Get PART</h3>
         <p>PART is Particl’s native privacy coin and may be purchased on cryptocurrency exchanges with fiat or other cryptocurrencies.</p>
        <a href="https://particl.wiki/listed-on-exchanges" class="more-btn">More</a>
      </div>
    </div>

    <div class="row second-row">
      <div class="large-6 medium-6 columns no-left-padding">
        <h3>Latest News</h3>
        <p>Read the latest project updates about Particl by subscribing to our blog.</p>
        <a href="/press/" class="more-btn">More</a>
      </div>
      <div class="large-6 medium-6 columns no-left-padding">
        <h3>Career</h3>
        <p>We’re hiring! Check out the career page for more.</p>
        <a href="/careers/" class="more-btn">More</a>
      </div>
    </div>

  </section><!-- #part-token -->