  <section class="download-promo">
    <div class="row">

      <div class="medium-6 large-6 columns text">
        <h2>Particl Desktop</h2>
        <p class="large">
          Particl Desktop is a modern, intuitive, and user-friendly desktop application. Make untraceable payments, buy or sell products and services online using the Open Marketplace, participate in community decisions, or start staking your funds. Particl Desktop is your point-of-access into the Particl ecosystem.
        </p>
        <a href="/downloads/" class="button center">Download</a>
        <div class="links">
          <a href="https://particl.news/" target="_blank" class="link-small-dark">What's new?</a>
          <a href="/downloads/" class="link-small-dark">All Downloads</a>
        </div>
      </div>

      <div class="medium-6 large-6 columns image">
        <a href="/downloads/" title="Download Particl Desktop">
          <img src="/assets/img/illustrations/particl-desktop.png" alt="Particl Desktop" class="illustration">
        </a>
      </div>

    </div>
  </section><!-- .feature -->


{% comment %}
<!-- Show subscribe promo everywhere except for Subscribe page -->
{% unless page.url contains "subscribe" %}
  {% include subscribe-promo.html %}
{% endunless %}
{% endcomment %}