<section class="logo-listing">
	<div class="row">
		<div class="column">

			<h2 class="title">Particl in the Press</h2>

			<div class="logos">
				<a class="item" href="{{ "press" | relative_url }}" title="Bitcoin Magazine">
					<img class="logo" src="{{ "/assets/img/press/logos/btc-magazine.png" | relative_url }}" alt="Bitcoin Magazine">
				</a>
				<a class="item" href="{{ "press" | relative_url }}" title="Distributed">
					<img class="logo" src="{{ "/assets/img/press/logos/distributed.png" | relative_url }}" alt="Distributed">
				</a>
				<a class="item" href="{{ "press" | relative_url }}" title="Investopedia">
					<img class="logo" src="{{ "/assets/img/press/logos/investopedia.png" | relative_url }}" alt="Investopedia">
				</a>
				<a class="item" href="{{ "press" | relative_url }}" title="Nasdaq">
					<img class="logo" src="{{ "/assets/img/press/logos/nasdaq.png" | relative_url }}" alt="Nasdaq">
				</a>
			</div><!-- .logos -->

		</div>
	</div>
</section><!-- .logo-listing -->


<section class="logo-listing">
	<div class="row">
		<div class="column">

			<h2 class="title">Particl Partners</h2>

			<div class="logos">
				<a target="_blank" class="item" href="https://btcmedia.org" title="BTC Media">
					<img class="logo" src="{{ "/assets/img/partners/btc-media.png" | relative_url }}" alt="BTC Media">
				</a>
				<a target="_blank" class="item" href="https://auroraia.com" title="Aurora IA">
					<img class="logo" src="{{ "/assets/img/partners/auroraia.png" | relative_url }}" alt="Aurora IA">
				</a>
				<a target="_blank" class="item" href="https://www.lunatech.co.za/" title="Lunatech (Pty) Ltd">
					<img class="logo" src="{{ "/assets/img/partners/lunatech.png" | relative_url }}" alt="Lunatech (Pty) Ltd">
				</a>
			</div><!-- .logos -->

		</div>
	</div>
</section><!-- .logo-listing -->
