<section id="in-the-press">
	<div class="row">
		<div class="column">

         <h2 class="title">Particl in the Press</h2>

         <div class="press-logos">
            <a class="item" href="{{ "press" | relative_url }}">
               <img class="logo" src="{{ "/assets/img/press/logos/btc-magazine.png" | relative_url }}" alt="Bitcoin Magazine">
            </a>
            <a class="item" href="{{ "press" | relative_url }}">
               <img class="logo" src="{{ "/assets/img/press/logos/distributed.png" | relative_url }}" alt="Distributed">
            </a>
            <a class="item" href="{{ "press" | relative_url }}">
               <img class="logo" src="{{ "/assets/img/press/logos/investopedia.png" | relative_url }}" alt="Investopedia">
            </a>
            <a class="item" href="{{ "press" | relative_url }}">
               <img class="logo" src="{{ "/assets/img/press/logos/nasdaq.png" | relative_url }}" alt="Nasdaq">
            </a>
         </div>

      </div>
	</div>
</section><!-- .feature -->