<!-- Sendinblue Newsletter (tweaked) sign-up form >> -->
<div id="sib_embed_signup">
   <div class="forms-builder-wrapper">
      <input type="hidden" id="sib_embed_signup_lang" value="en">
      <input type="hidden" id="sib_embed_invalid_email_message" value="That email address is not valid. Please try again.">
      <input type="hidden" name="primary_type" id="primary_type" value="email">
      <div id="sib_loading_gif_area" style="display: none;">
      <img src="img/subscribe-loader.gif">
      </div>
      <form class="description" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/2tdmv/id/1" onsubmit="return false;">
      <input type="hidden" name="js_id" id="js_id" value="2tdmv">
      <input type="hidden" name="listid" id="listid" value="5">
      <input type="hidden" name="from_url" id="from_url" value="yes">
      <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
      
      <div class="sib-container">
         <input type="hidden" name="req_hid" id="req_hid" value="">
         <div class="view-messages" style=" margin: 5px 0;"></div>

         <div class="primary-group email-group forms-builder-group">
            <div class="row mandatory-email">
            <div class="subscribe-form">
               <p>Beta is coming! Sign-up for latest updates:</p>
               <input type="text" class="input" name="email" id="email" value="" placeholder="YOUR EMAIL ADDRESS">
               <button class="submit" type="submit" data-editfield="subscribe">Sign-up</button>
               <small>We promise not to spam you or share your address.</small>
            </div>
            <div class="hidden-btns">
               <a class="btn move" href="#"><i class="fa fa-arrows"></i></a>
            </div>
            </div>
         </div><!-- .primary-group -->

         <div class="captcha forms-builder-group" style="display: none;">
            <div class="row" style=" color: rgb(52, 52, 52); font-size: 17px; padding: 10px 20px;">
            <div id="gcaptcha"></div>
            </div>
         </div><!-- .captcha -->

         <div style="clear: both;"></div>
      </div>
      </form><!-- .description -->
   </div><!-- .forms-builder-wrapper -->
</div><!-- #sib_embed_signup -->

<script type="text/javascript">
   var sib_prefix = 'sib';
   var sib_dateformat = 'mm-dd-yyyy';
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit&hl=en"></script>

<script>
   var verifyCallback = function(response) {
      if(response.length > 0) {
      $(".captcha > div.row > div.message_area").remove();
      }
   };
   var myCallBack = function() {
      //Render the recaptcha1 on the element with ID "recaptcha1"
      if($('.captcha > div.row > div#gcaptcha').length > 0) {
      var captcha = grecaptcha.render('gcaptcha', {
         'sitekey' : '6LezqRkUAAAAACOopT30XBwc1_-zbarrSr8FIjXU',
         'theme' : 'light',
         'callback' : verifyCallback,
      });
      }
   };
</script>
<script type='text/javascript' src='https://my.sendinblue.com/public/theme/version4/assets/js/src/subscribe-validate.js?v=1494235434'></script>
<!-- << Sendinblue Newsletter (tweaked) sign-up form -->