<div class="social-icons clearfix">
  <div class="social-icon"> 
    <a href="https://particl.news" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/medium.svg" alt="Medium" class="icon">
      <div class="title">Medium</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://github.com/particl" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/github.svg" alt="GitHub" class="icon">
      <div class="title">GitHub</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://twitter.com/particlproject" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/twitter.svg" alt="Twitter" class="icon">
      <div class="title">Twitter</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://www.reddit.com/r/Particl/" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/reddit.svg" alt="Reddit" class="icon">
      <div class="title">Reddit</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://riot.im/app/#/room/#particl:matrix.org" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/riot.svg" alt="Riot" class="icon">
      <div class="title">Riot</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://discordapp.com/invite/2tVJaZ9" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/discord.svg" alt="Discord" class="icon">
      <div class="title">Discord</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://t.me/particlproject" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/telegram.svg" alt="Telegram" class="icon">
      <div class="title">Telegram</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="http://slack.particl.io/" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/slack.svg" alt="Slack" class="icon">
      <div class="title">Slack</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://www.youtube.com/c/particl" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/youtube.svg" alt="YouTube" class="icon">
      <div class="title">YouTube</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://www.facebook.com/ParticlProject/" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/facebook.svg" alt="Facebook" class="icon">
      <div class="title">Facebook</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://www.instagram.com/particl.official/" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/instagram.svg" alt="Instagram" class="icon">
      <div class="title">Instagram</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://plus.google.com/+Particl" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/gplus.svg" alt="Google+" class="icon">
      <div class="title">Google+</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://mastodon.social/@particl" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/mastodon.svg" alt="Mastodon" class="icon">
      <div class="title">Mastodon</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://bitcointalk.org/index.php?topic=1835782.0" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/bitcoin.svg" alt="BitcoinTalk" class="icon">
      <div class="title">Bitcoin Talk</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="mailto:hello@particl.io" target="_blank" class="no-arrow">
      <img src="/assets/img/ico/email.svg" alt="Email" class="icon">
      <div class="title">Contact</div>
    </a>
  </div> 
</div><!-- .mobile-header-footer -->