<div class="social-icons clearfix">
  <div class="social-icon"> 
    <a href="https://particl.news" target="_blank" class="no-arrow">
      <i class="ico ico-medium"></i>
      <div class="title">Medium</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://github.com/particl" target="_blank" class="no-arrow">
      <i class="ico ico-github"></i>
      <div class="title">GitHub</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://twitter.com/particlproject" target="_blank" class="no-arrow">
      <i class="ico ico-twitter"></i>
      <div class="title">Twitter</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://www.reddit.com/r/Particl/" target="_blank" class="no-arrow">
      <i class="ico ico-reddit"></i>
      <div class="title">Reddit</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://riot.im/app/#/room/#particl:matrix.org" target="_blank" class="no-arrow">
      <i class="ico ico-riot"></i>
      <div class="title">Riot</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://discord.me/particl" target="_blank" class="no-arrow">
      <i class="ico ico-discord"></i>
      <div class="title">Discord</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://particl.community" target="_blank" class="no-arrow">
      <i class="ico ico-chat-discussion"></i>
      <div class="title">Forum</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://t.me/particlOn" target="_blank" class="no-arrow">
      <i class="ico ico-telegram"></i>
      <div class="title">Telegram</div>
    </a>
  </div>
  <!--div class="social-icon"> Link not working*
    <a href="http://slack.particl.io/" target="_blank" class="no-arrow">
      <i class="ico ico-slack"></i>
      <div class="title">Slack</div>
    </a>
  </div-->
  <div class="social-icon"> 
    <a href="https://www.youtube.com/c/particl" target="_blank" class="no-arrow">
      <i class="ico ico-youtube"></i>
      <div class="title">YouTube</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://www.facebook.com/ParticlProject/" target="_blank" class="no-arrow">
      <i class="ico ico-facebook"></i>
      <div class="title">Facebook</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://www.instagram.com/particl.official/" target="_blank" class="no-arrow">
      <i class="ico ico-instagram"></i>
      <div class="title">Instagram</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://fosstodon.org/@particl" target="_blank" class="no-arrow">
      <i class="ico ico-mastodon"></i>
      <div class="title">Mastodon</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="https://bitcointalk.org/index.php?topic=5227333" target="_blank" class="no-arrow">
      <i class="ico ico-bitcoin"></i>
      <div class="title">Bitcoin Talk</div>
    </a>
  </div>
  <div class="social-icon"> 
    <a href="/contact/" class="no-arrow">
      <i class="ico ico-_email"></i>
      <div class="title">Contact</div>
    </a>
  </div> 
</div><!-- .mobile-header-footer -->
