<section class="subscribe-promo">
  <div class="row">
    
    <div class="text medium-7 large-6 columns">
      <h3 class="title">Stay up-to-date with Particl</h3>
      <small>Get news about important security updates, hardforks, testing opportunities or marketplace tips &ndash; your choice!</small>
    </div>
    
    <div class="cta medium-5 large-5 large-push-1 columns">
      <a href="/subscribe" class="button">
        <i class="ico ico-telegram"></i>
        Subscribe <span>&amp; keep me in the loop</span>
      </a>
    </div>
    
  </div>
</section>