<section id="team">
	<div class="row">
		<div class="column">

			<h2>Meet the Team</h2>
			<h3>The Particl Team</h3>

			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/ryno.jpg" | relative_url }}" alt="Ryno Mathee">
					</div>
					<h4 class="name">Ryno Mathee</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: rynomster"><i class="ico ico-chat"></i></span>
						<!--a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;ryno&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a-->
						<a href="https://reddit.com/u/rynomster" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
						<a href="https://twitter.com/rynomster" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://linkedin.com/in/rmathee" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
						<a href="https://github.com/rynomster" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Lead &amp; Core Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/gerlof.jpg" | relative_url }}" alt="Gerlof van Ek">
					</div>
					<h4 class="name">Gerlof van Ek</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: crz"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;gerlof&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://twitter.com/gerlof" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://github.com/gerlofvanek" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer, Branding &amp; Graphics, UI/UX</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/shazzy.jpg" | relative_url }}" alt="Shazzy">
					</div>
					<h4 class="name">Shazzy</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: dasource"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;shazzy&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://github.com/dasource" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Research &amp; Development</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/paul.jpg" | relative_url }}" alt="Paul Schmitzer">
					</div>
					<h4 class="name">Paul Schmitzer</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: litebit"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;paul&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://reddit.com/u/sexystick" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
						<a href="https://twitter.com/litebitco" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://www.linkedin.com/in/paulschmitzer" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
						<a href="https://github.com/litebit" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Communications</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/henk.jpg" | relative_url }}" alt="Henk Swardt">
					</div>
					<h4 class="name">Henk Swardt</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: Pinnocio"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;henk&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://www.linkedin.com/in/hswardt/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Project Manager, PMP, CSM</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/nick.jpg" | relative_url }}" alt="Nick Sy">
					</div>
					<h4 class="name">Nick Sy</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: umbrah"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;nick&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://reddit.com/u/infernotower" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
						<a href="https://www.linkedin.com/in/nick-sy-48a98631/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Treasurer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/allien.jpg" | relative_url }}" alt="Martin Allien">
					</div>
					<h4 class="name">Martin Allien</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: allien"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;martin&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://twitter.com/allienworks" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://github.com/allienworks" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Front-end Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/juha.jpg" | relative_url }}" alt="Ludx">
					</div>
					<h4 class="name">Juha Kovanen</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: ludx"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;juha&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://reddit.com/u/ludx" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
						<a href="https://twitter.com/ludx" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://linkedin.com/in/juhakovanen" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
						<a href="https://github.com/xludx" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/pciavald.png" | relative_url }}" alt="pciavald">
					</div>
					<h4 class="name">Pierre-Alexis Ciavaldini</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: pciavald"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;pciavald&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://linkedin.com/in/pciavald" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
						<a href="https://github.com/pciavald" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/jason.jpg" | relative_url }}" alt="EagleEye25">
					</div>
					<h4 class="name">Jason Eybers</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: EagleEye25"><i class="ico ico-chat"></i></span>
						<a href="https://github.com/EagleEye25" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/lachlan.jpg" | relative_url }}" alt="Lachlan Kang">
					</div>
					<h4 class="name">Lachlan Kang</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: cryptocube"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#117;&#098;&#101;&#064;&#098;&#114;&#111;&#119;&#115;&#101;&#114;&#112;&#114;&#105;&#110;&#116;&#046;&#105;&#110;&#102;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://www.linkedin.com/in/lachlan-k/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
						<a href="https://github.com/qqTYXn7" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/blank-avatar.png" | relative_url }}" alt="Tecnovert">
					</div>
					<h4 class="name">Tecnovert</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: tecnovert"><i class="ico ico-chat"></i></span>
						<a href="https://github.com/tecnovert" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Core Developer &amp; Cryptographic Researcher</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/blank-avatar.png" | relative_url }}" alt="Imran">
					</div>
					<h4 class="name">Imran</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: imyb"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;imran&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
					</div>
					<span class="title">Commercial &amp; Partner Strategy</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/blank-avatar.png" | relative_url }}" alt="Ido Kaiser">
					</div>
					<h4 class="name">Ido Kaiser</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: kewde"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;kewde&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://reddit.com/u/kewde" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
						<a href="https://github.com/kewde" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer &amp; Software Architect</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/blank-avatar.png" | relative_url }}" alt="anandsinghparihar">
					</div>
					<h4 class="name">Kirti Anand Singh</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: anandsinghparihar"><i class="ico ico-chat"></i></span>
						<a href="https://github.com/anandsinghparihar" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/blank-avatar.png" | relative_url }}" alt="vikas-cis">
					</div>
					<h4 class="name">Vikas</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: vikas-cis"><i class="ico ico-chat"></i></span>
						<a href="https://github.com/vikas-cis" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/blank-avatar.png" | relative_url }}" alt="Navjot G">
					</div>
					<h4 class="name">Navjot G</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: Navjot G"><i class="ico ico-chat"></i></span>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/blank-avatar.png" | relative_url }}" alt="Suyash Nikte">
					</div>
					<h4 class="name">Suyash Nikte</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: Suyash Nikte"><i class="ico ico-chat"></i></span>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->
			</ul>
			<hr>
			<h3>Particl Advisors</h3>

			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/charlie.png" | relative_url }}" alt="Charlie Shrem">
					</div>
					<h4 class="name">Charlie Shrem</h4>
					<div class="links">
						<a href="https://www.linkedin.com/in/charlieshrem/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Strategic Advisor &amp; Mentor &ndash; Founder, CryptoIQ</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/micah.jpg" | relative_url }}" alt="Micah Spruill">
					</div>
					<h4 class="name">Micah Spruill</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: Micah"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;micah&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://reddit.com/u/Micah_s" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
						<a href="https://twitter.com/micahspruill" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://linkedin.com/in/micahspruill" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Business &amp; Finance &ndash; Managing Partner, Aurora Investment Advisors</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/miguel.jpg" | relative_url }}" alt="Miguel Cuneta">
					</div>
					<h4 class="name">Miguel Cuneta</h4>
					<div class="links">
						<a href="https://www.linkedin.com/in/miguel-cuneta-a335b093/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Crypto Ecosystem &amp; Adoption &ndash; Co-Founder and CCO at Satoshi Citadel Industries</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/john.jpg" | relative_url }}" alt="John Bailon">
					</div>
					<h4 class="name">John Bailon</h4>
					<div class="links">
						<a href="https://www.linkedin.com/in/johnbailon/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Crypto Ecosystem &amp; Adoption &ndash; Co-Founder and CEO at Satoshi Citadel Industries</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/yann.jpg" | relative_url }}" alt="Yann Alleman">
					</div>
					<h4 class="name">Yann Alleman</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: synergy"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;yann&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://twitter.com/yallemann3" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://linkedin.com/in/yann-allemann-330bb727" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Business &amp; PR &ndash; Engineer, Ferrari A.G.</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/joe.jpg" | relative_url }}" alt="Svojoe">
					</div>
					<h4 class="name">Joe Fisher</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: Svojoe"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;joe&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
					</div>
					<span class="title">E-Commerce Strategy &ndash; Private label online seller, Product Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="{{ "/assets/img/team/blank-avatar.png" | relative_url }}" alt="Arcanum">
					</div>
					<h4 class="name">Arcanum</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: arcanum"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;arc&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://reddit.com/u/decentralizr" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
					</div>
					<span class="title">Business Relations</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo" style="border-radius:0;">
						<img src="{{ "/assets/img/partners/mme.png" | relative_url }}" alt="MME" style="margin-top:40%">
					</div>
					<h4 class="name">MME</h4>
					<div class="links">
						<a href="https://mme.ch" class="link website" title="MME"><i class="ico ico-_link-ext"></i></a>
					</div>

					<span class="title">Legal and Compliance</span>
				</li><!-- .team-member -->
			</ul>

			<hr>
			
			<h3>Community Team</h3>
         <p>
				Our community has some heavy contributors. At the time of writing more than 10 people do contribute and add value to the Particl Project on a regularly basis in multiple disciplines.  This number is steadily growing and the official Particl Team is honored and thankful to have their passion, vision and skills on their side.<br>
			</p>
			<p>
				Join the embracing Particl Community via the socialmedia channels. 
			</p>
			<a href="https://particl.wiki/socialmedia-channels" class="secondary button ext center">Join Community</a>
		</div>
	</div>
</section><!-- #team -->
