@import '_normalize';

/*! BRICKst v1.0.0 | MIT License | allienworks.net */

@import '_mixins';
@import '_grid';


// ------ GENERAL ------ //

* { box-sizing: border-box; }
html { font-size: 16px; line-height: $line-height; }
body { font-family: $font; cursor: default; }
a {
  text-decoration: none; color: $primary;
  &:hover { color: darken($primary, 10%); }
  &:focus { outline: none; }
}

h1, h2, h3, h4, h5 {
  font-feature-settings: "dlig", "liga", "kern"; // for beautiful typography & ligatures
}



// ------ FORMS ------ //

input,
textarea,
select {
  width: 100%; margin-bottom: 0.7rem;
  &[type="checkbox"],
  &[type="radio"] { width: auto; }
}
label { cursor: pointer; }




// ------ MEDIA ------ //

img { max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; }
iframe { display: block; max-width: 100%; }

.video-container { // for widescreen embeded videos (Youtube)
  width: 100%; height: 0; overflow: hidden;
  padding-bottom: 56.23%; margin: 3rem 0 4rem;
  position: relative;
  iframe, object, embed, video {
    width: 100%; height: 100%;
    position: absolute; top: 0;
  }
}



// ------ HELPER CLASSES ------ //

// Visibility

.hide { display: none; }
.hide-for-small {
  display: none !important;
  @include break(m) { display: inherit !important; }
}
.hide-for-medium {
  @include break(m) { display: none !important; }
  @include break(l) { display: inherit !important; }
}
.hide-for-large {
  @include break(l) { display: none !important; }
}
.show-for-small {
  @include break(m) { display: none !important; }
}
.show-for-medium {
  display: none !important;
  @include break(m) { display: inherit !important; }
  @include break(l) { display: none; }
}
.show-for-large {
  display: none;
  @include break(l) { display: inherit !important; }
}


// Text align
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

// Header line-height
.header-line-height { line-height: $header-line-height; }

// Effects
.tfx, %tfx, a { -webkit-transition: all 0.15s; transition: all 0.15s; }
.zoom { -webkit-transform: scale(1.1); transform: scale(1.1); }

// Clearfix
%clearfix {
  &::before, &::after { content: ""; display: table; }
  &::after { clear: both; }
}

// Quick floats
.pull-left { float: left; }
.pull-right { float: right; }

.show-grid { // inspired by https://sassline.com
  background-image: linear-gradient(to bottom, #0ff 0px, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem;
}


// ------ UI ELEMENTS ------ //

.panel {
  background: $secondary;
  padding: 0.1rem 1.4rem; margin: 1rem 0;
}


// ------ DEFAULT HTML STYLING ------ //

.table { max-width: 100%; overflow-x: auto; }
table {
  tr {
    border-bottom: 1px solid #ddd;
    th { text-align: left; }
  }

  &.expand { width: 100%; }
}

hr { margin: 0rem; border: 0; border-top: 1px solid $hr-color; }

code, kbd, pre, samp {
  background: lighten($secondary, 5%);
}