// Main settings

$debug: false; // enabled debug/dev mode (CSS reponnsivity helper)
$showCountdown: false; // show/hide countdown

// Colors
$color: #45D492; // PART turquoise
$primary: $color;
$secondary: #1597DD; // PART blue
$tertiary: #5949A7; // PART purple
$success: #98C807 !default; // greens
$alert: #FF542C !default; // reds
$warning: #FFCE00 !default; // oranges :)
$info: #2183EF;
$black: #212727; // PART black
$white: #fff !default;

$bg: $white;
$bg-muted: #F1F1F1; // slightly darker bg

$text: $black;
$text-muted: lighten($black, 20%);

// Breakpoints
$break-s: 25rem !default; // small
$break-m: 35rem !default; // medium
$break-t: 45rem !default; // tablet
$break-l: 60rem !default; // large (desktop)
$break-xl: 75rem !default; // extra-large

$break-large: 768px;

// Grid
$row-width: 73.125rem !default;// 64rem
$gutter-width: 0.75rem !default;// 0.6rem
$block-grid-spacing: 0.7rem !default;

// UI
$border-radius: 4px !default;

// Typography
$font: "Inter_UI", sans-serif;
$line-height: normal !default;


// Colors (v2)

$general-op-7: rgba($text, 0.7);
$general-op-6: rgba($text, 0.6);
$general-op-5: rgba($text, 0.5);

$black-op-4: rgba($black, 0.4);
$black-op-5: rgba($black, 0.5);
$black-op-8: rgba($black, 0.8);

$header-bg: #fafafa;
$header-chart-text: rgba(34,39,39,0.5);

$white-op-9: rgba($white, 0.9);
$white-op-6: rgba($white, 0.6);
$white-op-8: rgba($white, 0.8);

$section-bg1: #fefefe;

$hr-color: #f4f4f4;

$part-token-bg: #fafafa;
