/* BRICKst - Grid */

.row { // shamelessly inspired by Foundation
  width: 100%; max-width: $row-width; margin: 0 auto;
  &:after { clear: both; content: " "; display: table; }
  &.expand { max-width: 100%; }
  &.collapse .column,
  &.collapse .columns { padding: 0; }
  &.narrow .column,
  &.narrow .columns { padding: 0 ($gutter-width / 2); }
}
.column,
.columns {
  float: left;
  width: 100%; padding: 0 $gutter-width;
  position: relative;
  &.end { float: right; }

  @include before_md {
    padding: 0 0.8125rem;
  }
}
/*
@include lg {
  .no-left-padding { padding-left: $no-left-padding; }
  .no-right-padding { padding-right: $no-right-padding; }
}

.no-padding { padding: $no-padding; }
*/

// ----- SMALL GRID ----- //

// Small classic Grid
@for $i from 1 through 11 {
  // Classic Grid
  .small-#{$i} { width: (100% / 12 * $i); }

  // Column Offsets
  .small-offset-#{$i} { margin-left: (100% / 12 * $i); }

  // Source Ordering
  .small-push-#{$i} { left: (100% / 12 * $i); }
  .small-pull-#{$i} { right: (100% / 12 * $i); }
}

.small-centered { float: none; margin: 0 auto; }
.small-uncentered { float: left; margin: 0; }

// Small Block Grid
[class*="block-grid"] {
  @extend %clearfix;
  margin: 0 (-$block-grid-spacing); padding: 0;
  & > * { display: block; float: left; padding: 0 $block-grid-spacing; }
}
@for $i from 1 through 8 {
  .small-block-grid-#{$i} > * {
    width: (100% / $i);
    &:nth-of-type(#{$i}n+1) { clear: both; }
  }
}


// ----- MEDIUM GRID ----- //

@include between_m_lg {
  [class*="large-"] { width: 100%; }

  // Medium classic Grid
  @for $i from 1 through 11 {
    // Classic Grid
    .medium-#{$i} { width: (100% / 12 * $i); }

    // Column Offsets
    .medium-offset-#{$i} { margin-left: (100% / 12 * $i); }

    // Source Ordering
    .medium-push-#{$i} { left: (100% / 12 * $i); }
    .medium-pull-#{$i} { right: (100% / 12 * $i); }
  }

  .medium-centered { float: none; margin: 0 auto; }
  .medium-uncentered { float: left; margin: 0; }

  // Medium block Grid
  [class*="small-block-grid"][class*="medium-block-grid"] > * { clear: none; }

  @for $i from 1 through 8 {
    .medium-block-grid-#{$i} > * {
      width: (100% / $i);
      &:nth-of-type(#{$i}n+1) { clear: both; }
    }
  }
} // break(m)


// ----- LARGE GRID ----- //

@include after_xl {

  @for $i from 1 through 11 {
    // Classic Grid
    .large-#{$i} { width: (100% / 12 * $i); }

    // Column Offsets
    .large-offset-#{$i} { margin-left: (100% / 12 * $i); }

    // Source Ordering
    .large-push-#{$i} { left: (100% / 12 * $i); }
    .large-pull-#{$i} { right: (100% / 12 * $i); }
  }

  .large-centered { float: none; margin: 0 auto; }
  .large-uncentered { float: left; margin: 0; }
  
  // Large Block Grid
  [class*="small-block-grid"][class*="large-block-grid"] > * { clear: none; }
  [class*="medium-block-grid"][class*="large-block-grid"] > * { clear: none; }

  @for $i from 1 through 8 {
    .large-block-grid-#{$i} > * {
      width: (100% / $i);
      &:nth-of-type(#{$i}n+1) { clear: both; }
    }
  }

} // break(l)