@font-face {
	font-family: "icons";
	src: url('/assets/fonts/icons.eot');
	src: url('/assets/fonts/icons.eot?#iefix') format('eot'),
		url('/assets/fonts/icons.woff2') format('woff2'),
		url('/assets/fonts/icons.woff') format('woff'),
		url('/assets/fonts/icons.ttf') format('truetype'),
		url('/assets/fonts/icons.svg#icons') format('svg');
}

.ico:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.ico-_email:before {
	content: "\E001";
}

.ico-_ext-link:before {
	content: "\E002";
}

.ico-android:before {
	content: "\E003";
}

.ico-bitcoin:before {
	content: "\E004";
}

.ico-cart:before {
	content: "\E005";
}

.ico-chat:before {
	content: "\E006";
}

.ico-check:before {
	content: "\E007";
}

.ico-cross:before {
	content: "\E008";
}

.ico-cryptocurrency-particl:before {
	content: "\E009";
}

.ico-discord:before {
	content: "\E00A";
}

.ico-facebook:before {
	content: "\E00B";
}

.ico-github:before {
	content: "\E00C";
}

.ico-gplus:before {
	content: "\E00D";
}

.ico-instagram:before {
	content: "\E00E";
}

.ico-lightbulb:before {
	content: "\E00F";
}

.ico-linkedin:before {
	content: "\E010";
}

.ico-linux:before {
	content: "\E011";
}

.ico-lock:before {
	content: "\E012";
}

.ico-macos:before {
	content: "\E013";
}

.ico-mastodon:before {
	content: "\E014";
}

.ico-medium:before {
	content: "\E015";
}

.ico-menu-close:before {
	content: "\E016";
}

.ico-menu-open:before {
	content: "\E017";
}

.ico-nodes:before {
	content: "\E018";
}

.ico-person:before {
	content: "\E019";
}

.ico-privacy:before {
	content: "\E01A";
}

.ico-progress:before {
	content: "\E01B";
}

.ico-reddit:before {
	content: "\E01C";
}

.ico-riot:before {
	content: "\E01D";
}

.ico-slack:before {
	content: "\E01E";
}

.ico-swap:before {
	content: "\E01F";
}

.ico-telegram:before {
	content: "\E020";
}

.ico-twitter:before {
	content: "\E021";
}

.ico-upcoming:before {
	content: "\E022";
}

.ico-wikipedia:before {
	content: "\E023";
}

.ico-win:before {
	content: "\E024";
}

.ico-youtube:before {
	content: "\E025";
}
