/*---
# Only the main Sass file needs front matter (the dashes are enough)
---*/
@import 'utils/_variables';

@import 'owl-carousel/owl.carousel.scss';
@import 'owl-carousel/owl.theme.default.scss';
@import 'plugins/_magnific-popup';

@import '_config';
@import '_brickst';
@import '_icons';
@import '_fonts';

@import 'layout/_navigation';
@import 'layout/_grid';
@import 'layout/_header';
@import 'layout/_footer';
@import 'layout/_forms';

@import 'components/_carousel';
@import 'components/_dropdown';
@import 'components/_icons';
@import 'components/_search-form';
@import 'components/_modal';
@import 'components/_download-table';
@import 'components/_countdown';

@import 'pages/_home';
@import 'pages/_why_particl';
@import 'pages/_about_us';
@import 'pages/_careers';
@import 'pages/_roadmap';
@import 'pages/_status_report';
@import 'pages/_particl_press';
@import 'pages/_proposals';
@import 'pages/_specifications';
@import 'pages/_exchanges';
@import 'pages/_download';
@import 'pages/_contact';

/*! particl.io v2.0 | Author: Martin Allien <martin@particl.io> */

// -------------[  BASICS  ]------------- //

html {
  font-size: 16px;
  @include break-from(1450px) { font-size: 17px; }
  @include break-from(1950px) { font-size: 18px; }
}

body {
  background: $bg;
  color: $text;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
}

h1 {
	font-family: $font;
  font-size: 2.375rem;
	font-weight: 700;
  color: $text;
  letter-spacing: -0.5px;
  @include before_md {
    font-size: 1.875rem;
    letter-spacing: -0.7px;
    line-height: 1.4;
  }
}

h2 {
	font-family: $font;
  font-size: 1.75rem;
	font-weight: 700;
  color: $text;
  letter-spacing: -0.5px;
  line-height: 34px;
  margin: 0 0 3rem;
}

h3 {
	font-family: $font;
  font-size: 1.375rem;
	font-weight: 700;
  color: $text;
  letter-spacing: -0.6px;
  line-height: 34px;
}

h4 {
	font-family: $font;
  font-size: 1.1875rem;
	font-weight: 700;
  color: $text;
  letter-spacing: -0.5px;
  line-height: 27px;
  margin: 0px;
}

h5 {
  font-family: $font;
	font-size: 0.75rem;
	font-weight: 500;  
  letter-spacing: 0.8px;
  text-transform: uppercase;

  &.lead2 {
    color: $general-op-7;
  }
}

p {
  color: $general-op-7;
  font-family: $font;
  letter-spacing: -0.1px;
  &.large {
    font-size: 0.9375rem;  
    line-height: 1.87;
  }
  &.small {
    font-size: 0.8125rem;      
    line-height: 1.77;
  }
}

a {
	font-family: $font;
  line-height: normal;
	letter-spacing: 0.1px;
	
	&[href*="http"]:not(.no-arrow) { // fancy external links
		&::after {
			@extend %tfx;
      content: "\E002";
      font-family: "icons"; font-size: 10px; line-height: 1;
			display: inline-block; margin: 0 0.2rem 0 0.25rem;
      opacity: 0.5;
      position: relative; top: -1px;
      .header .navigation & {
        color: rgba($white, 0.85);
        margin-left: 0.4rem;
        @include break(large) { color: $text-muted; }
      }
      footer .navigation & { color: $text-muted; }
		}
	}
  &.link-small-dark { color: $black-op-8; }
  &.link-small-grey { color: $black-op-5; }
}

abbr[title] { border: none; cursor: help; }

table {
  th, td { @extend %tfx; }
  tr {
    border-bottom: 1px solid $bg-muted;
    &:last-of-type { border: none; }
    &:hover {
      th, td { background: rgba($bg-muted, 0.25); }
    }
  }
  &.full-width {
    width: 100%;
  }
}

td.type-name, td.platform-name {
  font-size: 0.9375rem;  
  letter-spacing: -0.3px;
  color: $general-op-6;
  line-height: 1.87;
  font-family: $font;
}

small {
	font-size: 70%; color: lighten($text-muted, 20%); line-height: 1.4;
}

// Forms
form {
	margin: 1.5rem 0;
}
input {
	border: none; border-radius: $border-radius;
	padding: 0.7rem 1.4rem; margin-bottom: 0.2rem;
	font-size: 0.9rem;
}

code {
  background: rgba($color, 0.1);
  color: darken($color, 10%);
  padding: 1px 6px;
  border-radius: 4px;
  margin: 0 2px;
}

// ---------------[  UI  ]--------------- //

// buttons
button, .button { // default, outline-to-full buttons
  @extend %tfx;
  @include border-radius(30px);
  display: inline-block; padding: 0.56rem 1.71rem;
  background-color: transparent; border: solid 1.5px rgba($color, 0.6);
  font-size: 0.9rem; font-weight: 700; color: $color;
  &::after { content: none !important; }
  &:hover, &:focus {
    background: darken($primary, 7%); 
    border-color: darken($primary, 5%); 
    color: $white;
  }
  &.full { // full buttons
    background: darken($color, 2%);
    border-color: darken($color, 2%);
    color: $white;
    &:hover, &:focus {
      background: darken($color, 5%);
      border-color: darken($color, 5%);
    }
  }
  &.hollow { // outline buttons only
    &:hover, &:focus {
      border-color: darken($primary, 3%);
      color: darken($primary, 5%);
      background: transparent;
    }
  }
  // color variations
  &.alert {
    border-color: rgba($alert, 0.6); color: $alert;
    &:hover, &:focus { background: darken($alert, 7%); border-color: darken($alert, 5%); }
    &.full {
      background: darken($alert, 2%); border-color: darken($alert, 2%); color: $white;
      &:hover, &:focus { background: darken($alert, 12%); border-color: darken($alert, 12%); }
    }
    &.hollow {
      &:hover, &:focus { color: darken($alert, 5%); border-color: darken($alert, 5%); background: transparent; }
    }
  }
  // size variations
  &.large {
    font-size: 1.1rem; padding: 0.675rem 1.95rem;
  }
  // icons in buttons
  i.ico { margin-right: 0.3rem; }
}

// common page titles (Roadmap, Status report, ..)
.page-title {
  line-height: 1.45;
  padding: 1.5rem 0 3.5rem;
  @include break(large) { padding: 4rem 0 5rem; }
  &.centered { text-align: center; }
  i.ico {
    font-size: 3rem;
    margin-bottom: -1.6rem;
    display: block;
    &.ico-check { color: $color; }
    &.ico-cross { color: $alert; }
  }
  .title {
    &.centered { text-align: center; }
  }
  p {
    line-height: 1.87;
    a {
      color: lighten($text, 20%); font-weight: 500;
      &:hover { color: $text; }
    }
  }
}


// -------------[  LAYOUT  ]------------- //

section { // full-width sections of content 
  padding: 4rem 0;
  
  // link lists (user guides, whitepapers)
  &.link-list {
    padding: 4rem 0 6rem;
    ul {
      list-style: none;
      padding: 0;
      a {
        display: inline-block; padding: 0.25rem 0;
        font-size: 0.9rem; color: lighten($text, 35%); line-height: 1.45;
        &:hover { color: $text; }
      }
    }
  }
  
  // call-to-action buttons
  &.cta {
    text-align: center;
    .button {
      margin: 0 0.4rem 1rem;
    }
  }
}

.team {
	.team-member {
		text-align: center;
    margin-bottom: 1.5rem;
    @include break(large) { margin-bottom: 2rem; }
		&::before { content: none; }
		.photo {
			width: 130px; height: 130px; margin: 0 auto;
			border-radius: 50%; overflow: hidden;
		}
		.name {
			margin: 1.3rem 0 0;
			font-weight: 700; font-size: 0.9rem; line-height: 1.35;
		}
		.title {
			font-size: 0.75rem; line-height: 1.6;
			display: block; margin-bottom: 0.7rem;
			@include break(l) { margin-bottom: 0.2rem; }
    }
    .links { margin: 0.4rem 0; }
		.link {
			margin: 0 0.2rem;
			color: lighten($text-muted, 40%);
			@include break(l) { margin: 0 0.1rem; font-size: 0.85rem; }
			&[href*="http"]::after { content: none; }
			&.nick { cursor: help; }
			&.email:hover { color: $primary; }
			&.reddit:hover { color: #FF4500; }
			&.twitter:hover { color: #00A0D1; }
      &.linkedin:hover { color: #4875B4; }
      &.facebook:hover { color: #29487d; }
      &.instagram:hover { color: #D82667; }
      &.telegram:hover { color: #2DA5E0; }
			&.github:hover { color: $text; }
		}
	}
	hr { margin: 2rem 0 3.5rem; border-top: 3px dotted darken($bg-muted, 3%); }
}
/*
// Newsletter form (small)
#sib_embed_signup {
  @include gradient($color, darken($color, 7%));
  padding: 1px 0.8rem;
  #sib_loading_gif_area {
    width: auto !important; height: auto !important;
    max-width: 3rem; margin: 0 auto -1.3rem;
  }
  .signup-loader { width: 100%; max-width: 3rem; margin: 0 auto; }
  #theform { margin: 0; }
  .subscribe-form {
    text-align: center;
    h3.title {
      font-size: 0.9rem; color: $white; letter-spacing: 0; line-height: 1.5;
      text-shadow: 0 1px 2px darken($color, 10%);
      margin: 1rem 0 0.7rem;
      @include break(m) { font-size: 1.1rem; }
      @include break(l) { margin: 1.3rem 0 0.8rem; }
    }
    .form {
      position: relative;
      max-width: 30rem; margin: 0 auto;
      .input {
        margin-bottom: 0.3rem;
        background: $white; border-radius: 50px;
        @include break(s) { padding-right: 7rem; }
        @include break(m) { margin-bottom: 0.5rem; }
      }
      small {
        color: $white;
        display: inline-block;
        @include break(s) { margin-bottom: 1rem; }
        @include break(m) { font-size: 80%; margin-bottom: 1.2rem; }
        @include break(l) { margin-bottom: 1.5rem; }
      }
      button {
        margin: 0.7rem 0 1rem;
        border: 1px solid rgba($white, 0.3);
        @include break(s) {
          position: absolute; top: 3px; right: 4px;
          margin: 0; padding: 0.45rem 1.4rem;
        }
      }
    }
  }
  // Error messages
  .message_area {
    margin: -1px -0.8rem; padding: 0.4rem 0.8rem 0.4rem 3rem;
    background: $info !important;
    font-size: 0.85rem; color: $white !important;
    border: none !important;
    text-align: center;
    button { // close button
      height: 1.5rem; width: 1.5rem;
      padding: 0; margin: 0 0.7rem 0 -2.2rem;
      font-weight: 400; color: $white; text-align: center;
      border: none; background: darken($info, 10%);
    }
  }
}
*/

// Subscribe page
section.subscribe {
  .text {
    ul {
      margin: 1.5rem 0; padding: 0 0 0 2rem;
      list-style: none;
      li {
        margin: 0.6rem 0;
        font-size: 0.838rem; color: $text-muted; line-height: 1.6;
        position: relative;
        &::before { // check icon
          content: "";
          display: block; width: 5px; height: 10px;
          border-right: 3px solid $color; border-bottom: 3px solid $color;
          transform: rotate(45deg);
          position: absolute; left: -1.3rem; top: 2px;
        }
      }
    }
    a {
      color: inherit; text-decoration: underline;
      &:hover, &:focus { text-decoration: none; }
    }
  }

  // Subscribe page form (big)
  #sib-container {
    box-shadow: 0 4px 25px 0 rgba(black, 0.06);
    border: 0; border-radius: 10px;
    padding: 2.438rem 2.563rem 1.838rem;
  }
  #sib-form {
    text-align: left;
    margin: 0;
  }
  .form-message-panel { // global error/success messages
    display: none;
    width: 100%; margin: 0 0 1.7rem;
    font-size: 0.95rem; text-align: center;
    &.form-message-panel--active { // ^ active
      display: inline-block;
    }
    p { margin: 0; font-weight: 500; }
    i.ico {
      margin-right: 0.3rem;
      &.ico-check { color: $color; }
      &.ico-cross { color: $alert; }
    }
  }
  .checkbox__label {
    word-wrap: break-word; word-break: break-all;
  }
  .entry__choice {
    margin-bottom: 0.5rem;
    word-wrap: break-all;
    font-size: 0.85rem; font-weight: 500;
  }
  .entry__choice,
  .entry__label {
    width: 100%;
    word-wrap: break-word;
  }
  .entry__error { // invalid field error (wrong email format etc.)
    font-size: 0.75rem; color: $alert; line-height: 1.4;
    margin-top: 0.3rem;
  }
  .form-block { // section block
    margin-top: 1.7rem;
    &:first-of-type { margin: 0; }
    .text-form-block {
      font-size: 0.75rem;
      p { margin: 0; }
    }
  }
  label {
    &.entry__label { // section title
      display: block; margin-bottom: 0.9rem;
      font-weight: 600;
    }
    &.entry__specification { // section help text
      cursor: default;
      font-size: 0.7rem; color: $black-op-5; line-height: 1.6;
      display: block; margin-top: 0.8rem;
    }
  }
  .required-tag { // required fields
    font-size: 0.65rem; color: $alert; text-transform: uppercase;
    border: 1px solid $alert; border-radius: $border-radius;
    display: inline; margin-left: 0.3rem; padding: 1px 0.4rem; float: none;
  }
  input {
    &.input_replaced { // checkboxes
      position: relative; top: 3px;
      margin-right: 0.3rem;
    }
  }
  .input {
    @extend %tfx;
    width: calc(100% - 1rem);
    background: $bg-muted;
  }
  .entry_errored {
    .input { background: rgba($alert, 0.1); }
  }
  .g-recaptcha {
    transform: scale(.77);
    -webkit-transform: scale(.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  .form-block__button { // subscribe button
    @extend button.full;
    background: $alert;
    border-color: $alert;
    font-size: 1.1rem;
    &:hover, &:focus {
      background: darken($alert, 10%);
      border-color: darken($alert, 10%);
    }
  }
}

// Subscribe promo stripe
section.subscribe-promo {
  @include gradient($secondary, darken($secondary, 7%));
  text-align: center;
  padding: 1.9rem 0;
  @include break(m) { text-align: left; }
  h3.title {
    font-size: 1rem; color: $white; letter-spacing: 0; line-height: 1.5;
    text-shadow: 0 1px 2px darken($secondary, 10%); text-transform: uppercase;
    margin: 0 0 0.5rem;
    @include break(m) { font-size: 0.85rem; }
  }
  small {
    color: $white; font-size: 85%;
    display: inline-block; margin: 0.5rem 0;
    @include break(m) { margin: 0; }
  }
  .cta { // button container
    padding-top: 0.9rem;
    .button {
      color: $white;
      border: 3px solid mix($secondary, $white, 60%);
      box-shadow: 0 0 60px rgba($white, 0.5);
      &:hover {
        background: darken($secondary, 10%);
        border-color: mix($secondary, $white, 50%);
      }
      span {
        display: none;
        @include break(m) { display: inline; }
      }
    }
  }
}


// ------------[  SPECIFIC  ]------------ //

.no-js { // for browsers with JS disabled
	header {
		position: static;
		@include break(l) { padding: 1rem 0 0; }
		#menu-toggle { display: none; }
		.logo {
			text-align: center; margin: 0;
			img {
				@include break(l) { max-width: 6rem; }
			}
		}
	}
	nav {
		position: static;
		ul li a {
			@include break(l) { padding: 1.8rem 1.5rem; }
		}
	}
	#page {
		margin-top: 0;
		@include break(l) { margin-top: 4.5rem; }
	}
}


// -------------[  HELPER  ]------------- //

.respo {
  position: fixed; bottom: 0; right: 0; width: 1.5rem; z-index: 1000;
  background: black; color: white; padding: 3px 0;
	font-size: 10px; text-align: center; text-transform: uppercase; font-weight: bold;
	@if $debug == false { // hide if not in debug mode
    display: none; 
  } 
  .size { display: none; }
  @include break(xs) {
    .size { display: none; }
    .xs { display: block; }
  }
  @include break(s) {
    .size { display: none; }
    .s { display: block; }
  }
  @include break(m) {
    .size { display: none; }
    .m { display: block; }
  }
  @include break(t) {
    .size { display: none; }
    .t { display: block; }
  }
  @include break(l) {
    .size { display: none; }
    .l { display: block; }
  }
  @include break(xl) {
    .size { display: none; }
    .xl { display: block; }
  }
}


// MSIE 10+ fix for badly scaled SVGs
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%; 
  }
}
