// -------- UI -------- //

.event-tag {
  font-size: 0.75rem; font-weight: 500;
  letter-spacing: 0.8px; text-transform: uppercase;
  color: $general-op-7;
}


// -------- LAYOUT -------- //

section.events {

  // Events list page
  .upcoming {
    margin-bottom: 5rem;
  }
  .box {
    @extend %tfx;
    background: $white; border-radius: ($border-radius * 2);
    box-shadow: 0 3px 20px rgba($black, 0.06);
    overflow: hidden;
    padding: 0.4rem 1.5rem 1.5rem;
    margin: 0 0 1.5rem;
    .image {
      @extend %tfx;
      display: block;
      margin: -0.4rem -1.5rem 0;
      &:focus, &:hover { opacity: 0.9; }
    }
    .title {
      line-height: 1.3;
      min-height: 6.8rem; margin: 1.2rem 0 0.6rem;
      a { color: $text; }
      a:focus, a:hover { color: $general-op-7; }
      .event-tag { margin-bottom: 0.5rem; }
    }
    .meta {
      font-size: 0.85rem; color: $general-op-5;
      line-height: 1.6;
    }
  }

  .past {
    .item {
      margin-bottom: 1.6rem;
      a.event-item {
        display: inline-block; padding: 0 0 0 1.2rem;
        border-left: 3px solid $bg-muted;
        &:hover, &:focus {
          border-color: $color;
          .event-tag { color: $color; }
          .meta { color: $general-op-7; }
        }
        .title {
          font-size: 1rem; font-weight: 500;
          letter-spacing: 0; line-height: 1.35;
          margin: 0 0 0.6rem 0;
          .event-tag { @extend %tfx; margin-left: 0.4rem; }
        }
        .meta {
          @extend %tfx;
          color: $general-op-5; font-size: 0.625rem; line-height: 1.55;
          font-weight: 500; text-transform: uppercase;
          margin: 0;
        }
      }
    }
  }

  // Event detail page
  &.detail {
    $box-padding: 2.5rem;
    .title {
      margin: 1.7rem 0 3.5rem;
      .event-tag {
        display: block;
        margin-bottom: 0.6rem;
      }
    }
    .box {
      padding: 0 $box-padding 2rem;
      margin-bottom: 3rem;
      p, ul, ol {
        font-size: 0.9375rem; line-height: 1.87; color: $general-op-7;
      }
    }
    .subtitle {
      margin: 2.5rem 0 1.3rem;
    }
    .image {
      margin: 0 (-$box-padding) 2rem;
      &:hover { opacity: 1; }
      img { display: block; width: 100%; }
    }
    .content {
      margin-bottom: 2rem;
    }
    .details {
      margin: 0 (-$box-padding) 2rem;
      table {
        width: 100%;
        font-size: 0.9375rem; color: $text-muted;
        th { padding: 0.5rem 1rem 0.5rem $box-padding; width: 10rem; }
        td { padding: 0.5rem $box-padding 0.5rem 1rem; }
      }
    }
    .team-member {
      text-align: center;
      margin-top: 1.5rem; margin-bottom: 1rem;
      .photo {
        border-radius: 50%;
        overflow: hidden;
        img { display: block; }
      }
      .name {
        font-size: 0.85rem; line-height: 1.3;
        margin: 0.9rem 0 0.3rem;
      }
      .links { display: none; }
      .title { font-size: 0.7rem; color: $text-muted; }
    }
  }

}
