section.exchange-group {

  ul.traits {
    padding-left: 2.5rem; margin: 1rem 0 2.5rem;
    font-size: 0.9rem; color: $text-muted;
    li {
      margin-bottom: 0.4rem;
      line-height: 1.45;
      abbr { border: none; }
    }
  }

  .box {
    background: $white; border-radius: ($border-radius * 2);
    box-shadow: 0 3px 20px rgba($black, 0.06);
    height: 11.5rem;
    padding: 1.4rem 1.6rem; margin: 0 0 1.5rem;
  }

  a.exchange {
    text-align: center;
    &::after { content: none; }
    &:hover {
      .logo img { opacity: 1; filter: saturate(100%); }
      .tag {
        &.crypto { background: darken($color, 5%); }
        &.fiat { background: $info; }
      }
    }
    .logo {
      height: 4.5rem;
      & > img {
        @extend %tfx;
        filter: saturate(0%);
        opacity: 0.7;
        max-width: 7.5rem; max-height: 2.5rem;
        display: block; margin: auto;
        position: relative; top: 50%; transform: translateY(-50%); // center vertically
      }
    }
    .title {
      margin: 0;
      font-size: 0.925rem; letter-spacing: 0;
    }
    .tag {
      @extend %tfx;
      font-size: 0.7rem; font-weight: 500; color: $white;
      background: rgba($text-muted, 0.3); border-radius: 4px;
      padding: 0.1rem 0.4rem;
    }
  }

}