
section.exchange-group {
  .box {
    background: $white; border-radius: ($border-radius * 2);
    box-shadow: 0 3px 20px rgba($black, 0.06);
    padding: 1.4rem 1.6rem; margin: 0 0 1.5rem;
  }
  a.exchange {
    &::after { content: none; }
    .title {
      margin: 0;
    }
  }
}