section.exchange-group {

  .traits {
    margin-bottom: 2.5rem;
    .ico {
      @extend %tfx;
      color: lighten($text-muted, 35%);
      float: left;
    }
    .trait {
      margin-left: 0.5rem; padding: 0.4rem 0;
      @include break(l) { margin-left: 1.5rem; }
      &:hover {
        ul { color: darken($text-muted, 15%); }
        .ico-check { color: darken($color, 3%); }
        .ico-upcoming { color: $warning; }
        .ico-cross { color: $alert; }
      }
    }
    ul {
      @extend %tfx;
      list-style: none;
      padding-left: 2rem; margin: 0;
      font-size: 0.9rem; color: $text-muted;
      li {
        margin-bottom: 0.4rem;
        line-height: 1.45;
      }
    }
  }

  .box {
    @extend %tfx;
    @extend %box;
    height: 13rem;
    @include break(s) { height: 11.5rem; }
    @include break(xl) { height: 12rem; }
  }

  a.exchange {
    text-align: center;
    &::after { content: none; }
    &:hover {
      .box { box-shadow: 0 3px 20px rgba($black, 0.15); }
      .logo img { opacity: 1; filter: saturate(100%); }
      .tag {
        &.crypto { background: darken($color, 5%); }
        &.fiat { background: $info; }
      }
    }
    .logo {
      height: 4.5rem;
      & > img {
        @extend %tfx;
        filter: saturate(0%);
        opacity: 0.7;
        width: 100%; max-width: 7.5rem; height: auto; max-height: 2.5rem;
        display: block; margin: auto;
        position: relative; top: 50%; transform: translateY(-50%); // center vertically
        @include break(s) { width: auto; }
      }
    }
    .title {
      margin: 0;
      font-size: 0.925rem; letter-spacing: 0;
    }
    .tag {
      @extend %tfx;
      font-size: 0.7rem; font-weight: 500; color: $white;
      background: rgba($text-muted, 0.3); border-radius: 4px;
      display: block; margin: 0 auto 0.2rem; padding: 0.1rem 0.4rem;
      @include break(s) { display: inline-block; margin: 0 auto; }
    }
  }

}