section.general-project-road {
  padding: 5.813rem 0rem 0rem;

  .project-road-header {
    margin-bottom: 2.25rem;
  }
}

#particl-road-map {
  padding: 0px;

  .row {
    max-width: 87.875rem;
  }

  .column {
    padding: 0rem 2.125rem;
  }
}

