section.roadmap {
  padding-left: 0; padding-right: 0;
  
  // blocks of roadmap updates/features
  .roadmap-items {
    & > .item {
      margin-bottom: 3.4rem;
      @include break(m) { margin-bottom: 4.5rem; }
    }
  }
  
  // "in progress @ mainnet"
  .tags {
    font-family: $font;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  .tag {
    display: inline-block;

    // status tag
    &.status {
      background: #ddd;
      padding: 0.2rem 1rem; margin-bottom: 0.4rem;
      border-radius: 99px;
      color: $white;
    }
    // network tag
    &.network {
      color: rgba(34,39,39,0.5);
      @include break(s) { margin-left: 0.8rem; }
      &::before {
        content: "@";
        color: rgba(34,39,39,0.3);
        margin-right: 2px;
      }
    }
  }

  .in-progress {
    .status.tag { background: $color; }
  }

  .planned {
    .status.tag { background: #ccc; }
  }

  .completed {
    .status.tag { background: $secondary; }
    a {
      color: $secondary;
      &:hover, &:focus { color: darken($secondary, 5%); }
    }
    code { background: rgba($secondary, 0.1); color: darken($secondary, 10%); }
  }

  .title {
    line-height: 30px;
    margin-top: 0.6rem;
  }
  
  .desc {
    p {
      line-height: 1.77;
      color: rgba(34,39,39,0.6);
      font-size: 0.813rem;
      margin-bottom: 1rem;
    }
  }

}
