section.roadmap {
  padding-left: 0; padding-right: 0;

  .skip-to-completed.button {
    font-size: 0.7rem;
    margin-left: 0.5rem; padding: 0.25rem 0.7rem;
    position: relative; top: -0.2rem;
  }
  
  // blocks of roadmap updates/features
  .roadmap-items {
    & > .item {
      margin-bottom: 3.4rem;
      @include break(m) { margin-bottom: 4.5rem; }
    }
  }
  
  // "in progress @ mainnet"
  .tags {
    font-family: $font;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  .tag {
    display: inline-block;

    // status tag
    &.status {
      background: #ddd;
      padding: 0.2rem 1rem; margin-bottom: 0.4rem;
      border-radius: 99px;
      color: $white;
    }
    // network tag
    &.network {
      color: rgba(34,39,39,0.5);
      @include break(s) { margin-left: 0.8rem; }
    }
  }

  .in-progress {
    .status.tag { background: $color; }
  }

  .planned {
    .status.tag { background: #ccc; }
  }

  .title {
    line-height: 30px;
    margin-top: 0.6rem;
  }
  
  .desc {
    p {
      line-height: 1.77;
      color: rgba(34,39,39,0.6);
      font-size: 0.813rem;
      margin-bottom: 1rem;
    }
  }

  // NEW completed items (via <details>)
  .completed-items {
    padding: 0 0 3rem;
    h2 + p.large {
      margin: -2.5rem 0 2rem;
    }
    .year { margin: 3rem 0 1.5rem; }

    // completed item
    .item {
      margin-bottom: 0.5rem; padding-left: 1.7rem;
      position: relative;
      &[open] {
        summary {
          .ico-check { color: $secondary; }
        }
      }
      // clickable header
      summary {
        outline: none; cursor: pointer;
        padding: 0.3rem 0;
        border-bottom: 1px solid transparent;
        &:focus, &:hover {
          strong { text-decoration: underline; }
          .tag { color: $text-muted; }
        }
        &::-webkit-details-marker {
          color: transparent;
        }
        .ico-check { color: rgba($text-muted, 0.5); margin: 0 0.3rem 0 -1.6rem; }
        .tag {
          font-size: 0.8rem; color: rgba($text-muted, 0.7);
          display: block; margin: 0.15rem 0 0 0;
          @include break(l) { float: right; }
        }
      }
      // details
      .desc {
        background: $bg-muted; border-radius: 4px;
        padding: 0.1rem 1.2rem; margin: 0.8rem 0 2rem;
        a {
          color: $text;
          &:focus, &:hover { text-decoration: underline; }
        }
      }
    }
  }

}
