body section.report-busy {
  background: $report-busy-bg;
}

.status-report {

  // headings with icons
  .icon-title {
    .ico {
      display: inline-block;
      opacity: 0.15;
      margin-right: 0.7rem;
      position: relative;
      top: 12px;
    }
    .title {
      display: inline-block;
    }
  }

  // custom list styling
  #page & {
    ul {
      li { // main
        margin: 0.1rem 0;
        li { // 2nd
          font-size: 90%;
          &::before {
            top: 0.8rem;
          }
          li { // 3rd
            font-size: 90%;
            color: rgba($text-muted, 0.7);
            &::before {
              top: 0.75rem;
              left: -1.4rem;
              width: 0.6rem;
            }
          }
        }
      }
    }
  }

}