section.general-guide {
  padding: 4.063rem 0 3.625rem;
  h1 {
    margin: 1.813rem 0;
  }
  p:first-child {
    margin-top: 0;
  }
}

#page #user-guide-links {
  margin-bottom: 2.25rem; padding-top: 3rem;
  ul {
    padding: 0.3rem 0;
    line-height: normal;
    li {
      margin-bottom: 0.7rem;
      line-height: normal;
      &:before {
        border: 0;
      }
    }
  }
}