.why-particl {
  padding-top: 6.22rem;
  padding-bottom: 7.562rem;
  h1 { margin-bottom: 1.75rem; }
}

hr { color: $hr-color; }

#page section.economy {
  background: $white;
  padding-top: 2.01rem;
  padding-bottom: 3.09rem;
  .part {
    margin-top: 0.97rem;
  }
}

.feature-list {
  padding: 3.09rem 0;
  .item {
    .content {
      @include box-shadow(0 4px 25px 0 rgba(0, 0, 0, 0.06));
      @include border-radius(10px);
      background-color: $white;
      margin: 0.7rem 0; padding: 2.438rem 2.563rem;
      @include break(large) {
        min-height: 420px;
        &.medium { min-height: 500px; }
        &.long { min-height: 620px; }
      }
      h2 { margin: 0 0 1.313rem; }
      p { margin: 0; }
    }
  }
}

.why_particl #part-token {
  border: 2px solid $white;
}