.why-particl {
  padding-top: 6.22rem;
  padding-bottom: 7.562rem;

  h1 {
    margin-bottom: 1.75rem;
  }
}

hr {
  color: $about-hr-color;
}

#page section.economy {
  background: $white;
  padding-top: 2.01rem;
  padding-bottom: 3.09rem;

  .part {
    margin-top: 0.97rem;
  }
}

.why-particle-feature-list {
  padding-top: 3.09rem;

  .why-feature-item {
    @include box-shadow(0 4px 25px 0 rgba(0, 0, 0, 0.06));
    background-color: $white;
    @include border-radius(10px);
    min-height: 410px;
    padding: 2.438rem 2.563rem;
    margin: 0.375rem; 
    max-width: 377px;
    width: 100%;
    &.medium {
      min-height: 460px;
    }
    &.longer {
      min-height: 570px;
    }

    h2 {
      margin: 0rem 0rem 1.313rem;
    }

    p {
      margin: 0px;
    }
  }
}

.why_particl #part-token {
  border: 2px solid $white;
}