---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import '_brickst';
@import '_particl-icons';
@import '_fonts';

/*! particl.io v1.0 | Author: Martin Allien <martin@particl.io> */

// -------------[  BASICS  ]------------- //

body {
	background: $bg;
	color: $text;
}

h1, h2, h3, h4 {
	font-family: $font-titles; font-weight: normal;
	color: $text; line-height: 1.15;
}
h1 { font-size: 2rem; }
h2 {
	font-size: 1.6rem;
	position: relative;
	margin: 0 0 3rem;
	&::before {
		content: ""; position: absolute; bottom: -1.5rem;
		display: block; width: 3rem; height: 5px;
		background: $primary;
	}
}

p {
	font-size: 0.9rem; color: $text-muted; line-height: 1.7;
	&.lead { color: $text; font-weight: bold; }
	@include break(s) { line-height: 2; }
	@include break(l) { font-size: 1rem; }
}
small {
	font-size: 70%; color: lighten($text-muted, 20%); line-height: 1.4;
}
// Forms
form {
	margin: 1.5rem 0;
}
input {
	border: none; border-radius: $border-radius;
	padding: 0.7rem 1.4rem; margin-bottom: 0.2rem;
	font-size: 0.9rem;
}

// ---------------[  UI  ]--------------- //

a.ext { // arrows signaling external links
	&::after {
		@extend .tfx;
		content: "\E001"; opacity: 0.5;
		font-family: "particl-icons"; font-size: 0.4rem;
		position: relative; top: -3px;
		margin-left: 0.2rem;
	}
	&:hover, &:focus {
		&::after { color: $primary; opacity: 1; }
	}
}

button, .button { // default, full buttons
	border-radius: 99px; border: 2px solid $primary;
	color: $bg; font-size: 0.85rem; text-transform: uppercase;
	padding: 0.4rem 1.2rem; margin: 0.4rem 0.5rem;
	@include break(l) { font-size: 1.05rem; padding: 0.45rem 1.4rem; }
	&:hover, &:focus {
		background: darken($primary, 5%); border-color: darken($primary, 5%);
	}
	&.secondary { // secondary, border-only buttons
		border: 2px solid $primary; background: rgba($bg, 0.9);
		color: $primary;
		&:hover, &:focus {
			border-color: darken($primary, 5%); background: rgba($bg, 0.9);
			color: darken($primary, 5%);
		}
	}
	// icons in buttons
	i.ico { margin-right: 0.3rem; }
	&.ext:not(.secondary) {
		&::after {
			opacity: 1; // fix arrows singaling external links in main buttons
			top: -4px; font-size: 0.5rem; margin-left: 0.4rem;
		} 
		&:hover::after { color: $white; }
	}
}

section { // full-width sections of content
	padding: 4rem 1rem;
	&:nth-of-type(2n) { background: $bg-muted; }
}

.icon-title { // nice titles with icons (eg. Status Report)
	.ico {
		display: none;
		@include break(m) {
			display: inline-block; margin: 0 1rem 0 0;
			position: relative; top: 14px;
		}
	}
	.title {
		display: inline-block;
	}
}

.feature { // feature section
	@include break(xl) { padding: 6rem 1rem; }
	&.multiple { // multiple side-by-side features
		background: #fafafa;
		.part {
			margin-bottom: 2.5rem;
			@include break(l) { margin-bottom: 0; }
			&:last-of-type { margin-bottom: 0; }
		}
	}
}

// -------------[  LAYOUT  ]------------- //

#top { // header w/ navigation
	@extend %clearfix;
	background: $black;
	@include break(l) {
		position: fixed; top: 0; z-index: 1500;
		width: 100%;
		&.sticky {
			header {
				padding: 0.7rem 0 0.5rem;
				.logo {
					margin: 0 0 0 1rem;
					img { max-width: 5rem; }
				}
			}
			nav ul li a { padding: 1.25rem 1.5rem; }
		}
	}
}

header {
	background: $black;
	color: white;
	width: 100%; padding: 0.7rem 0;
	position: fixed; z-index: 1500;
	@include break(l) { // desktop header with full menu
		float: left; width: auto; padding: 1.2rem 0;
		position: static;
	}
	#menu-toggle { // mobile: toggle menu button
		float: right; width: 3rem;
		padding: 0.5rem 0; margin: 0.125rem 0.6rem 0 0;
		background: lighten($black, 5%); border: 0; border-radius: $border-radius;
		color: $bg;
		@include break(l) { display: none; }
		i.ico { margin: 0; }
	}
	.logo {
		@extend .tfx;
		display: block; margin: 0 4rem 0 0.6rem;
		@include break(l) { margin: 0.3rem 0 0 0.7rem; }
		@include break(xl) { margin: 0.3rem 0 0 1.2rem; }
		img {
			@extend .tfx;
			max-width: 5.8rem; display: inline-block;
			@include break(l) { max-width: 8rem; }
		}
	}
}

nav {
	background: lighten($black, 2%);
	position: fixed; top: 4rem; z-index: 1500;
	width: 100%;
	@include break(l) {
		float: right; display: block !important; width: auto; margin-right: 0.7rem;
		background: none;
		position: static;
	}
	@include break(xl) { margin-right: 1rem; }
	ul {
		@extend %clearfix;
		list-style: none;
		margin: 0; padding: 0;
		li {
			float: left; display: block; width: 50%;
			a { // menu items
				display: block; padding: 0.6rem 1.4rem;
				color: $white; font-weight: bold; font-size: 0.75rem;
				text-transform: uppercase;
				border-bottom: 1px solid $black; border-right: 1px solid $black;
				&:hover, &:focus { color: $white; background: lighten($black, 5%); }
			}
			&:nth-of-type(2n+2) > a {
				border-right-color: transparent;
				@include break(s) { border-right: 1px solid $black; }
			}
			@include break(s) {
				width: 33.333%;
				&:nth-of-type(3n+3) > a { border-right-color: transparent;	}
			}
			@include break(m) {
				width: 25%;
				&:nth-of-type(3n+3) > a { border-right: 1px solid $black; }
				&:nth-of-type(4n+4) > a { border-right-color: transparent;	}
			}
			@include break(l) { // desktop menu
				width: auto;
				a { padding: 2.6rem 1rem; border: none !important; }
			}
			@include break(xl) {
				a { padding: 2.6rem 1.5rem; }
			}
		}
	}
}

#page {
	margin-top: 4rem;
	@include break(l) { margin-top: 6.2rem; }
	ul { // fancy lists
		list-style: none;
		line-height: 1.7; color: $text-muted;
		@include break(s) { line-height: 2; }
		li {
			display: block; margin: 0.2rem 0;
			position: relative;
			&::before {
				content: ""; position: absolute; left: -2rem; top: 0.5rem;
				display: block; width: 0.6rem; height: 0.6rem;
				border: 4px solid darken($primary, 3%); border-radius: 50%;
			}
		}
		ul { // 2nd level lists
			li::before {
				background: lighten($text-muted, 40%); border: none; border-radius: 0;
				top: 1rem; left: -1.6rem;
				width: 0.9rem; height: 2px;
			}
		}
	}
}

#intro {
	text-align: center;
	position: relative;
	@include break(s) { padding: 7rem 1.5rem; }
	@include break(l) { padding: 10rem 1.5rem 16rem; text-align: left; }
	@include break(xl) { padding: 10rem 1.5rem 28rem; }
	&::after { // semi-transparent background hack
		content: ""; opacity: 0.25;
		background: url(/assets/img/illustrations/city-illustration.png) no-repeat 50% 40%;
		position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;
		@include break(l) { opacity: 1; background-position: 95% 0; background-size: contain; }
	}
	.title {
		margin: 0 0 1rem;
		@include break(l) { font-size: 2.5rem; }
		@include break(xl) { font-size: 2.7rem; }
	}
	p {
		@include break(m) { max-width: 34rem; margin: 0 auto; }
		@include break(l) { margin: 0; }
	}
	.actions { margin-top: 1.5rem; }
	.button {
		@include break(l) { margin-left: 0; }
	}
	.wallet-download {
		@extend .tfx;
		display: none; // hide for mobiles, doesn't make sense there
		@include break(l) {
			display: block; padding-bottom: 1rem;
			text-align: center;
			background: $bg; box-shadow: 0 4px 12px -5px rgba($text, 0.3);
			border-bottom: 4px solid transparent;
		}
		&:hover {
			border-bottom: 4px solid $primary;
			.tag { background: darken($bg, 40%); }
		}
		& > .title { margin: 0.3rem 0 0.3rem; font-size: 1.15rem; }
		& > .version { font-size: 0.85rem; color: lighten($text, 30%); }
		.tag {
			@extend .tfx;
			background: darken($bg, 30%); border-radius: 999px;
			padding: 0.1rem 0.6rem;
			font-size: 0.65rem; color: $bg;
	  	}
	}
}

#video {
	max-width: 45rem; margin: 0 auto;
	@include break(t) { margin: -2rem auto -3.5rem; }
	@include break(l) { margin: -10rem auto -4rem; }
	@include break(xl) { margin: -21.5rem auto -4rem; }
	.video-intro {
		width: 100%;
		box-shadow: 0 3px 20px -7px rgba($text, 0.5); background: $black;
		position: relative; z-index: 100;
		// fluid width video - https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
		padding-bottom: 56.25%; // padding-top: 25px;
		height: 0;
		iframe {
			position: absolute; top: 0; left: 0;
			width: 100%; height: 100%;
			@include break(l) { max-width: 720px; }
		}
	}
}

#subscribe {
	text-align: center;
	padding: 2rem 1rem;
	@include break(m) { padding: 6rem 1rem 3rem; }
	@include break(l) { background: url(/assets/img/newsletter-bg.png) no-repeat 50% 100% $bg-muted; }
	i.ico {
		color: $primary; font-size: 3rem;
		@include break(l) { font-size: 3.7rem; }
	}
	h2 {
		margin: 0.5rem 0 0;
		&::before { content: none; }
	}
	small {
		display: block; max-width: 30rem; margin: 0 auto;
		a { color: lighten($text-muted, 10%); font-weight: bold; }
		a:hover, a:focus { color: darken($text-muted, 10%); }
	}
}

#wallet { // wallet preview/screen
	background: #fafafa;
	padding-bottom: 0;
	@include break(l) { background: url(/assets/img/wallet-bg.png) no-repeat 50% 100% #fafafa; }
	.wallet-screen {
		display: block; width: 100%; max-width: 1210px; margin: 2rem auto 0;
		@include break(l) { width: 90%; }
	}
}

.logo-listing { // partners & press mentions
	text-align: center;
	.title {
		margin: 0 0 1.5rem;
		&::before { content: none; }
	}
	.logos {
		.logo {
			@extend .tfx;
			width: auto; height: 2.5rem; margin: 1rem 1.5rem;
			-webkit-filter: grayscale(100%); filter: grayscale(100%);
			opacity: 0.5;
			&:hover { -webkit-filter: grayscale(0%); filter: grayscale(0%); opacity: 1; }
		}
	}
}

#team {
	li.team-member {
		text-align: center;
		margin-bottom: 1.5rem;
		&::before { content: none; }
		.photo {
			width: 130px; height: 130px; margin: 0 auto;
			border-radius: 50%; overflow: hidden;
		}
		.name {
			margin: 1.3rem 0 0;
			font-family: "OpenSans", sans-serif; font-weight: bold; font-size: 0.9rem;
		}
		.title {
			font-size: 0.75rem; line-height: 1.6;
			display: block; margin-bottom: 0.7rem;
			@include break(l) { margin-bottom: 0.2rem; }
		}
		.link {
			margin: 0 0.2rem;
			color: lighten($text-muted, 40%);
			@include break(l) { margin: 0 0.1rem; font-size: 0.85rem; }
			&.nick { cursor: help; }
			&.email:hover { color: $primary; }
			&.reddit:hover { color: #FF4500; }
			&.twitter:hover { color: #00A0D1; }
			&.linkedin:hover { color: #4875B4; }
			&.github:hover { color: $text; }
		}
	}
	hr { margin: 2rem 0 3.5rem; border-top: 5px dotted darken($bg-muted, 3%); }
}

footer {
	padding: 3rem 1rem;
	text-align: center;
	background: url(/assets/img/footer-bg.png) no-repeat 100% 100% #fafafa;
	@include break(l) { text-align: left; }
	.part {
		.title {
			margin: 0.5rem 0 0;
			@include break(l) { font-size: 1.15rem; }
		}
		ul { list-style: none; margin: 0.7rem 0 1rem; padding: 0; }
		a {
			color: lighten($text-muted, 20%); font-size: 0.8rem;
			&:hover, &:focus { color: $text-muted; }
		}
	}
	.logo {
		img {
			display: block; max-width: 10rem; margin: 0 auto 1.5rem;
			@include break(m) { margin: 0 auto 2.5rem; }
			@include break(l) { margin: 0; max-width: 12rem; }
		}
	}
	.social-buttons {
		margin: 0.7rem 0 1.5rem;
		@include break(l) { margin: 0.5rem 0 1.5rem; text-align: right; }
		i.ico { margin: 0; }
		.button {
			width: 2.7rem; height: 2.7rem; padding: 0; margin: 0 0.4rem;
			font-size: 1rem; text-align: center; line-height: 2.35;
			@include break(l) {
				width: 2.4rem; height: 2.4rem; margin: 0 0 0 0.25rem;
				font-size: 0.8rem; line-height: 2.65;
			}
			@include break(xl) {
				width: 2.7rem; height: 2.7rem; margin: 0 0 0 0.7rem;
				font-size: 1rem; line-height: 2.45;
			}
		}
	}
	.contact-email {
		@include break(l) { text-align: right; font-size: 0.85rem; }
		i.ico {
			font-size: 0.7rem; color: lighten($text-muted, 40%);
			margin-right: 0.7rem;
			position: relative; top: -1px;
		}
		a {
			color: $text-muted;
			&:hover, &:focus { color: $text; }
		}
	}
	.copyright {
		font-size: 0.8rem; color: lighten($text-muted, 20%);
		hr { margin: 2.5rem 0 1rem; border-color: darken($bg-muted, 10%); }
	}
}



// ------------[  SPECIFIC  ]------------ //

// Press page
.press-items {
	.item {
		margin-bottom: 3rem;
		@include break(xl) { margin-bottom: 5rem; }
		&:last-of-type { margin-bottom: 0; }
		.image {
			margin-bottom: 1rem;
			@include break(xl) { margin-bottom: 1.5rem; }
			img { display: block; }
		}
		.title {
			font-size: 1.3rem; line-height: 1.25;
			margin: 0 0 0.5rem;
			&::before { content: none; }
		}
		.meta {
			font-size: 0.85rem; color: lighten($text, 30%);
		}
	}
}

.subscribe-form {
	@extend %clearfix;
	max-width: 40rem; margin: 0 auto;
	& > .input {
		@extend .tfx;
		@include break(s) {
			width: 75%; float: left;
			border-top-right-radius: 0; border-bottom-right-radius: 0;
		}
		@include break(t) { width: 80%; }
		@include break(l) { font-size: 1.05rem; padding: 0.85rem 1.6rem; }
	}
	& > .submit {
		@include break(s) {
			width: 25%; float: left; margin: 0; padding: 0.7rem 0;
			border-radius: $border-radius; border-top-left-radius: 0; border-bottom-left-radius: 0;
			text-align: center;
		}
		@include break(t) { width: 20%; }
		@include break(l) { font-size: 1.05rem; padding: 0.85rem 1.6rem; border: none; }
	}
}


.no-js { // for browsers with JS disabled
	header {
		position: static;
		@include break(l) { padding: 1rem 0 0; }
		#menu-toggle { display: none; }
		.logo {
			text-align: center; margin: 0;
			img {
				@include break(l) { max-width: 6rem; }
			}
		}
	}
	nav {
		position: static;
		ul li a {
			@include break(l) { padding: 1.8rem 1.5rem; }
		}
	}
	#page {
		margin-top: 0;
		@include break(l) { margin-top: 4.5rem; }
	}
}


// ------------[  PLUG-INS  ]------------ //

// Sendinblue newsletter sign-up
#sib_embed_signup {
	.forms-builder-wrapper { position: relative; }
	#sib_loading_gif_area {
		position: absolute; z-index: 9999;
		& > img {
			display: block; margin-left: auto; margin-right: auto;
			position: relative; top: 40%;
		}
	}
	.sib-container {
		@extend %clearfix;
		.message_area {
			width: 100%; max-width: 40rem; margin: 0.5rem auto !important; padding: 0.7rem 1rem;
			border-radius: 4px;
			& > .close { display: none; }
		}
	}
}


// -------------[  HELPER  ]------------- //

.respo {
  position: fixed; bottom: 0; right: 0; width: 1.5rem;
  background: black; color: white; padding: 3px 0;
  font-size: 10px; text-align: center; text-transform: uppercase; font-weight: bold;
  .size { display: none; }
  @include break(xs) {
    .size { display: none; }
    .xs { display: block; }
  }
  @include break(s) {
    .size { display: none; }
    .s { display: block; }
  }
  @include break(m) {
    .size { display: none; }
    .m { display: block; }
  }
  @include break(t) {
    .size { display: none; }
    .t { display: block; }
  }
  @include break(l) {
    .size { display: none; }
    .l { display: block; }
  }
  @include break(xl) {
    .size { display: none; }
    .xl { display: block; }
  }
}


// MSIE 10+ fix for badly scaled SVGs
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%; 
  }
}
