/// Single side border-radius

@mixin full-border-radius($top-left-radius, $top-right-radius, $bottom-right-radius, $bottom-left-radius) {
  -webkit-border-top-left-radius: $top-left-radius;
  -moz-border-top-left-radius: $top-left-radius;
  -ms-border-top-left-radius: $top-left-radius;
  border-top-left-radius: $top-left-radius;

  -webkit-border-top-right-radius: $top-right-radius;
  -moz-border-top-right-radius: $top-right-radius;
  -ms-border-top-right-radius: $top-right-radius;
  border-top-right-radius: $top-right-radius;

  -webkit-border-bottom-right-radius: $bottom-right-radius;
  -moz-border-bottom-right-radius: $bottom-right-radius;
  -ms-border-bottom-right-radius: $bottom-right-radius;
  border-bottom-right-radius: $bottom-right-radius;

  -webkit-border-bottom-left-radius: $bottom-left-radius;
  -moz-border-bottom-left-radius: $bottom-left-radius;
  -ms-border-bottom-left-radius: $bottom-left-radius;
  border-bottom-left-radius: $bottom-left-radius;
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

/// Transitions

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin transition-property($transition-property...) {
  -webkit-transition-property: $transition-property;
  transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration...) {
  -webkit-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}
@mixin transition-timing-function($timing-function) {
  -webkit-transition-timing-function: $timing-function;
  transition-timing-function: $timing-function;
}
@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
  -moz-transition: -moz-transform $transition;
  -o-transition: -o-transform $transition;
  transition: transform $transition;
}

///Image

$imagedir:'../../assets/img/';

@mixin background($filename,$size:contain,$repeat: no-repeat) {
    background: {
        image: url(#{$imagedir}#{$filename});
        size: $size;
        repeat: $repeat;
    }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

///MEDIA QUERY
// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Before medium devices
@mixin before_md {
   @media (max-width: #{$screen-md-max}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Before extra large devices
@mixin before_xl {
   @media (max-width: #{$screen-lg-max}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}