<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/bryan.jpg" alt="Bryan Woods">
  </div>
  <h4 class="name">Bryan Woods</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: Bryan Woods"><i class="ico ico-chat"></i></span>
    <a href="https://www.linkedin.com/in/bryan-woods-3243a1167/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
  </div>
  <span class="title">E-Commerce Strategy &ndash; President at Spend.com</span>
</div><!-- .team-member -->