<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/kapil.jpg" alt="Dr Kapil Amarasinghe">
  </div>
  <h4 class="name">Dr Kapil Amarasinghe</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: joskye"><i class="ico ico-chat"></i></span>
    <a href="https://www.reddit.com/user/joskye" class="link reddit" title="Reddit"><i class="ico ico-reddit"></i></a>
    <a href="https://twitter.com/thegreatestdoc" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
    <a href="https://uk.linkedin.com/in/kapil-amarasinghe-97a71965" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
  </div>
  <span class="title">Speciality Doctor in Emergency Medicine, Community Ambassador to the Particl Project</span>
</div><!-- .team-member -->