<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/micah.jpg" alt="Micah Spruill">
  </div>
  <h4 class="name">Micah Spruill</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: Micah"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;micah&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
    <a href="https://reddit.com/u/Micah_s" class="link reddit" title="Reddit"><i class="ico ico-reddit"></i></a>
    <a href="https://twitter.com/micahspruill" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
    <a href="https://linkedin.com/in/micahspruill" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
  </div>
  <span class="title">Business &amp; Finance &ndash; Managing Partner, Aurora Investment Advisors</span>
</div><!-- .team-member -->