button, .button { // default, full buttons
  @extend %tfx;
  @include border-radius(30px);
  border: solid 1.5px $btn-border-color;
  background-color: transparent;
  color: $btn-text-color;
  &::after { content: none !important; }
  &:hover, &:focus {
    background: darken($primary, 7%);
    border-color: darken($primary, 5%);
    color: $white;
  }

  &.secondary { // secondary, border-only buttons
    border: 2px solid $primary;
    background: rgba($bg, 0.9);
    color: $primary;
    &:hover, &:focus {
      border-color: darken($primary, 5%);
      background: rgba($bg, 0.9);
      color: darken($primary, 5%);
    }
  }

  // icons in buttons
  i.ico { margin-right: 0.3rem; }

  &.ext:not(.secondary) {
    &::after {
      opacity: 1; // fix arrows singaling external links in main buttons
      top: -4px;
      font-size: 0.5rem;
      margin-left: 0.4rem;
    } 
    &:hover::after { color: $white; }
  }

}