.owl-item {
  @include box-shadow(0 4px 25px 0 #f0f0f0);
  background-color: $white;
  @include border-radius(10px);
  max-width: 22.313rem;
  margin-top: 0.41rem;
  margin-bottom: 2.375rem;

  .img-container {
    padding: 2.5rem 3rem 2.5rem 3rem;
    max-width: 357px;
    max-height: 300px;
    min-height: 300px;
    border-bottom: 1px solid $carousel-border-color;
  }
  img {
    max-width: 357px;
    height: auto;
  }

  .content-container {
    padding: 0.81rem 3.44rem 0rem 2.56rem;

    h2 { // feature title
      width: 281px;
      min-height: 68px;
      height: 100%;
      margin: 0rem;
    }
    p { // feature desc
      line-height: 1.77;
      color: $text-color;
      font-size: 0.813rem;
      min-height: 300px;
      margin-bottom: 2.375rem;
    }
  }
}

.owl-theme .owl-dots {
  .owl-dot {
    // Dots with numbers
    &.dot-numbered {
      $size: 28px;
      @extend %tfx;
      margin: 0 5px;
      font-size: 0.75rem;
      color: $general-text-color;
      font-weight: 500;
      border: 1.5px solid transparent;
      border-radius: 50%;
      width: $size;
      height: $size;
      transform: translate (10px, 10px);
      line-height: ($size - 1px);
      @include break(xl) { margin: 0 14px; }
      &:hover, &:focus {
        background: rgba($text-muted, 0.15);
      }
      &.active {
        background: $color;
        color: $color-white;
        font-weight: 700;
      }
    }
  
    // Simple, color-only dots
    &.dot-simple {
      @extend %tfx;
      &:hover {
        span { background: darken($bg-muted, 30%); }
      }
      &.active {
        span { background: $color; }
      }
    }
  }
}