---
layout: default
---

<section id="page-title">
	<div class="row">
		<div class="column">
			<h1 class="title">Particl is hiring!</h1>
		</div>
		<div class="large-7 columns">
			<p>
				We are a startup on a 9 month schedule to deliver our MVP (minimal viable product) which includes a decentralized marketplace, encrypted communication tools, a built in confidential currency and integrations with other crypto-currency projects to provide a use-case for any token.
			</p>
			<p>
				The marketplace and underlying privacy platform will feature confidential transactions, 2-party escrow, decentralized self-governance and open doors for person to person global online shopping.
			</p>
		</div>
		<div class="large-4 large-offset-1 columns">
			<p>We are actively seeking passionate, driven creatives in the following career paths:</p>
			<ul>
				<li><a class="scroll" href="#c01">C++ Developer</a></li>
				<li><a class="scroll" href="#c02">Junior Developer</a></li>
				<li><a class="scroll" href="#c03">Social Media Coordinator</a></li>
			</ul>
		</div>
	</div>
</section><!-- #page-title -->


<section id="c01" class="feature">
	<div class="row">
		<div class="column">
			<h2>C++ Developer</h2>
		</div>
		<div class="large-6 columns">
			<p>
				<strong>This International project is looking for a hard-working C++ Developer.</strong> If you are self-driven, dependable and can work on own initiative, then this could be the job for you. Particl Project will offer you the opportunity to work on a variety of projects and with the latest technologies on the market.
			</p>
			<p>
				<strong>The candidate should be able to:</strong> design and build excellent and reliable application software; identify and fix bugs; and, work on various projects at any given time. He/she should also be flexible enough to work in different time zones with remote colleagues. Time management skills and detail orientated is a must.
			</p>
			<p>
				If you feel that this is the job for you and you meet the requirements, please send your CV and motivational letter to:&ensp;<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;"><i class="ico ico-email"></i>&ensp;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;</a>
			</p>
		</div>
		<div class="medium-6 large-3 large-offset-1 columns">
			<h4>The candidate skill requirements:</h4>
			<ul>
				<li>Solid C++ development knowledge and experience</li>
				<li>Level DB</li>
				<li>SQLite3</li>
				<li>Boost</li>
				<li>Boost Unit tests</li>
				<li>RPC / HTTP / Rest</li>
				<li>JSON</li>
				<li>CI</li>
				<li>git</li>
			</ul>
		</div>
		<div class="medium-6 large-2 columns">
			<h4>The candidate will also need to have an understanding of:</h4>
			<ul>
				<li>Electron</li>
				<li>JavaScript</li>
				<li>Angular</li>
				<li>Cryptocurrencies</li>
			</ul>
		</div>
	</div>
</section><!-- .feature -->


<section id="c02" class="feature">
	<div class="row">
		<div class="column">
			<h2>Junior Developer</h2>
		</div>
		<div class="large-7 columns">
			<p>
				<strong>This International project is looking for a hard-working Junior Developer.</strong> If you are self-driven, dependable and can work on own initiative, then this could be the job for you. Particl Project will offer you the opportunity to work on a variety of projects and with the latest technologies on the market. 
			</p>
			<p>
				<strong>The candidate should be able to:</strong> design and build excellent and reliable application software; identify and fix bugs; and, work on various projects at any given time. He/she should also be flexible enough to work in different time zones with remote colleagues. Time management skills and detail orientated is a must.
			</p>
			<p>
				If you feel that this is the job for you and you meet the requirements, please send your CV and motivational letter to:&ensp;<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;"><i class="ico ico-email"></i>&ensp;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;</a>
			</p>
		</div>
		<div class="medium-6 large-2 large-offset-1 columns">
			<h4>Skills Requirements:</h4>
			<ul>
				<li>Documentation</li>
				<li>DevOps</li>
				<li>Unit Tests</li>
			</ul>
		</div>
		<div class="medium-6 large-2 columns">
			<h4>The candidate should also be familiar with:</h4>
			<ul>
				<li>Javascript</li>
				<li>Angular</li>
				<li>RPC / HTTP / Rest</li>
				<li>JSON</li>
				<li>C++</li>
			</ul>
		</div>
	</div>
</section><!-- .feature -->


<section id="c03" class="feature">
	<div class="row">
		<div class="column">
			<h2>Social Media Coordinator</h2>
		</div>
		<div class="large-5 columns">
			<p>
				<strong>Responsibilities:</strong> Our social manager needs to be on the leading edge of distributed ledger and consensus network trends, as well as, be well versed in P2P systems, ecommerce trends and the importance of privacy within communication protocols. We’re looking for someone that can generate inbound leads, gain followers and get the crypto space and outlier communities excited about our upcoming decentralized marketplace.
			</p>
			<p>
				This position will craft marketing content that attracts and supports our community and the industry in general. Our ideal candidate will have a solid grasp on a variety of marketing strategies and a portfolio of results.
			</p>
			<p>
				If you feel that this is the job for you and you meet the requirements, please send your CV and motivational letter to:&ensp;<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;"><i class="ico ico-email"></i>&ensp;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;</a>
			</p>
		</div>
		<div class="large-6 large-offset-1 columns">
			<h4>Qualifications:</h4>
			<ul>
				<li>Bachelor’s degree in a related field like marketing, computer science or public relations.</li>
				<li>Prior experience with social media marketing is a must</li>
				<li>Proficiency in general office applications (such as Word, Excel, etc)</li>
				<li>Exceptional verbal and written communication skills for blogging, managing regular posts across multiple platforms and responding to followers</li>
				<li>Ability to develop content and draft campaigns autonomously</li>
				<li>Knowledge and access to a graphics platform such as Adobe suite.</li>
				<li>Experience the marketing automation tools (such as Hootsuite)</li>
			</ul>
			<h4>Optional but highly recommended:</h4>
			<ul>
				<li>Familiarity with HTML</li>
				<li>Operation of a well-known blog</li>
				<li>Strong Twitter presence with a mass following</li>
			</ul>
		</div>
	</div>
</section><!-- .feature -->