---
layout: default
---

<section class="page-title">
	<div class="row">
		<div class="columns">
			<h1 class="title centered">Career</h1>
		</div>
	</div>
	<div class="row">
		<div class="part large-offset-2 large-4 columns">
			<p class="large">
				We are a startup on a schedule to deliver our MVP (minimal viable product) which includes a decentralized marketplace, encrypted communication tools, a built in confidential currency and integrations with other crypto-currency projects to provide a use-case for any coin.
			</p>
		</div>
		<div class="part large-4 columns">
			<p class="large">
				The marketplace and underlying privacy platform will feature confidential transactions, 2-party escrow, decentralized self-governance and open doors for person to person global online shopping.
			</p>
			<p class="small">
				We are actively seeking passionate, driven creatives in the following career paths:
			</p>
		</div>
	</div>
</section><!-- #page-title -->

<hr />

<section class="career-offer">
	<div class="row">
		<div class="column">
			<h5 class="type">FULL-TIME</h5>
			<h2 class="title">C++ Developer</h2>
		</div>
		<div class="large-6 columns description">
			<p class="large">
				This International project is looking for a hard-working C++ Developer. If you are self-driven, dependable and can work on own initiative, then this could be the job for you. Particl Project will offer you the opportunity to work on a variety of projects and with the latest technologies on the market.
			</p>
			<p class="large">
				The candidate should be able to: design and build excellent and reliable application software; identify and fix bugs; and, work on various projects at any given time. He/she should also be flexible enough to work in different time zones with remote colleagues. Time management skills and detail orientated is a must.
			</p>
			<div class="apply">
        <div class="text">
          If you feel that this is the job for you and you meet the requirements, please send your CV and motivational letter to:
        </div>
        <a class="button full" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;?subject=Application for C++ Dev">Apply</a>
      </div>
		</div>
		<div class="medium-6 large-3 large-push-1 columns requirements">
			<h5 class="subtitle">Skill requirements</h5>
			<ul>
				<li>Solid C++ development knowledge and experience</li>
				<li>Level DB</li>
				<li>SQLite3</li>
				<li>Boost</li>
				<li>Boost Unit tests</li>
				<li>RPC / HTTP / Rest</li>
				<li>JSON</li>
				<li>CI</li>
				<li>git</li>
			</ul>
		</div>
		<div class="medium-6 large-2 large-push-1 columns requirements">
			<h5 class="subtitle">+ understanding of</h5>
			<ul>
				<li>Electron</li>
				<li>JavaScript</li>
				<li>Angular</li>
				<li>Cryptocurrencies</li>
			</ul>
		</div>
	</div>
</section><!-- .feature -->

<hr />

<section class="career-offer">
	<div class="row">
		<div class="column">
			<h5 class="type">FULL-TIME</h5>
			<h2 class="title">Junior Developer</h2>
		</div>
		<div class="large-6 columns description">
			<p class="large">
				This International project is looking for a hard-working Junior Developer. If you are self-driven, dependable and can work on own initiative, then this could be the job for you. Particl Project will offer you the opportunity to work on a variety of projects and with the latest technologies on the market.
			</p>
			<p class="large">
				The candidate should be able to: design and build excellent and reliable application software; identify and fix bugs; and, work on various projects at any given time. He/she should also be flexible enough to work in different time zones with remote colleagues. Time management skills and detail orientated is a must.
			</p>
			<div class="apply">
        <div class="text">
          If you feel that this is the job for you and you meet the requirements, please send your CV and motivational letter to:
        </div>
        <a class="button full" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;?subject=Application for Junior Dev">Apply</a>
      </div>
		</div>
		<div class="medium-6 large-3 large-push-1 columns requirements">
			<h5 class="subtitle">Skills requirements</h5>
			<ul>
				<li>Documentation</li>
				<li>DevOps</li>
				<li>Unit Tests</li>
			</ul>
		</div>
		<div class="medium-6 large-2 large-push-1 columns requirements">
			<h5 class="subtitle">+ familiarity with</h5>
			<ul>
				<li>Javascript</li>
				<li>Angular</li>
				<li>RPC / HTTP / Rest</li>
				<li>JSON</li>
				<li>C++</li>
			</ul>
		</div>
	</div>
</section><!-- .feature -->

{% include particl-desktop.html %}
