---
layout: default
---

<section id="page-title" class="general-careers">
	<div class="row">
		<div class="columns">
			<h1 class="header-line-height text-center">Career</h1>
		</div>
	</div>
	<div class="row">
		<div class="part large-offset-2 large-4 columns no-left-padding">
			<p class="large">
				We are a startup on a 9 month schedule to deliver our MVP (minimal viable product) which includes a decentralized marketplace, encrypted communication tools, a built in confidential currency and integrations with other crypto-currency projects to provide a use-case for any token.
			</p>
		</div>

		<div class="part large-4 columns no-left-padding">
			<p class="large">
				The marketplace and underlying privacy platform will feature confidential transactions, 2-party escrow, decentralized self-governance and open doors for person to person global online shopping.
			</p>
			<p class="small">
				We are actively seeking passionate, driven creatives in the following career paths:
			</p>
			<ul>
				<li><a class="career link-small-dark" href="#c01">C++ Developer</a></li>
				<li><a class="career link-small-dark" href="#c02">Junior Developer</a></li>
			</ul>
		</div>
	</div>
</section><!-- #page-title -->

<hr />

<section id="c01" class="careers-desc">
	<div class="row">
		<div class="column careers-header-container no-left-padding">
			<h5 class="lead2">FULL-TIME</h5>
			<h2>C++ Developer</h2>
		</div>
		<div class="large-6 columns c-desc devepoler-desc no-left-padding">
			<p class="large">
				This International project is looking for a hard-working C++ Developer. If you are self-driven, dependable and can work on own initiative, then this could be the job for you. Particl Project will offer you the opportunity to work on a variety of projects and with the latest technologies on the market.
			</p>
			<p class="large">
				The candidate should be able to: design and build excellent and reliable application software; identify and fix bugs; and, work on various projects at any given time. He/she should also be flexible enough to work in different time zones with remote colleagues. Time management skills and detail orientated is a must.
			</p>
			<p class="large">
				If you feel that this is the job for you and you meet the requirements, please send your CV and motivational letter to:&ensp;<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="careers-email">&ensp;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;</a>
			</p>
		</div>
		<div class="large-3 columns c-desc no-left-padding">
			<h5 class="lead2">The candidate skill requirements:</h5>
			<ul>
				<li>Solid C++ development knowledge and experience</li>
				<li>Level DB</li>
				<li>SQLite3</li>
				<li>Boost</li>
				<li>Boost Unit tests</li>
				<li>RPC / HTTP / Rest</li>
				<li>JSON</li>
				<li>CI</li>
				<li>git</li>
			</ul>
		</div>
		<div class="large-3 columns c-desc no-left-padding">
			<h5 class="lead2">The candidate will also need to have an understanding of:</h5>
			<ul>
				<li>Electron</li>
				<li>JavaScript</li>
				<li>Angular</li>
				<li>Cryptocurrencies</li>
			</ul>
		</div>
	</div>
</section><!-- .feature -->

<hr />

<section id="c02" class="careers-desc">
	<div class="row">
		<div class="column careers-header-container no-left-padding">
			<h5 class="lead2">FULL-TIME</h5>
			<h2>Junior Developer</h2>
		</div>
		<div class="large-6 columns devepoler-desc c-desc no-left-padding">
			<p class="large">
				This International project is looking for a hard-working Junior Developer. If you are self-driven, dependable and can work on own initiative, then this could be the job for you. Particl Project will offer you the opportunity to work on a variety of projects and with the latest technologies on the market.
			</p>
			<p class="large">
				The candidate should be able to: design and build excellent and reliable application software; identify and fix bugs; and, work on various projects at any given time. He/she should also be flexible enough to work in different time zones with remote colleagues. Time management skills and detail orientated is a must.
			</p>
			<p class="large">
				If you feel that this is the job for you and you meet the requirements, please send your CV and motivational letter to:&ensp;<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="careers-email">&ensp;hello&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;</a>
			</p>
		</div>
		<div class="large-3 columns c-desc no-left-padding">
			<h5 class="lead2">Skills Requirements:</h5>
			<ul>
				<li>Documentation</li>
				<li>DevOps</li>
				<li>Unit Tests</li>
			</ul>
		</div>
		<div class="large-3 columns c-desc no-left-padding">
			<h5 class="lead2">The candidate should also be familiar with:</h5>
			<ul>
				<li>Javascript</li>
				<li>Angular</li>
				<li>RPC / HTTP / Rest</li>
				<li>JSON</li>
				<li>C++</li>
			</ul>
		</div>
	</div>
</section><!-- .feature -->

{% include particl-desktop.html %}