---
layout: default
---

<section class="page-title centered">
	<div class="row">
		<div class="column">
      <h1 class="title">Contact us</h1>
      <p class="large">Get in touch via our general email address or contact some department directly.<br>For secure matters (security issues &amp; bugs), you can reach us via PGP/GPG keys provided below.</p>
      <a href="xxxxxxxxxxx" class="button full">hello @ xxxxxx.io</a>
    </div>
	</div>
</section><!-- #page-title -->

<hr>

<section class="contact-us">
	<div class="row">
    <div class="column">
      <div class="grid small-block-grid-1 medium-block-grid-2 large-block-grid-4">

        <div class="part marketing">
          <h2 class="title">Marketing &amp; Press</h2>
          <p>xxxxxxxx</p>
          <a href="mailto:xxxxxxxxxx" class="hollow small button">xxxxxxxx</a>
        </div><!-- .marketing -->

        <div class="part parnerships">
          <h2 class="title">Partnerships</h2>
          <p>xxxxxxxx</p>
          <a href="mailto:xxxxxxxxxx" class="hollow small button">xxxxxxxx</a>
        </div><!-- .parnerships -->

        <div class="part careers">
          <h2 class="title">Careers</h2>
          <p>xxxxxxxx</p>
          <a href="mailto:xxxxxxxxxx" class="hollow small button">xxxxxxxx</a>
        </div><!-- .careers -->

        <div class="part development">
          <h2 class="title">Development</h2>
          <p>xxxxxxxx</p>
          <a href="mailto:xxxxxxxxxx" class="hollow small button">xxxxxxxx</a>
        </div><!-- .development -->

      </div>
    </div>
	</div>
</section><!-- .contact-us -->

<hr>

<section class="secure-disclosure">
  <div class="row">
    <div class="column">
      <h3 class="title">Secure disclosure <small>(PGP/GPG)</small></h3>
      <a href="/assets/core.particl.io_pub.asc" class="button full" target="_blank" title="core.particl.io_pub.asc (52D98BD159DFAF40)">Download our public key</a>
      <p class="large">
        We take security seriously. If you found a critical bug, security issue or just want to communicate in encrypted manner, use our provided public key to encrypt your emails.
      </p>
    </div>
  </div>
</section>


{% include particl-desktop.html %}
