---
layout: default
---

<section class="wallets general-download">
        <div class="row wallets-header">
		<div class="columns large-12 no-left-padding">
		        <h1>Wallets</h1>
		</div>
        </div>
	<div class="row">
		<div class="part large-12 columns desc-form no-left-padding">
			<p class="large">
                          Particl comes in four forms: Particl Desktop, Partil Qt, Particl-cli, Particl Copay
                        </p>
		</div>
	</div>
	<div class="row wallets-view">
		<div class="large-12 small-12 columns no-left-padding">
                    <table class="download-table" width="100%">
                        <thead>
                            <tr>
                                <th scope="col"><h4>Particl Desktop</h4></th>
                                <th scope="col"><h4>Particl QT</h4></th>
                                <th scope="col"><h4>Particl-cli</h4></th>
                                <th scope="col"><h4>Particl Copay</h4></th>
                                <th scope="col"><h4>Feature</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="icon icon-check" data-label="Particl Desktop"></td>
                                <td class="icon icon-check" data-label="Particl QT"></td>
                                <td class="icon icon-check" data-label="Particl-cli"></td>
                                <td class="icon icon-check" data-label="Particl Copay"></td>
                                <td class="type-name" data-label="Feature">Opensource</td>
                            </tr>
                            <tr>
                                <td class="icon icon-check" scope="row" data-label="Particl Desktop"></td>
                                <td class="icon icon-check" data-label="Particl QT"></td>
                                <td class="icon icon-check" data-label="Particl-cli"></td>
                                <td class="icon icon-check" data-label="Particl Copay"></td>
                                <td class="type-name" data-label="Feature">Send/receive (public) PART coins</td>
                            </tr>
                            <tr>
                                <td class="icon icon-check" scope="row" data-label="Particl Desktop"></td>
                                <td class="icon icon-check" data-label="Particl QT"></td>
                                <td class="icon icon-check" data-label="Particl-cli"></td>
                                <td class="icon icon-uncheck" data-label="Particl Copay"></td>
                                <td class="type-name" data-label="Feature">Send/receive (private) Blind and Anon tokens</td>
                            </tr>
                            <tr>
                                <td class="icon icon-check" scope="row" data-label="Particl Desktop"></td>
                                <td class="icon icon-check" data-label="Particl QT"></td>
                                <td class="icon icon-check" data-label="Particl-cli"></td>
                                <td class="icon icon-uncheck" data-label="Particl Copay"></td>
                                <td class="type-name" data-label="Feature">Staking</td>
                            </tr>
                            <tr>
                                <td class="icon icon-check" scope="row" data-label="Particl Desktop"></td>
                                <td class="icon icon-check" data-label="Particl QT"></td>
                                <td class="icon icon-check" data-label="Particl-cli"></td>
                                <td class="icon icon-uncheck" data-label="Particl Copay"></td>
                                <td class="type-name" data-label="Feature">Signing/verifying of messages</td>
                            </tr>
                            <tr>
                                <td class="icon icon-uncheck" scope="row" data-label="Particl Desktop"></td>
                                <td class="icon icon-check" data-label="Particl QT"></td>
                                <td class="icon icon-check" data-label="Particl-cli"></td>
                                <td class="icon icon-uncheck" data-label="Particl Copay"></td>
                                <td class="type-name" data-label="Feature">Advanced wallet management, coin control</td>
                            </tr>
                            <tr>
                                <td class="icon icon-check" scope="row" data-label="Particl Desktop"></td>
                                <td class="icon icon-check" data-label="Particl QT"></td>
                                <td class="icon icon-check" data-label="Particl-cli"></td>
                                <td class="icon icon-check" data-label="Particl Copay"></td>
                                <td class="type-name" data-label="Feature">Multisignature</td>
                            </tr>
                            <tr>
                                <td class="icon icon-check" scope="row" data-label="Particl Desktop"></td>
                                <td class="icon icon-check" data-label="Particl QT"></td>
                                <td class="icon icon-check" data-label="Particl-cli"></td>
                                <td class="icon icon-check" data-label="Particl Copay"></td>
                                <td class="type-name" data-label="Feature">HD Wallet</td>
                            </tr>
                            <tr>
                                <td class="icon icon-check" scope="row" data-label="Particl Desktop"></td>
                                <td class="icon icon-uncheck" data-label="Particl QT"></td>
                                <td class="icon icon-uncheck" data-label="Particl-cli"></td>
                                <td class="icon icon-check" data-label="Particl Copay"></td>
                                <td class="type-name" data-label="Feature">Multiple Wallets</td>
                            </tr>
                            <tr>
                                <td class="icon icon-uncheck" scope="row" data-label="Particl Desktop"></td>
                                <td class="icon icon-uncheck" data-label="Particl QT"></td>
                                <td class="icon icon-uncheck" data-label="Particl-cli"></td>
                                <td class="icon icon-check" data-label="Particl Copay"></td>
                                <td class="type-name" data-label="Feature">Support Fiat Currencies</td>
                            </tr>
                            <tr>
                                <td class="platform-name" colspan="2" align="center" scope="row" data-label="Particl Desktop">Win / macOS / Linux</td>
                                <td class="platform-name" colspan="2" align="center" data-label="Particl QT">Win / macOS / Linux / Android</td>
                                <td class="platform-name" data-label="Particl-cli">Platform</td>
                            </tr>
                        </tbody>
                    </table>
		</div>
	</div>
</section>

<hr />

<section id="desktop" class="version-list">
	<div class="row">
		<div class="large-4 columns">
			<img src="/assets/img/illustrations/downloads_particl_desktop.png" alt="Intro Swiss Knife" class="illustration">
		</div>
		<div class="large-8 columns no-left-padding">
			<h5 class="lead2">V.0.15.1.2</h5>
			<h2>Particl Desktop</h2>
			<p class="large">
                          Particl Desktop is Particl’s main GUI wallet.  It’s beautiful, feature-rich client (in development | released on testnet)
                        </p>
			<a href="https://github.com/particl/particl-desktop/releases/tag/v1.1.0" class="center link-small-dark">Installation Guide</a>
                        <div class="version-list-links">
                           <a href="https://github.com/particl/particl-desktop/releases/download/v1.1.0/particl-desktop-1.1.0-win-x64.zip" target="_blank" class="win-64 link">Windows, 64-bit</a>
                           <a href="https://github.com/particl/particl-desktop/releases/download/v1.1.0/particl-desktop-1.1.0-linux-x64.tar.gz" target="_blank" class="linux-64 link">Linux, 64-bit (tar .gz)</a>
                           <a href="https://github.com/particl/particl-desktop/releases/download/v1.1.0/particl-desktop-1.1.0-mac.zip" target="_blank" class="mac-64 link">Mac OS X, 64-bit</a>
                           <a href="https://github.com/particl/particl-desktop/releases/download/v1.1.0/particl-desktop-1.1.0-win.exe" target="_blank" class="win-32 link">Windows, 32-bit</a>
                           <a href="https://github.com/particl/particl-desktop/releases/download/v1.1.0/particl-desktop-1.1.0-linux-amd64.deb" target="_blank" class="linux-32 link">Linux, 64-bit</a>
                           <a href="https://github.com/particl/particl-desktop/archive/v1.1.0.zip" target="_blank" class="source-code link">Source code (.zip)</a>
                        </div>
		</div>

	</div>
</section><!-- .desktop -->

<hr />

<section id="qt" class="version-list">
	<div class="row">
		<div class="large-4 columns">
			<img src="/assets/img/illustrations/downloads_particl_qt.png" alt="Intro Swiss Knife" class="illustration">
		</div>
		<div class="large-8 columns no-left-padding">
			<h5 class="lead2">V.0.15.1.2</h5>
			<h2>Particl Core QT</h2>
			<p class="large">
                          Particl Qt is suitable for everyone and highly recommended for beginners, as it's feature-rich, user-friendly and easy to setup. Download latest release, double-click Particl executable (in bin/ directory) and you're done.
                        </p>
			<a href="https://particl.news/release-particl-core-0-15-1-1-6d1d82e9a86b" target="_blank" class="center link-small-dark">Installation Guide</a>
                        <div class="version-list-links">
                           <a href="https://github.com/particl/particl-core/releases/download/v0.15.1.2/particl-0.15.1.2-win64.zip" target="_blank" class="win-64 link">Windows, 64-bit</a>
                           <a href="https://github.com/particl/particl-core/releases/download/v0.15.1.2/particl-0.15.1.2-x86_64-linux-gnu.tar.gz" target="_blank" class="linux-64 link">Linux, 64-bit (tar .gz)</a>
                           <a href="https://github.com/particl/particl-core/releases/download/v0.15.1.2/particl-0.15.1.2-osx-unsigned.dmg" target="_blank" class="mac-64 link">Mac OS X, 64-bit</a>
                           <a href="https://github.com/particl/particl-core/releases/download/v0.15.1.2/particl-0.15.1.2-win32.zip" target="_blank" class="win-32 link">Windows, 32-bit</a>
                           <a href="https://github.com/particl/particl-core/releases/download/v0.15.1.2/particl-0.15.1.2.tar.gz" target="_blank" class="linux-32 link">Linux, 32-bit</a>
                           <a href="https://github.com/particl/particl-core/archive/v0.15.1.2.zip" target="_blank" class="source-code link">Source code (.zip)</a>
                        </div>
		</div>
	</div>
</section><!-- .desktop -->

<hr />

<section id="cli" class="version-list">
	<div class="row">
		<div class="large-4 columns">
			<img src="/assets/img/illustrations/downloads_particl_cli.png" alt="Intro Swiss Knife" class="illustration">
		</div>
		<div class="large-8 columns no-left-padding">
			<h5 class="lead2">V.0.15.1.2</h5>
			<h2>Particl-cli</h2>
			<p class="large">
                          Particl-cli offers all the essential features, but doesn't include all the advanced bells and whistles of Particl graphical clients. Particl-cli is recommended for advanced users.
                        </p>
			<a href="https://particl.news/release-particl-core-0-15-1-1-6d1d82e9a86b" target="_blank" class="center link-small-dark">Installation Guide</a>
                        <div class="version-list-links">
                           <a href="https://github.com/particl/particl-core/releases/tag/v0.15.1.1"  target="_blank"class="source-code link">Github</a>
                        </div>
		</div>
	</div>
</section><!-- .desktop -->

<hr />

<section id="copay" class="version-list">
	<div class="row">
		<div class="large-4 columns text-center copay-img-cont">
			<img src="/assets/img/illustrations/downloads_particl_copay.png" alt="Intro Swiss Knife" class="illustration">
		</div>
		<div class="large-8 columns no-left-padding">
			<h5 class="lead2">v.3.7.12</h5>
			<h2>Particl Copay</h2>
			<p class="large">
                          Copay is a secure particl wallet platform for both desktop and mobile devices.
                        </p>
			<a href="https://play.google.com/store/apps/details?id=io.particl.copay" target="_blank" class="center link-small-dark">Download Particl Mobile (Android)</a>
		</div>
	</div>
</section><!-- .desktop -->

<hr class="last-hr-copay" />

{% include particl-desktop.html %}