---
layout: default
---

<section class="page-title">
  <div class="row">
    <div class="large-5 columns">
      <h1 class="title">Downloads</h1>
      <p class="large">
        Particl Desktop is our flagship product and is the best application to begin using PART. All available and in-development features are bundled in Desktop.
      </p>
    </div>
  </div>
</section>

<hr />

<section id="desktop" class="version-list">
	<div class="row">
		<div class="large-4 columns">
			<img src="/assets/img/illustrations/particl-desktop.png" alt="Particl Desktop" class="illustration">
		</div>
		<div class="large-8 columns">
			<h5 class="lead2" id="particl-desktop-version"></h5>
			<h2>Particl Desktop <small>(with Open Marketplace)</small></h2>
			<p class="large">
        Particl Desktop is Particl’s main GUI wallet. It’s beautiful and feature-rich client, recommended for most users.
      </p>
      <p class="large">
        To enable Open Marketplace, you need to create a new wallet named <code>Market</code>.
      </p>
      <ul class="guides">
        <li><a href="https://particl.news/tutorial-how-to-use-the-private-and-trustless-particl-marketplace-11839ea30e09" target="_blank" class="center link-small-dark">How to access and use Particl Open Marketplace</a></li>
        <li><a href="https://github.com/particl/particl-desktop/releases/latest" target="_blank" class="center link-small-dark">All releases on GitHub</a></li>
      </ul>
			<div class="version-list-links">
        <a id="desktop-win-exe" target="_blank" class="link">
          <i class="ico ico-win"></i>Windows <span class="tag">exe</span>
        </a>
        <a id="desktop-linux-deb" target="_blank" class="link">
          <i class="ico ico-linux-ubuntu"></i>Ubuntu &amp; Debian Linux <span class="tag">deb</span>
        </a>
        <a id="desktop-mac-dmg" target="_blank" class="link">
          <i class="ico ico-macos"></i>macOS <span class="tag">dmg</span>
        </a>
				<a id="desktop-win64" target="_blank" class="link">
          <i class="ico ico-win"></i>Windows <span class="tag">zip</span>
        </a>
        <a id="desktop-linux-rpm" target="_blank" class="link">
          <i class="ico ico-linux-fedora"></i>Fedora Linux <span class="tag">rpm</span>
        </a>
        <a id="desktop-mac" target="_blank" class="link">
          <i class="ico ico-macos"></i>macOS <span class="tag">zip</span>
        </a>
				<a id="desktop-linux64" target="_blank" class="link">
          <i class="ico ico-linux"></i>Linux <span class="tag">tar.gz</span>
        </a>
        <a id="desktop-source" target="_blank" class="link">
          <i class="ico ico-github"></i>Source code <span class="tag">zip</span>
        </a>
      </div>
		</div>

	</div>
</section><!-- .desktop -->

<hr />

<section id="qt" class="version-list">
	<div class="row">
		<div class="large-4 columns">
			<img src="/assets/img/illustrations/particl-core.png" alt="Particl Qt" class="illustration">
		</div>
		<div class="large-8 columns">
			<h5 class="lead2" id="particl-core-version"></h5>
			<h2>Particl Core (Qt) <small>(with Ledger wallet support)</small></h2>
			<p class="large">
				Particl Qt is suitable for everyone and highly recommended for beginners, as it's feature-rich, user-friendly and easy to setup. Download latest release, double-click Particl executable (in <code>bin/</code> directory) and you're done.
      </p>
      <ul class="guides">
        <li><a href="https://particl.wiki/tutorial/ledger" target="_blank" class="center link-small-dark">Ledger hardware wallet setup guide</a></li>
        <li><a href="https://github.com/particl/particl-core/releases/tag/v0.18.1.6" target="_blank" class="center link-small-dark">All releases on GitHub</a><br></li>
      </ul>
			<div class="version-list-links">
        <a id="core-win64-exe" target="_blank" class="link">
          <i class="ico ico-win"></i>Windows <span class="tag">exe</span>
        </a>
        <a id="core-linux64" target="_blank" class="link">
          <i class="ico ico-linux"></i>Linux <span class="tag">tar.gz</span>
        </a>
        <a id="core-mac" target="_blank" class="link">
          <i class="ico ico-macos"></i>macOS <span class="tag">dmg</span>
        </a>
        <a id="core-win64" target="_blank" class="link">
          <i class="ico ico-win"></i>Windows <span class="tag">zip</span>
        </a>
				<a id="core-mac-tar" target="_blank" class="link">
          <i class="ico ico-macos"></i>macOS <span class="tag">tar.gz</span>
        </a>
        <a id="core-linux-arm" target="_blank" class="link">
          <i class="ico ico-linux"></i>Linux <span class="tag">arm</span>
        </a>
				<a id="core-source" target="_blank" class="link">
          <i class="ico ico-github"></i>Source code <span class="tag">zip</span>
        </a>
			</div>
		</div>
	</div>
</section><!-- .core -->

<hr />

<section id="cli" class="version-list">
	<div class="row">
		<div class="large-4 columns">
			<img src="/assets/img/illustrations/particl-cli.png" alt="Particl CLI" class="illustration">
		</div>
		<div class="large-8 columns">
			<h5 class="lead2" id="particl-cli-version"></h5>
			<h2>Particl-cli</h2>
			<p class="large">
				Particl-cli offers all the essential features, but doesn't include all the advanced bells and whistles of Particl graphical clients. Particl-cli is recommended for advanced users.
			</p>
			<ul class="guides">
        <li><a href="https://particl.wiki/tutorial/particl-cli/start" target="_blank" class="center link-small-dark">Installation Guide</a></li>
      </ul>
			<div class="version-list-links">
				<a id="cli-source" target="_blank" class="link">
          <i class="ico ico-github"></i>Github
        </a>
			</div>
		</div>
	</div>
</section><!-- .cli -->

<hr />

<section id="copay" class="version-list">
	<div class="row">
		<div class="large-4 columns text-center">
			<img src="/assets/img/illustrations/particl-copay.png" alt="Particl Copay" class="illustration">
		</div>
		<div class="large-8 columns">
			<h5 class="lead2" id="particl-copay-version"></h5>
			<h2>Particl Copay</h2>
			<p class="large">
				Copay is a secure multi-coin wallet for Particl and Bitcoin, supporting desktop and mobile devices.
			</p>
      <div class="version-list-links">
        <a href="https://play.google.com/store/apps/details?id=io.particl.copay" target="_blank" class="link">
          <i class="ico ico-android"></i>Google Play <span class="tag">Android</span>
        </a>
        <a href="https://itunes.apple.com/app/particl-copay/id1449589645" target="_blank" class="link">
          <i class="ico ico-macos"></i>App Store <span class="tag">iOS</span>
        </a>
        <a href="https://github.com/particl/copay/releases" target="_blank" class="link">
          <i class="ico ico-github"></i>Github <span class="tag">PC</span>
        </a>
      </div>
		</div>
	</div>
</section><!-- .copay -->

<!-- flare isn't available anymore
<hr />
<section id="flare" class="version-list">
	<div class="row">
		<div class="large-4 columns text-center">
			<img src="/assets/img/illustrations/flare-wallet.png" alt="Flare Wallet" class="illustration">
		</div>
		<div class="large-8 columns">
			<h5 class="lead2">Third-party app</h5>
			<h2>Flare Wallet</h2>
			<p class="large">
				Secure privacy focused multi-currency wallet (for Particl, Bitcoin, Ethereum and more), featuring Instant Swaps. Supports both desktop and mobile devices.
      </p>
      <p class="small">
        Note: Third-party apps are not maintained by Particl Project.
      </p>
      <div class="version-list-links">
        <a href="https://flarewallet.io/" target="_blank" class="link">
          <i class="ico ico-image-upload"></i>Flare Wallet <!--span class="tag">3-rd party app</span>
        </a>
      </div>
		</div>
	</div>
</section>
flare -->

<section class="cta">
  <a href="/part-exchanges/" class="full button">Buy Particl</a>
  <a href="/user-guides/" class="hollow button">User Guides</a>
</section>


<section class="wallets general-download">
  <div class="row wallets-view">
    <div class="column">
      <table class="download-table full-width">
        <thead>
          <tr>
            <th><h4>Particl Desktop</h4></th>
            <th><h4>Particl Qt</h4></th>
            <th><h4>Particl-cli</h4></th>
            <th><h4>Particl Copay</h4></th>
            <th class="type-name"><h4>Feature</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="type-name">Opensource</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="type-name">Send/receive (public) PART coins</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="type-name">Send/receive (private) Blind and Anon tokens</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="type-name">Staking</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="type-name">Signing/verifying of messages</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="type-name">Advanced wallet management, coin control</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="type-name">Access to Particl Marketplace</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="type-name">Multisignature</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="type-name">HD Wallet</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="type-name">Hardware wallet support (Ledger)</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="type-name">Multiple Wallets</td>
          </tr>
          <tr>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="value"><i class="ico ico-cross"></i></td>
            <td class="value"><i class="ico ico-check"></i></td>
            <td class="type-name">Support Fiat Currencies</td>
          </tr>
          <tr>
            <td class="platform-name" align="center">
              <i class="ico ico-win"></i>
              <i class="ico ico-macos"></i>
              <i class="ico ico-linux"></i>
            </td>
            <td class="platform-name" align="center">
              <i class="ico ico-win"></i>
              <i class="ico ico-macos"></i>
              <i class="ico ico-linux"></i>
            </td>
            <td class="platform-name" align="center">
              <i class="ico ico-win"></i>
              <i class="ico ico-macos"></i>
              <i class="ico ico-linux"></i>
            </td>
            <td class="platform-name" align="center">
              <i class="ico ico-win"></i>
              <i class="ico ico-macos"></i>
              <i class="ico ico-linux"></i>
              <i class="ico ico-android"></i>
            </td>
            <td class="type-name">Platform</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% include subscribe-promo.html %}


<!-- Grab latest version numbers from GitHub & generate download links -->
<script src="/assets/js/src/jquery-1.11.2.min.js"></script>
<script type="text/javascript">

/* --- DESKTOP --- */

var desktop_api = document.createElement('script');
desktop_api.src = 'https://api.github.com/repos/particl/particl-desktop/releases/latest?callback=get_desktop_version';

function get_desktop_version(response) {
  var version = response.data.tag_name, // get current tag from GH API (=> "v1.1.0")
      ver_num = version.substring(1), // strip the leading "v" (=> "1.1.0")
      // generate OS links
      core_link = "https://github.com/particl/particl-desktop/releases/download/",
          win64 = core_link + version + "/particl-desktop-" + ver_num + "-win-x64.zip",
        win_exe = core_link + version + "/particl-desktop-" + ver_num + "-win.exe",
        linux64 = core_link + version + "/particl-desktop-" + ver_num + "-linux-x64.zip",
      linux_deb = core_link + version + "/particl-desktop-" + ver_num + "-linux-amd64.deb",
      linux_rpm = core_link + version + "/particl-desktop-" + ver_num + "-linux-x86_64.rpm",
            mac = core_link + version + "/particl-desktop-" + ver_num + "-mac.zip",
        mac_dmg = core_link + version + "/particl-desktop-" + ver_num + "-mac.dmg",
         source = "https://github.com/particl/particl-desktop/archive/" + version + ".zip",
          guide = "https://github.com/particl/particl-desktop/releases/tag/" + version;
  
  // Insert current latest release version number to HTML
  $('#particl-desktop-version').html(version);
  
  // Insert links for latest downloads
  $('#desktop-win64').attr("href", win64);
  $('#desktop-win-exe').attr("href", win_exe);
  $('#desktop-linux64').attr("href", linux64);
  $('#desktop-linux-deb').attr("href", linux_deb);
  $('#desktop-linux-rpm').attr("href", linux_rpm);
  $('#desktop-mac').attr("href", mac);
  $('#desktop-mac-dmg').attr("href", mac_dmg);
  $('#desktop-source').attr("href", source);
  $('#desktop-guide').attr("href", guide);
}

/* --- CORE & CLI --- */

var core_api = document.createElement('script');
core_api.src = 'https://api.github.com/repos/particl/particl-core/releases/latest?callback=get_core_version';

function get_core_version(response) {
  var version = response.data.tag_name, // get current tag from GH API (=> "v1.1.0")
      ver_num = version.substring(1), // strip the leading "v" (=> "1.1.0")
      // generate OS links
      core_link = "https://github.com/particl/particl-core/releases/download/",
      win64_exe = core_link + version + "/particl-" + ver_num + "-win64-setup-unsigned.exe",
          win64 = core_link + version + "/particl-" + ver_num + "-win64.zip",
        linux64 = core_link + version + "/particl-" + ver_num + "-x86_64-linux-gnu.tar.gz",
      linux_arm = core_link + version + "/particl-" + ver_num + "-arm-linux-gnueabihf.tar.gz",
            mac = core_link + version + "/particl-" + ver_num + "-osx-unsigned.dmg",
        mac_tar = core_link + version + "/particl-" + ver_num + "-osx64.tar.gz",
         source = "https://github.com/particl/particl-core/archive/" + version + ".zip",
          guide = "https://github.com/particl/particl-core/releases/tag/" + version;
  
  // Insert current latest release version number to HTML
  $('#particl-core-version').html(version);
  $('#particl-cli-version').html(version);
  
  // Insert links for latest downloads
  $('#core-win64-exe').attr("href", win64_exe);
  $('#core-win64').attr("href", win64);
  $('#core-linux64').attr("href", linux64);
  $('#core-linux-arm').attr("href", linux_arm);
  $('#core-mac').attr("href", mac);
  $('#core-mac-tar').attr("href", mac_tar);
  $('#core-source').attr("href", source);
  $('#core-guide').attr("href", guide);

  $('#cli-source').attr("href", guide);
  $('#cli-guide').attr("href", guide);
}

/* --- COPAY --- */

var copay_api = document.createElement('script');
copay_api.src = 'https://api.github.com/repos/particl/copay/releases/latest?callback=get_copay_version';

function get_copay_version(response) {
  var version = response.data.tag_name; // get current tag from GH API (=> "v1.1.0")
  
  // Insert current latest release version number to HTML
  $('#particl-copay-version').html(version);
}

$("head").append(desktop_api).append(core_api).append(copay_api);

</script>
