---
layout: default
---

<section class="page-title">
	<div class="row">
		<div class="columns">
			<h1 class="title centered">PART Exchanges</h1>
		</div>
	</div>
	<div class="row">
		<div class="part large-offset-2 large-4 columns">
			<p class="large">
				This page contains all the known exchanges where you can buy and sell PART coins. As the safest way to store Particl is in a <a href="/downloads/">wallet</a> where you fully control
			</p>
		</div>
		<div class="part large-4 columns">
			<p class="large">
				your private keys, we highly recommend to you keep only the minimum on exchanges and do your own research.
			</p>
		</div>
  </div>
  <div class="row">
    <div class="column text-center">
      <small>Updated Aug 24, 2018</small>
    </div>
  </div>
</section><!-- #page-title -->

<hr />

<section class="exchange-group">
	<div class="row">
		<div class="text large-4 columns">
      <h2 class="title">Centralized Exchanges</h2>

      <div class="traits">
        <div class="good trait">
          <i class="ico ico-check"></i>
          <ul>
            <li>Higher liquidity</li>
            <li>Usually better prices</li>
            <li>Faster trading</li>
          </ul>
        </div>
        <div class="neutral trait">
          <i class="ico ico-upcoming"></i>
          <ul>
            <li>Centralized</li>
          </ul>
        </div>
      </div>

		</div>
		<div class="exchanges large-7 large-push-1 columns">
			<div class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">

        <a class="exchange" href="https://bittrex.com/Market/Index?MarketName=BTC-PART" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/bittrex.svg"></div>
            <h3 class="title">Bittrex</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC</span>
          </div>
        </a>

        <a class="exchange" href="https://upbit.com/exchange?code=CRIX.UPBIT.BTC-PART" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/upbit.svg"></div>
            <h3 class="title">Upbit</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC</span>
          </div>
        </a>

        <a class="exchange" href="https://chainex.io/market/PART/BTC" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/chainex.png"></div>
            <h3 class="title">ChainEx</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC/USDT</span>
            <span class="tag fiat">PART <i class="ico ico-arrow-both"></i> ZAR</span>
          </div>
        </a>

        <a class="exchange" href="https://www.litebit.eu/en/buy/particl" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/litebit-eu.png"></div>
            <h3 class="title">Litebit.eu</h3>
            <span class="tag fiat">PART <i class="ico ico-arrow-both"></i> EUR</span>
          </div>
        </a>

        <a class="exchange" href="https://www.bit-z.com/exchange/part_btc" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/bit-z.png"></div>
            <h3 class="title">Bit-Z</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC</span>
          </div>
        </a>

        <a class="exchange" href="https://www.chainrift.com/User/Trading?coinpair=PART/BTC" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/chainrift.png"></div>
            <h3 class="title">Chainrift</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC</span>
          </div>
        </a>

      </div>
		</div><!-- .exchanges -->
	</div>
</section><!-- .exchange-group -->

<hr />

<section class="exchange-group">
	<div class="row">
		<div class="text large-4 columns">
      <h2 class="title">Non-Custodial Exchanges</h2>

      <div class="traits">
        <div class="good trait">
          <i class="ico ico-check"></i>
          <ul>
            <li>Simpler process</li>
            <li>No need to hold coins on exchange</li>
            <li>Higher privacy</li>
          </ul>
        </div>
        <div class="neutral trait">
          <i class="ico ico-upcoming"></i>
          <ul>
            <li>Centralized</li>
          </ul>
        </div>
      </div>

		</div>
		<div class="exchanges large-7 large-push-1 columns">
			<div class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">

        <a class="exchange" href="https://changelly.com/" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/changelly.svg"></div>
            <h3 class="title">Changelly</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC/alts</span>
            <span class="tag fiat">USD/EUR <i class="ico ico-arrow-right"></i> PART</span>
          </div>
        </a>

        <a class="exchange" href="https://changenow.io/" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/changenow.svg"></div>
            <h3 class="title">ChangeNOW</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC/alts</span>
            <span class="tag fiat">PART <i class="ico ico-arrow-both"></i> USD/EUR</span>
          </div>
        </a>
        
        <a class="exchange" href="https://coinswitch.co/" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/coinswitch.svg"></div>
            <h3 class="title">CoinSwitch</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC/alts</span>
            <span class="tag fiat">USD/EUR/JPY <i class="ico ico-arrow-right"></i> PART</span>
          </div>
        </a>

        <a class="exchange" href="https://changehero.io/" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/changehero.svg"></div>
            <h3 class="title">ChangeHero</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC/alt</span>
            <span class="tag fiat">USD/EUR/RUB <i class="ico ico-arrow-right"></i> PART</span>
          </div>
        </a>

        <a class="exchange" href="https://www.coinzark.com" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/coinzark.png"></div>
            <h3 class="title">Coinzark</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC/alts</span>
          </div>
        </a>
        
        <a class="exchange" href="https://simpleswap.io/" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/simpleswap.svg"></div>
            <h3 class="title">SimpleSwap</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC/alts</span>
          </div>
        </a>

        <a class="exchange" href="https://stealthex.io/" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/stealthex.svg"></div>
            <h3 class="title">Stealthex</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC/alts</span>
          </div>
        </a>

        <a class="exchange" href="https://xchange.me/" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/xchange-me.svg"></div>
            <h3 class="title">Xchange.me</h3>
            <span class="tag crypto">BTC/alts <i class="ico ico-arrow-right"></i> PART</span>
          </div>
        </a>

      </div>
		</div><!-- .exchanges -->
	</div>
</section><!-- .exchange-group -->

<hr />

<!--section class="exchange-group">
	<div class="row">
		<div class="text large-4 columns">
      <h2 class="title">Decentralized Exchanges</h2>
      <ul class="traits">
        <li>Decentralized</li>
        <li>Peer-to-peer (no middleman)</li>
        <li>Higher Privacy</li>
        <li>No <abbr title="Know Your Customer">KYC</abbr>/<abbr title="Anti-Money Laundering">AML</abbr></li>
      </ul>
		</div>
		<div class="exchanges large-7 large-push-1 columns">
			<div class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">

        <a class="exchange" href="xxxx" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"></div>
            <h3 class="title">xxxxx</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC/alts</span>
          </div>
        </a>
        
        <a class="exchange" href="xxxx" target="_blank">
          <div class="box">
            <div class="logo"><img src="/assets/img/exchanges/altcoin-io.png"></div>
            <h3 class="title">Altcoin.io</h3>
            <span class="tag crypto">PART <i class="ico ico-arrow-both"></i> BTC/alts</span>
          </div>
        </a>

      </div>
		</div>
	</div>
</section--><!-- .exchange-group -->


<section class="cta">
  <a href="/downloads/" class="full button">Download Particl Wallet</a>
  <a href="/user-guides/" class="hollow button">User Guides</a>
  <a target="_blank" href="https://particl.wiki" class="hollow button">Particl Wiki</a>
</section>


{% include particl-desktop.html %}
