---
layout: default
---

<section id="intro" class="market-page">
  <div class="row">
    <div class="column">

      <div class="header-title">
        <h1 class="title">Particl Open Marketplace</h1>
        <h2 class="subtitle">
          Unlock the full potential of global online commerce:
          <div class="market scroller">
            <p class="scrolling">
              <i class="ico ico-anon"></i>Private<br>
              <i class="ico ico-lock"></i>Secure<br>
              <i class="ico ico-stake"></i>Affordable<br>
              <i class="ico ico-cog"></i>Control<br>
              <i class="ico ico-smiley"></i>Freedom<br>
              <i class="ico ico-thumb-up"></i>Fair
            </p>
          </div><!-- .scroller -->
        </h2>
      </div>
      
      <div class="intro-buttons">
        <a href="/marketplace/buy/" class="full button">For Buyers</a>
        <a href="/marketplace/sell/" class="full secondary button">For Sellers</a>
      </div>

      <div class="video-wrap">
        <div class="window-titlebar">Particl Desktop</div>
        <div class="video-container">
          <video controls preload="none" poster="/assets/video/market-general.png">
            <source src="/assets/video/market-general.webm" type="video/webm">
            <source src="/assets/video/market-general.mp4" type="video/mp4">
            Sorry, your browser doesn't support HTML video. Consider upgrading or switching to a modern browser like Mozilla Firefox or Brave.
          </video>
        </div>
      </div>

    </div><!-- .column -->
  </div>
</section><!-- #intro -->


<section class="about-market">
  <div class="arrow"></div>
  <div class="row">
    <div class="illustration column">
      <img src="/assets/img/market/particl-marketplace.svg" alt="">
    </div>
    <div class="text column">
      <h2 class="title">About Particl's Open Marketplace</h2>
      <p>
        <strong>The Particl Market is the new way to buy and sell online.</strong>
      </p>
      <p>
        It enables direct person to person e-commerce. Using peer-to-peer technology, it operates with no central authority or middleman and is exclusively owned and operated by its network of users.
      </p>
      <p>
        Particl is a true alternative to centralized solutions and offers to everyone the ability to partake in the global economy at nearly zero cost, regardless of its geographical location.
      </p>
      <br>
      <a href="/downloads/" class="button full">Download it now!</a>
    </div>
  </div>
</section><!-- .about-market -->


<section class="community-channels market-page">
  <!--img src="/assets/img/logo-symbol.svg" class="join-img"-->
  <h2 class="title">Join our community!</h2>
  <p class="large">&hellip;and let's shop on Open Marketplace together</p>
  <a class="button riot" href="https://riot.im/app/#/room/#particl:matrix.org" target="_blank">
    <i class="ico ico-riot"></i>Riot
  </a>
  <a class="button discord" href="https://discord.me/particl" target="_blank">
    <i class="ico ico-discord"></i>Discord
  </a>
  <a class="button telegram" href="https://t.me/particlproject" target="_blank">
    <i class="ico ico-telegram"></i>Telegram
  </a>
</section>



<section class="market-features">
  <h2 class="section-title">Why Particl Open Marketplace?</h2>

  <div class="feature row">
    <div class="illustration medium-5 large-4 large-push-1 columns">
      <img src="/assets/img/carousel/decentralized-apps.svg" alt="">
    </div>
    <div class="text medium-7 large-6 large-push-1 columns">
      <h3 class="title">Private by default</h3>
      <p class="large">
        The Particl marketplace provides all the benefits of a blockchain based decentralized marketplace, without any of the standard privacy concessions. Any purchase or sale is executed without revealing your identity, just like in-person cash transactions.
      </p>
      <a href="https://particl.wiki/learn/market/start" target="_blank" class="small button">Learn about Privacy</a>
    </div>
  </div>

  <hr>

  <div class="feature row">
    <div class="illustration medium-5 medium-push-7 large-4 large-push-7 columns">
      <img src="/assets/img/carousel/cold-staking.svg" alt="">
    </div>
    <div class="text medium-7 medium-pull-5 large-6 large-pull-3 columns">
      <h3 class="title">No middleman</h3>
      <p class="large">
        The Particl Marketplace frees users from maintenance fees, commission fees, data ownership and exploitation, as well as all other inconveniences induced by the usage of centralized e-commerce third parties.
      </p>
      <a href="https://particl.wiki/learn/market/mad-escrow" target="_blank" class="small button">Learn about MAD Escrow</a>
    </div>
  </div>

  <hr>

  <div class="feature row">
    <div class="illustration medium-5 large-4 large-push-1 columns">
      <img src="/assets/img/carousel/confidential-transactions.svg" alt="">
    </div>
    <div class="text medium-7 large-6 large-push-1 columns">
      <h3 class="title">Security &amp; control</h3>
      <p class="large">
        All transactions are secured by academically reviewed and audited cryptography. Particl is designed to offer to users a total data sovereignty and an immunity against digital attacks.
      </p>
      <a href="https://particl.wiki/learn/market/start" target="_blank" class="small button">Learn about Security</a>
    </div>
  </div>

  <hr>

  <div class="feature row">
    <div class="illustration medium-5 medium-push-7 large-4 large-push-7 columns">
      <img src="/assets/img/carousel/bitcoin-codebase.svg" alt="">
    </div>
    <div class="text medium-7 medium-pull-5 large-6 large-pull-3 columns">
      <h3 class="title">Near-zero fees</h3>
      <p class="large">
        The Particl Open Marketplace protocol does not charge users with more than is necessary for it to operate safely. The processing fees are kept at a bare minimum and are entirely redistributed to the stakers securing the network.
      </p>
      <a href="https://particl.wiki/learn/market/fees" target="_blank" class="small button">Learn about Saving</a>
    </div>
  </div>

  <hr>

  <div class="feature row">
    <div class="illustration medium-5 large-4 large-push-1 columns">
      <img src="/assets/img/carousel/atomic-swaps.svg" alt="">
    </div>
    <div class="text medium-7 large-6 large-push-1 columns">
      <h3 class="title">Multiple cryptocurrencies accepted <span class="tag">In development</span></h3>
      <p class="large">
        The Particl Open Marketplace has been built to work in synergy with multiple cryptocurrencies under the umbrella of the highly secure and private PART coin, to obfuscate the payment.
      </p>
      <a href="https://particl.wiki/learn/market/currency-agnosticism" target="_blank" class="small button">Learn about Currency Agnosticism</a>
    </div>
  </div>

</section><!-- .market-features -->


<section class="buyer-seller">
  <div class="row">
    <div class="column">
      <h2 class="section-title">
        <strong>Discover how you can benefit from the Open Marketplace</strong>
        and get started buying and selling stuff for crypto
      </h2>
    </div>
  </div>
  <div class="row expand">
    <a class="buyer medium-6 large-6 columns" href="/marketplace/buy/">
      I am a Buyer
      <div class="arrow"></div>
    </a>
    <a class="seller medium-6 large-6 columns" href="/marketplace/sell/">
      I am a Seller
      <div class="arrow"></div>
    </a>
  </div>
</section><!-- .buyer-seller -->


{% comment %}
{% include particl-desktop.html %}
{% endcomment %}


{% include dive-deeper.html %}