---
layout: default
---

<section id="intro" class="market-page buy subpage">
  <div class="row">
    <div class="illustration medium-5 medium-push-7 large-4 large-push-7 columns">
      <img src="/assets/img/illustrations/illustration-placeholder.png" alt="">
    </div>
    <div class="text medium-7 medium-pull-5 large-7 large-pull-4 columns">

      <div class="header-title">
        <h1 class="title">For Buyers</h1>
        <h2 class="subtitle">
          Find the product you are looking for and pay privately with your favorite cryptocurrencies
        </h2>
        <p class="small">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolor hic, iure laudantium dicta eligendi quia sunt est omnis sit pariatur quidem distinctio accusamus? Eveniet dolor hic aliquam laborum harum?
        </p>
      </div>

    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="column">

      <div class="video-wrap">
        <div class="window-titlebar">Particl Desktop</div>
        <div class="video-container">
          <video controls preload="none" poster="/assets/video/video-placeholder.png">
            <!--source src="/assets/video/video-placeholder.webm" type="video/webm"-->
            <source src="/assets/video/video-placeholder.mp4" type="video/mp4">
            Sorry, your browser doesn't support HTML video. Consider upgrading or switching to a modern browser like Mozilla Firefox or Brave.
          </video>
        </div>
      </div>

    </div><!-- .column -->
  </div>
</section><!-- #intro -->

{% include dive-deeper.html %}