---
layout: default
---

<section id="intro" class="market-page buy subpage">
  <div class="row">
    <div class="illustration medium-5 medium-push-7 large-5 large-push-6 columns">
      <img src="/assets/img/market/particl-market-buyers.svg" alt="">
    </div>
    <div class="text medium-7 medium-pull-5 large-7 large-pull-5 columns">

      <div class="header-title">
        <h1 class="title">Marketplace for Buyers</h1>
        <h2 class="subtitle">
          Buy goods and services on the decentralized, end-to-end, private by design Market of the internet
        </h2>
        <p class="small">
          Find the product you are looking for and pay privately with your favorite cryptocurrencies
        </p>
      </div>

    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="column">

      <div class="video-wrap">
        <div class="window-titlebar">Particl Desktop</div>
        <div class="video-container">
          <video controls preload="none" poster="/assets/video/market-buy.png">
            <source src="/assets/video/market-buy.webm" type="video/webm">
            <source src="/assets/video/market-buy.mp4" type="video/mp4">
            Sorry, your browser doesn't support HTML video. Consider upgrading or switching to a modern browser like Mozilla Firefox or Brave.
          </video>
        </div>
      </div>

    </div><!-- .column -->
  </div>
</section><!-- #intro -->


<section class="buy-sell-features buyer row">
  <div class="column">
    <div class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

      <div class="item">
        <div class="icon"><i class="ico ico-cryptocurrency-particl"></i></div>
        <div class="text">
          <h2 class="title">Shop with cryptocurrencies</h2>
          <p>
            Push the crypto revolution forward and buy goods directly with cryptocurrencies, without using a fiat processor nor a centralized marketplace.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="icon"><i class="ico ico-anon"></i></div>
        <div class="text">
          <h2 class="title">Take back your privacy</h2>
          <p>
            Particl's Open Marketplace does not collect any of your data and uses the latest privacy technologies so that you can keep your shopping habits, browsing history, and identity private.
          </p>
        </div>
      </div>
      
      <div class="item">
        <div class="icon"><i class="ico ico-bag"></i></div>
        <div class="text">
          <h2 class="title">Meet sellers</h2>
          <p>
            Spending cryptocurrencies has never been so easy. Save yourself the hassle of searching for vendors. With the marketplace you can effortlessly get in touch with various sellers who already accept crypto.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="icon"><i class="ico ico-stake"></i></div>
        <div class="text">
          <h2 class="title">No more useless fees</h2>
          <p>
            Particl’s Open Marketplace does not charge you any fee for buying goods and services other than a regular cryptocurrency transaction fee of a few cents, leaving you with more money to spend for yourself.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="icon"><i class="ico ico-globe"></i></div>
        <div class="text">
          <h2 class="title">Works everywhere</h2>
          <p>
            Similarly to the Bitcoin protocol, the Particl marketplace is operating worldwide and without any interruption. You can shop from anywhere around the globe without any geographical restrictions.
          </p>
        </div>
      </div>
      
      <div class="item">
        <div class="icon"><i class="ico ico-lightning"></i></div>
        <div class="text">
          <h2 class="title">And more&hellip;</h2>
          <ul class="fancy checks">
            <li><i class="ico ico-check-alt"></i>No set-up, sales, escrow, or subsription fees</li>
            <li><i class="ico ico-check-alt"></i>No prerequisites</li>
            <li><i class="ico ico-check-alt"></i>No account freezes and shadowbans</li>
            <li><i class="ico ico-check-alt"></i>No downtime</li>
            <li><i class="ico ico-check-alt"></i>No sign-ups</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section><!-- .buy-sell-features -->


<section class="market-get-started">
  <div class="row">
    <div class="column">
      <h2 class="title">
        <small>Get started with the Open Marketplace</small>
        Start buying with crypto
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

        <div class="first step">
          <div class="number">1</div>
          <div class="timeline"></div>
          <h3 class="title">Inform yourself</h3>
          <p>
            Particl is different than what you know and use every day. Read the <a href="https://particl.wiki" target="_blank">basics of Particl on our Wiki</a>, come and join our social media and <a href="https://particl.community" target="_blank">reach out to our community</a> for assistance and answers.
          </p>
          <a href="https://discordapp.com/invite/2tVJaZ9" target="_blank" class="hollow small button">Join us on Discord</a>
        </div>
    
        <div class="second step">
          <div class="number">2</div>
          <div class="timeline"></div>
          <h3 class="title">Get the Wallet</h3>
          <p>
            Particl is available for all major operating systems and devices to serve a variety of your needs:
          </p>
          <a href="/downloads/" class="hollow small button">Download Particl Desktop</a>
        </div>
    
        <div class="third step">
          <div class="number">3</div>
          <div class="timeline"></div>
          <h3 class="title">Get PART coins</h3>
          <p>
            You can get Particl by accepting it as a payment for goods and services. There are also several ways you can buy Particl on cryptocurrency exchanges:
          </p>
          <a href="/part-exchanges/" class="hollow small button">Particl Exchanges</a>
        </div>
    
        <div class="fourth step">
          <div class="number">
            <i class="ico ico-cart"></i>
          </div>
          <h3 class="title">Start buying</h3>
          <p>
            Browse available products on Particl's Open Marketplace using Particl Desktop and start buying stuff for crypto
          </p>
        </div>
    
      </div>
    </div>
  </div>
</section><!-- .market-get-started -->


<section class="market-subscribe buyer">
  <div class="row">
    <div class="column">
      <div class="arrow"></div>
      <h2 class="title">Eager to take part in next-gen ecommerce?</h2>
      <p>
        Get the latest updates about Open Marketplace, tailored to Buyers and get exclusive access to early releases and market tips.<br>We value your privacy, so no spam, no ads and no BS!
      </p>
      <a href="/-market-buyer/" class="full button popup-ajax">
        <i class="ico ico-telegram"></i>
        Subscribe to Buyer's newsletter
      </a>
    </div>
  </div>
</section><!-- .market-subscribe.buyer -->


{% include dive-deeper.html %}