---
layout: default
---

<section id="intro">
  <div class="row">
    <div class="column">

      <div class="header-title">
        <h1 class="title">Particl Open Marketplace</h1>
        <h2 class="subtitle">
          Unlock the full potential of global online commerce:
          <div class="market scroller">
            <p class="scrolling">
              <i class="ico ico-anon"></i>Private<br>
              <i class="ico ico-lock"></i>Secure<br>
              <i class="ico ico-stake"></i>Affordable<br>
              <i class="ico ico-cog"></i>Control<br>
              <i class="ico ico-smiley"></i>Freedom<br>
              <i class="ico ico-thumb-up"></i>Fair
            </p>
          </div><!-- .scroller -->
        </h2>
      </div>
      
      <div class="intro-buttons">
        <a href="/marketplace/buy/" class="full button">For Buyers</a>
        <a href="/marketplace/sell/" class="full secondary button">For Sellers</a>
      </div>

      <div class="video-container">
        <video controls preload="none" poster="/assets/video/test.png">
          <source src="/assets/video/test.webm" type="video/webm">
          <!--source src="/assets/video/test.mp4" type="video/mp4"-->
          Sorry, your browser doesn't support HTML video. Consider upgrading or switching to a modern browser like Mozilla Firefox or Brave.
        </video>
      </div>

      <div class="partners-press">
        <div class="partners">
          <div class="logos">
            <a target="_blank" class="no-arrow item" href="https://auroraia.com" title="Aurora IA">
              <img class="logo aurora" src="/assets/img/partners/aurora.png" alt="Aurora IA">
            </a>
            <a target="_blank" class="no-arrow item" href="https://btcmedia.org" title="BTC Media">
              <img class="logo btc-media" src="/assets/img/partners/btc-media.png" alt="BTC Media">
            </a>
            <a target="_blank" class="no-arrow item" href="https://www.lunatech.co.za/" title="Lunatech (Pty) Ltd">
              <img class="logo lunatech" src="/assets/img/partners/lunatech.png" alt="Lunatech (Pty) Ltd">
            </a>
            <a target="_blank" class="no-arrow item" href="https://www.changelly.com/" title="Changelly">
              <img class="logo changelly" src="/assets/img/partners/changelly.svg" alt="Changelly">
            </a>
          </div><!-- .logos -->
          <h2 class="title">Supported by</h2>
        </div><!-- .partners -->
      </div><!-- .partners-press -->

    </div><!-- .column -->
  </div>
</section><!-- #intro -->
 

{% include dive-deeper.html %}