---
layout: default
---

<section id="intro" class="market-page">
  <div class="row">
    <div class="column">

      <div class="header-title">
        <h1 class="title">Particl Open Marketplace</h1>
        <h2 class="subtitle">
          Unlock the full potential of global online commerce:
          <div class="market scroller">
            <p class="scrolling">
              <i class="ico ico-anon"></i>Private<br>
              <i class="ico ico-lock"></i>Secure<br>
              <i class="ico ico-stake"></i>Affordable<br>
              <i class="ico ico-cog"></i>Control<br>
              <i class="ico ico-smiley"></i>Freedom<br>
              <i class="ico ico-thumb-up"></i>Fair
            </p>
          </div><!-- .scroller -->
        </h2>
      </div>
      
      <div class="intro-buttons">
        <a href="/marketplace/buy/" class="full button">For Buyers</a>
        <a href="/marketplace/sell/" class="full secondary button">For Sellers</a>
      </div>

      <div class="video-wrap">
        <div class="window-titlebar">Particl Desktop</div>
        <div class="video-container">
          <video controls preload="none" poster="/assets/video/video-placeholder.png">
            <!--source src="/assets/video/video-placeholder.webm" type="video/webm"-->
            <source src="/assets/video/video-placeholder.mp4" type="video/mp4">
            Sorry, your browser doesn't support HTML video. Consider upgrading or switching to a modern browser like Mozilla Firefox or Brave.
          </video>
        </div>
      </div>

    </div><!-- .column -->
  </div>
</section><!-- #intro -->


<section class="about-market">
  <div class="arrow"></div>
  <div class="row">
    <div class="illustration column">
      <img src="/assets/img/illustrations/illustration-placeholder.png" alt="">
    </div>
    <div class="text column">
      <h2 class="title">About Particl's Open Marketplace</h2>
      <p>
        The Particl Open Marketplace is a first of its kind market network for the internet.
      </p>
      <p>
        Using <strong>peer-to-peer</strong> technology, it operates with no central authority or middleman and is exclusively owned and operated by its network of users; enabling new exciting possibilities that could not be covered by any previous marketplaces.
      </p>
      <p>
        <strong>Particl is also scalable, fast, secure and private.</strong> You can buy and sell your favorite product directly for cryptocurrencies, knowing that others can’t monitor your activity.
      </p>
    </div>
  </div>
</section><!-- .about-market -->
  
 

{% include dive-deeper.html %}