---
layout: default
---

<section class="page-title centered">
	<div class="row">
		<div class="column">
      <h1 class="title">Particl in the Press</h1>
      <small>Updated August 13, 2018</small>
		</div>
	</div>
</section><!-- .page-title -->


<section class="press-items">

	<div class="row">
		<div class="column">

      <h2>2018</h2>
      <div class="press-articles small-block-grid-1 medium-block-grid-2 large-block-grid-2">

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://www.smartcontract.nl/particl-project/">
            <h4 class="title">Wat is het Particl Project? (Dutch)</h4>
            <div class="meta">Smart Contract NL | Jul 6, 2018</div>
          </a>
        </div><!-- .item -->
        
        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://btcmanager.com/the-rise-of-crypto-agorism-how-agorism-is-thriving-thanks-to-cryptocurrencies/">
            <h4 class="title">The Rise of Crypto-Agorism: How Agorism is Thriving Thanks to Cryptocurrencies</h4>
            <div class="meta">BTC Manager | Jul 5, 2018</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://btcmanager.com/bitcoin-based-particl-announces-alpha-launch-of-its-blockchain-marketplace/">
            <h4 class="title">Bitcoin-based Particl Announces Alpha Launch of its Blockchain Marketplace</h4>
            <div class="meta">BTC Manager | Jun 3, 2018</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://btcmanager.com/privacy-issues-loom-large-as-legislation-allows-greater-access-to-you/">
            <h4 class="title">Privacy Issues Loom Large as Legislation Allows Greater Access – To You</h4>
            <div class="meta">BTC Manager | Mar 27, 2018</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://btcmanager.com/what-is-particl-part-and-is-it-a-good-investment/">
            <h4 class="title">What is Particl (PART) and Is It a Good Investment?</h4>
            <div class="meta">BTC Manager | Mar 20, 2018</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://nulltx.com/what-is-particl-part/">
            <h4 class="title">What Is Particl (PART)?</h4>
            <div class="meta">NullTX | Feb 24, 2018</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://nulltx.com/particls-security-prevents-meltdown-spectre-from-affecting-proof-of-stake-blockchain/">
            <h4 class="title">Particl’s Security Prevents Meltdown / Spectre From Affecting Proof-of-Stake Blockchain</h4>
            <div class="meta">NullTX | Feb 23, 2018</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://nulltx.com/particl-implements-quantum-resistance-as-part-of-their-cold-stake-security-protocol/">
            <h4 class="title">Particl Implements Quantum Resistance as Part of their Cold Stake Security Protocol</h4>
            <div class="meta">NullTX | Feb 20, 2018</div>
          </a>
        </div><!-- .item -->

      </div>
      
      <h2>2017</h2>
      <div class="press-articles small-block-grid-1 medium-block-grid-2 large-block-grid-2">

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://distributed.com/news/building-framework-privacy-dapps/">
            <h4 class="title">Building a Framework for Privacy DApps</h4>
            <div class="meta">Distributed | Oct 10, 2017</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://bitcoinmagazine.com/articles/particl-matures-feature-push-and-new-wallet-app-release/">
            <h4 class="title">Particl Matures With Feature Push and New Wallet App Release</h4>
            <div class="meta">Bitcoin Magazine</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="http://www.nasdaq.com/article/creating-intrinsic-value-in-cryptocurrencies-cm853340">
            <h4 class="title">Creating Intrinsic Value in Cryptocurrencies</h4>
            <div class="meta">Nasdaq | Sep 29, 2017</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="http://www.nasdaq.com/article/know-your-coins-public-vs-private-cryptocurrencies-cm849588">
            <h4 class="title">Know Your Coins: Public vs. Private Cryptocurrencies</h4>
            <div class="meta">Nasdaq | Sep 22, 2017</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="http://www.investopedia.com/news/how-cryptocurrency-agnosticism-could-impact-industry/">
            <h4 class="title">How 'Cryptocurrency Agnosticism' Could Impact the Industry </h4>
            <div class="meta">Investopedia | Sep 15, 2017</div>
          </a>
        </div><!-- .item -->
        
        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://bitcoinmagazine.com/articles/particl-takes-mad-approach-escrows-maximizing-privacy/">
            <h4 class="title">Particl Takes “MAD” Approach to Escrows, Maximizing Privacy</h4>
            <div class="meta">Bitcoin Magazine</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="http://www.nasdaq.com/article/cryptocurrency-agnosticism-and-a-vision-for-privacy-cm842922">
            <h4 class="title">Cryptocurrency Agnosticism and a Vision for Privacy</h4>
            <div class="meta">Nasdaq | Sep 8, 2017</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="http://www.nasdaq.com/article/promising-true-privacy-for-online-purchases-cm837149">
            <h4 class="title">Promising True Privacy for Online Purchases</h4>
            <div class="meta">Nasdaq | Aug 25, 2017</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://bitcoinmagazine.com/partners/what-makes-particl-different-way-it-uses-bitcoin/">
            <h4 class="title">Particl: A Privacy Revolution Is Coming</h4>
            <div class="meta">Bitcoin Magazine</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://bitcoinmagazine.com/articles/yes-bitcoin-can-do-smart-contracts-and-particl-demonstrates-how/">
            <h4 class="title">Yes, Bitcoin Can Do Smart Contracts and Particl Demonstrates How</h4>
            <div class="meta">Bitcoin Magazine</div>
          </a>
        </div><!-- .item -->

        <div class="item">
          <a class="no-arrow press-item clearfix" target="_blank" href="https://bitcoinmagazine.com/partners/particl-market-private-decentralized-online-sales-platform/">
            <h4 class="title">Particl Market: A Private, Decentralized Online Sales Platform</h4>
            <div class="meta">Bitcoin Magazine</div>
          </a>
        </div><!-- .item -->

      </div><!-- .block-grid -->

		</div><!-- .column -->
	</div><!-- .row -->
</section><!-- .press-items -->

{% include particl-desktop.html %}
