---
layout: default
---

<section id="page-title">
	<div class="row">
		<div class="column">
			<h1 class="title">Particl is the Press</h1>
		</div>
	</div>
</section><!-- #page-title -->


<section class="feature press-items">
	<div class="row">
		<div class="column">
         
         <div class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

            <div class="item">
               <a target="_blank" href="https://distributed.com/news/building-framework-privacy-dapps/">
                  <div class="image">
                     <img src="{{ "/assets/img/press/particl-distributed.jpg" | relative_url }}">
                  </div>
                  <h2 class="title">Building a Framework for Privacy DApps</h2>
               </a>
               <div class="meta">Distributed | Oct 10, 2017</div>
            </div><!-- .item -->

            <div class="item">
               <a target="_blank" href="https://bitcoinmagazine.com/articles/particl-matures-feature-push-and-new-wallet-app-release/">
                  <div class="image">
                     <img src="{{ "/assets/img/press/particl-btc-magazine.png" | relative_url }}">
                  </div>
                  <h2 class="title">Particl Matures With Feature Push and New Wallet App Release</h2>
               </a>
               <div class="meta">Bitcoin Magazine</div>
            </div><!-- .item -->

            <div class="item">
               <a target="_blank" href="http://www.nasdaq.com/article/creating-intrinsic-value-in-cryptocurrencies-cm853340">
                  <div class="image">
                     <img src="{{ "/assets/img/press/intristic-value.png" | relative_url }}">
                  </div>
                  <h2 class="title">Creating Intrinsic Value in Cryptocurrencies</h2>
               </a>
               <div class="meta">Nasdaq | Sep 29, 2017</div>
            </div><!-- .item -->

            <div class="item">
               <a target="_blank" href="http://www.nasdaq.com/article/know-your-coins-public-vs-private-cryptocurrencies-cm849588">
                  <div class="image">
                     <img src="{{ "/assets/img/press/know-your-coins.jpg" | relative_url }}">
                  </div>
                  <h2 class="title">Know Your Coins: Public vs. Private Cryptocurrencies</h2>
               </a>
               <div class="meta">Nasdaq | Sep 22, 2017</div>
            </div><!-- .item -->

            <div class="item">
               <a target="_blank" href="http://www.investopedia.com/news/how-cryptocurrency-agnosticism-could-impact-industry/">
                  <div class="image">
                     <img src="{{ "/assets/img/press/default.jpg" | relative_url }}">
                  </div>
                  <h2 class="title">How 'Cryptocurrency Agnosticism' Could Impact the Industry </h2>
               </a>
               <div class="meta">Investopedia | Sep 15, 2017</div>
            </div><!-- .item -->
            
            <div class="item">
               <a target="_blank" href="https://bitcoinmagazine.com/articles/particl-takes-mad-approach-escrows-maximizing-privacy/">
                  <div class="image">
                     <img src="{{ "/assets/img/press/particl-btc-magazine.png" | relative_url }}">
                  </div>
                  <h2 class="title">Particl Takes “MAD” Approach to Escrows, Maximizing Privacy</h2>
               </a>
               <div class="meta">Bitcoin Magazine</div>
            </div><!-- .item -->

            <div class="item">
               <a target="_blank" href="http://www.nasdaq.com/article/cryptocurrency-agnosticism-and-a-vision-for-privacy-cm842922">
                  <div class="image">
                     <img src="{{ "/assets/img/press/crypto-agnosticism.jpg" | relative_url }}">
                  </div>
                  <h2 class="title">Cryptocurrency Agnosticism and a Vision for Privacy</h2>
               </a>
               <div class="meta">Nasdaq | Sep 8, 2017</div>
            </div><!-- .item -->

            <div class="item">
               <a target="_blank" href="http://www.nasdaq.com/article/promising-true-privacy-for-online-purchases-cm837149">
                  <div class="image">
                     <img src="{{ "/assets/img/press/promising-true-privacy.jpg" | relative_url }}">
                  </div>
                  <h2 class="title">Promising True Privacy for Online Purchases</h2>
               </a>
               <div class="meta">Nasdaq | Aug 25, 2017</div>
            </div><!-- .item -->

            <div class="item">
               <a target="_blank" href="https://bitcoinmagazine.com/partners/what-makes-particl-different-way-it-uses-bitcoin/">
                  <div class="image">
                     <img src="{{ "/assets/img/press/particl-btc-magazine.png" | relative_url }}">
                  </div>
                  <h2 class="title">Particl: A Privacy Revolution Is Coming</h2>
               </a>
               <div class="meta">Bitcoin Magazine</div>
            </div><!-- .item -->

            <div class="item">
               <a target="_blank" href="https://bitcoinmagazine.com/articles/yes-bitcoin-can-do-smart-contracts-and-particl-demonstrates-how/">
                  <div class="image">
                     <img src="{{ "/assets/img/press/particl-smart-contracts.png" | relative_url }}">
                  </div>
                  <h2 class="title">Yes, Bitcoin Can Do Smart Contracts and Particl Demonstrates How</h2>
               </a>
               <div class="meta">Bitcoin Magazine</div>
            </div><!-- .item -->

            <div class="item">
               <a target="_blank" href="https://bitcoinmagazine.com/partners/particl-market-private-decentralized-online-sales-platform/">
                  <div class="image">
                     <img src="{{ "/assets/img/press/particl-btc-magazine.png" | relative_url }}">
                  </div>
                  <h2 class="title">Particl Market: A Private, Decentralized Online Sales Platform</h2>
               </a>
               <div class="meta">Bitcoin Magazine</div>
            </div><!-- .item -->

         </div><!-- .block-grid -->

		</div><!-- .column -->
	</div><!-- .row -->
</section><!-- .feature -->


<section class="feature text-center">
   <div class="row">
      <div class="column">

         <p class="text-center">
            <h3>Discover more articles on Particl Wiki</h3>
            <a class="small button" href="https://particl.wiki/articles-about-particl">Particl in the Press</a>
         </p>

      </div>
   </div>
</section>