---
layout: default
---

<section class="page-title">
  <div class="row">
    <div class="large-5 columns">
      <h1 class="title">Proposals</h1>
      <p class="large">
        Particl offers several ways to submit proposals to the community, team, or Foundation. These proposals can then be voted on by the community using Particl’s coming decentralized governance system.
      </p>
    </div>
  </div>
</section><!-- #page-title -->

<hr />

<section class="proposals">
	<div class="row">

		<div class="part large-5 columns">
      <div class="proposal">
        <h3>Improvement Proposals (PIPs)</h3>
        <p class="small">
          A Particl Improvement Proposal (PIP) is a design document providing information to the Particl community, or describing a new feature for Particl or its processes or environment. The PIP should provide a concise technical specification of the feature and a rationale for the feature.
        </p>
        <p class="small">
          We intend PIPs to be the primary mechanisms for proposing new features, for collecting community input on an issue, and for documenting the design decisions that have gone into Particl. The PIP author is responsible for building consensus within the community and documenting dissenting opinions.
        </p>
        <div class="buttons">
          <a href="https://github.com/particlcommunity/pips" target="_blank" class="button btn-explore">Visit Particl Improvement Proposals</a>
        </div>
      </div>
    </div>
      
    <div class="part large-6 large-push-1 columns">
      <div class="proposal">
        <h3>Opportunity Proposals (POPs)</h3>
        <p class="small">
          A Particl Opportunity Proposal (POP) is a design document providing information to the Particl community, describing bounty opportunities, integration opportunities, or marketing opportunities. Philanthropy, donations, sponsorship's&hellip; a broad categorization of opportunities.
        </p>
        <div class="buttons">
          <a href="https://github.com/particlcommunity/pops" target="_blank" class="button btn-explore">Visit Particl Opportunity Proposals</a>
        </div>
      </div>

      <div class="proposal">
        <h3>Request for Proposals (RFPs)</h3>
        <p class="small">
          A Particl RFP is a document intended to solicit proposals for a task such as the development of a community resource (ie: website), or creation of content pieces not specifically identified in Particl Opportunities.
        </p>
        <div class="buttons">
          <a href="https://github.com/particlcommunity/rfps" target="_blank" class="button btn-explore">Visit Request for Proposals</a>
        </div>
      </div>
    </div>
      
	</div>
</section><!-- #page-title -->

<hr />

{% include particl-desktop.html %}