---
layout: default
---

      <section id="page-title" class="general-project-road">
	<div class="row">
		<div class="column project-road-header">
			<h1 class="title text-center header-line-height">Particl Project<br />Roadmap</h1>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<div class="medium-block-grid-2 large-block-grid-4">

				<div class="medium-6 large-3 columns">
					<h3>Completed</h3>
					<ul>
						<li><strong>Particl Blockchain Launch</strong><br>+ Qt Wallet</li>
						<li><strong>Confidential Transactions</strong></li>
						<li><strong>Decentralized Voting</strong></li>
					</ul>
				</div>

				<div class="medium-6 large-3 columns">
					<h3>Completed</h3>
					<ul>
						<li><strong>Third Party Integration</strong></li>
						<li><strong>Particl Electron Wallet App</strong></li>
					</ul>
				</div>

				<div class="medium-6 large-3 columns">
					<h3>Completed</h3>
					<ul>
						<li><strong>Cold Staking</strong></li>
						<li><strong>Atomic Swaps</strong></li>
					</ul>
				</div>

				<div class="medium-6 large-3 columns">
					<h3>Q1 &ndash; 2018</h3>
					<ul>
						<li><strong>Alpha Marketplace</strong></li>
						<li><strong>Primary Funding Round</strong></li>
						<li><strong>Beta Marketplace</strong></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</section><!-- #page-title -->


<section id="particl-road-map">
	<div class="row">
		<div class="column">
			<!--h2>Infographic</h2-->
			<img src="/assets/img/roadmap/roadmap_v1.4.jpg" alt="Particl Project Roadmap" description="Infographic showing planned features for Particl Project, including cold staking, decentralized marketplace and more.">
		</div>
	</div>
</section><!-- .feature -->

{% include particl-desktop.html %}