---
layout: default
---

<section id="page-title" class="general-project-road">
	<div class="row">
		<div class="column project-road-header">
			<h1 class="title text-center header-line-height">Particl Project<br />Roadmap</h1>
		</div>
	</div>

	<div class="row">
		<div class="column">
      
      <div class="roadmap-items small-block-grid-1 medium-block-grid-2 large-block-grid-3">

        <div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
          <div class="tags">
						<span class="status in-progress tag">In Progress</span>
            <span class="network tag">Mainnet</span>
          </div>
					<h3 class="title">Support for Hardware Signing Devices</h3>
          <div class="desc">
            <p>Particl Core 0.16 introduces generic support for Hardware Signing Devices to provide key-signing capabilities.</p>
          </div>
        </div>

        <div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
          <div class="tags">
						<span class="status in-progress tag">In Progress</span>
            <span class="network tag">Testnet/Mainnet</span>
          </div>
					<h3 class="title">Ledger Wallet Integration</h3>
          <div class="desc">
						<p>Initial support for the Ledger Hardware Wallet is here!<br>This has not yet been extended to <code>blind</code> or <code>anon</code> tranactions and therefore currently cannot be used exclusively for all functions of the wallet. Support will continue to be extended in future versions.</p>
					</div>
        </div>

        <div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
          <div class="tags">
						<span class="status in-progress tag">In Progress</span>
            <span class="network tag">Mainnet</span>
          </div>
					<h3 class="title">Stealth Addresses V2</h3>
          <div class="desc">
            <p>In order to facilitate deterministic generation of stealth addresses between Particl Core and Signing Devices the method used to generate these addresses had to be changed.</p>
          </div>
				</div>
				
				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status in-progress tag">In Progress</span>
						<span class="network tag">Testnet</span>
					</div>
					<h3 class="title">Particl Marketplace (MP) &ndash; ALPHA</h3>
					<div class="desc">
						<p>ALPHA is the long-awaited decentralized marketplace dApp within <a href="{% link downloads.md %}">Particl Desktop</a>. The Alpha release of the marketplace will be barebones to start as users begin to test and progress through the buying/selling process.</p>
						<p>Features: create/add listings, view listings, listings on escrow, checkout</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Testnet/Mainnet</span>
					</div>
					<h3 class="title">MP Listing Governance</h3>
					<div class="desc">
						<p>The Particl Marketplace is being built to be self-sustaining, self-governing and completely decentralized. Governance is a huge piece of the puzzle that the team will be focused on developing to protect privacy and protect users.</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Mainnet</span>
					</div>
					<h3 class="title">Software Development Kit (SDK)</h3>
					<div class="desc">
						<p>A plan to have a SDK for developers is in the pipeline. The SDK will allow the creation of applications within the Marketplace or Desktop.</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Testnet</span>
					</div>
					<h3 class="title">MP Reputation</h3>
					<div class="desc">
						<p>How do you protect against sybil attacks and gaming of reputation in a privacy focused marketplace?</p>
						<p>This is a big question that requires some serious R&D. Everything is 10&times; harder when applying privacy to it. Reputation is important in ecommerce. The development and research teams will spend a lot of time flushing out the importance and risks of reputation in a privacy focused marketplace.</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Testnet/Mainnet</span>
					</div>
					<h3 class="title">ZMQ for MP Messages</h3>
					<div class="desc">
						<p>Short for <a href="http://zguide.zeromq.org/page:all#-MQ-in-a-Hundred-Words">ZeroMQ</a>, this is an automated messaging system that allows messages and notifications to be automatically pushed to Particl Desktop. An example would be if Particl Desktop has an update available, ZMQ will push notification to Particl Desktop and users will see a notice a new version of the Desktop is available.</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Testnet/Mainnet</span>
					</div>
					<h3 class="title">Particl Marketplace &ndash; BETA</h3>
					<div class="desc">
						<p>Our next major release of the decentralized marketplace will be BETA. Beta MP may or may-not be a mainnet viable product. It is too early to tell but is something the team will be transparent in communicating. Privacy and Governance are 2 of the major factors that ultimately will decide.</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Testnet/Mainnet</span>
					</div>
					<h3 class="title">Full Particl Marketplace Release</h3>
					<div class="desc">
						<p>All versions of the MP leading up to full release will be testing versions and live versions with new features introduced at each release. Once RingCT is on mainnet, Governance is fully developed, and currency-agnostic options like cross-chain atomic swaps/integrations have been through the proper testing environment we’ll plan a Full Particl Marketplace Release.</p>
						<p><strong>This will be the truly private decentralized marketplace that will disrupt the way you buy and sell online.</strong></p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status in-progress tag">In Progress</span>
						<span class="network tag">Mainnet</span>
					</div>
					<h3 class="title">RingCT &ndash; Academic Review</h3>
					<div class="desc">
						<p>NJIT researchers are 3 months into review and will provide the foundation with a report after 6 months on the privacy, cryptography and security recommendations for Particl’s RingCT implementation on the latest Bitcoin codebase.</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Testnet/Mainnet</span>
					</div>
					<h3 class="title">Bulletproofs: Short Proofs for Confidential Transactions</h3>
					<div class="desc">
						<p>Bulletproofs is a big development that we will be reviewing this year. We estimate research, development, implementation and testing will be a 3–4 month part-time assignment for Tecnovert, Particl Lead Core Developer.</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Mainnet</span>
					</div>
					<h3 class="title">RingCT &ndash; Hardfork</h3>
					<div class="desc">
						<p>Particl will have a planned hardfork to move RingCT from testnet to mainnet. Users of Particl Desktop and Particl Copay will get a notification to upgrade each application. The app will insure users are always on the correct PART blockchain.</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Testnet/Mainnet</span>
					</div>
					<h3 class="title">Copay Cold Staking</h3>
					<div class="desc">
						<p>Particl Copay is a secure wallet made for desktop and mobile OS. We plan to integrate Particl Cold Staking into this multi-signature wallet.</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<!--span class="network tag">Testnet</span-->
					</div>
					<h3 class="title">Community Fund Vote</h3>
					<div class="desc">
						<p>There is PART remaining from the Community Initiative Fund #1 &ndash;  roughly 30,000 PART (at this time) with a few more claims still being vetted. The community needs to create a plan for these extra coins that were donated but not needed. Start brainstorming!</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Testnet/Mainnet</span>
					</div>
					<h3 class="title">Lightning Network</h3>
					<div class="desc">
						<p>A lot of excitement is stirring in the space because of lightning (LND) releasing on mainnet. Obviously, this is a big item on our radar as we build paths for other cryptocurrency coins to be used on Particl Marketplace.</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status planned tag">Planned</span>
						<span class="network tag">Testnet/Mainnet</span>
					</div>
					<h3 class="title">BlindLightning | BlackLightning</h3>
					<div class="desc">
						<p>What if Particl Confidential TXs or even RingCT could be leveraged in atomic swaps/lightning network transactions between PART and other coins &ndash; providing true privacy for non-private coins?</p>
					</div>
				</div>

				<div class="item">
					<img src="/assets/img/illustrations/intro_coffee.png" class="image">
					<div class="tags">
						<span class="status in-progress tag">In Progress</span>
						<span class="network tag">Testnet/Mainnet</span>
					</div>
					<h3 class="title">Particl Desktop — future versions</h3>
					<div class="desc">
						<p>New features related to the Particl Marketplace integration into Desktop will be ongoing throughout 2018. We’ve had a lot of requests for extra widgets and features from the community/team that are moving down the pipeline.</p>
					</div>
				</div>

      </div><!-- .block-grid -->

		</div>
	</div>
</section><!-- #page-title -->

{% include particl-desktop.html %}