---
layout: default
---

<section class="page-title centered">
  <div class="row">
    <div class="column">
      <h1 class="title">Particl Project<br />Roadmap</h1>
      <p class="large">For more details on the Particl project’s development status, visit our <a href="/status-report/">Status Report</a> page.</p>
      <small>Updated 12 August 2019</small>
    </div>
  </div>
</section>

<hr>

<section class="roadmap">
  <div class="row">
    <div class="column">

      <h2>Upcoming features</h2>
      
      <div class="roadmap-items small-block-grid-1 medium-block-grid-2 large-block-grid-3">

        <!-- ======[  In Progress  ]====== -->

        <div class="item in-progress">
          <div class="tags" data-aos="fade">
            <span class="status tag">In Progress</span>
            <span class="network tag">Mainnet</span>
          </div>
          <h4 class="title">Trezor Wallet Integration</h4>
          <div class="desc">
            <p>The initial integration of Particl into Trezor’s hardware wallet enables the secure holding and cold staking of PART. Carry PART on the go and protect your funds even if your computer is compromised. The initial integration will only enable public balances to be held on Trezor devices.</p>
          </div>
        </div>

        <div class="item in-progress">
          <div class="tags" data-aos="fade">
            <span class="status tag">In Progress</span>
            <span class="network tag">Mainnet</span>
          </div>
          <h4 class="title">Market: Market Management</h4>
          <div class="desc">
            <p>An upcoming Particl Open Marketplace tool that allows any user to add and remove user markets to their Particl Desktop client. User markets are markets created by users that are not enabled by default through the main interface of the Open Marketplace. These markets can only be accessed by users who possess their specific Market Keys.</p>
          </div>
        </div>

        <div class="item in-progress">
          <div class="tags" data-aos="fade">
            <span class="status tag">In Progress</span>
            <span class="network tag">Mainnet</span>
          </div>
          <h4 class="title">Market: Inventory Management</h4>
          <div class="desc">
            <p>An upcoming Particl Open Marketplace tool that allows sellers to easily manage large inventories from Particl Desktop. This tool also enables sellers to set up quantities and easily list items without having to manually post them one by one. This is ideal for large scale sellers.</p>
          </div>
        </div>
        
        <div class="item in-progress">
          <div class="tags" data-aos="fade">
            <span class="status tag">In Progress</span>
            <span class="network tag">Mainnet</span>
          </div>
          <h4 class="title">Software Development Kit (SDK)</h4>
          <div class="desc">
            <p>Particl’s SDK will provide any developer with the required tools and environment to easily start contributing to the Particl network by either creating their own decentralized applications or improving already-existing products such as Particl Marketplace or Particl Desktop by adding to them new features.</p>
          </div>
        </div>

        <div class="item in-progress">
          <div class="tags" data-aos="fade">
            <span class="status tag">In Progress</span>
            <!--span class="network tag">Testnet</span-->
          </div>
          <h4 class="title">Community Fund Vote</h4>
          <div class="desc">
            <p>There is currently a leftover from the Community Initiative of ~33,000 PART which is entirely owned by the community. As these funds are simply held by the Particl Foundation and not owned by it, a consensus among the community must be reached in order to move or utilize those funds. Proposal voting rounds will be initiated as soon as the Project Governance mechanism hits mainnet!</p>
          </div>
        </div>

        <div class="item in-progress">
          <div class="tags" data-aos="fade">
            <span class="status tag">In progress</span>
            <span class="network tag">Testnet/Mainnet</span>
          </div>
          <h4 class="title">Lightning Network</h4>
          <div class="desc">
            <p>May 6, 2019 &ndash; The Particl Lightning Network has arrived on testnet! It is now possible to test the Lightning Network on Particl by running the Particl LND application. For more information about it and to know how to test it for yourself, head over to <a href="https://particl.news/particl-lightning-network-now-available-on-testnet-eb87a5ab65cd" taget="_blank">this blog post</a>.</p>
          </div>
        </div>
        
        <!-- ======[  Planned  ]====== -->

        {% comment %}
        <div class="item planned">
          <div class="tags" data-aos="fade">
            <span class="status tag">Planned</span>
            <span class="network tag">Testnet</span>
          </div>
          <h4 class="title">Seller Reputation</h4>
          <div class="desc">
            <p>How do you protect against sybil attacks and gaming of reputation in a privacy focused marketplace?</p>
            <p>This is a big question that requires some serious R&D. Everything is 10&times; harder when applying privacy to it. Reputation is important in ecommerce. The development and research teams will spend a lot of time flushing out the importance and risks of reputation in a privacy focused marketplace.</p>
          </div>
        </div>
        {% endcomment %}

        <div class="item planned">
          <div class="tags" data-aos="fade">
            <span class="status tag">Planned</span>
            <span class="network tag">Testnet/Mainnet</span>
          </div>
          <h4 class="title">ZMQ for MP Messages</h4>
          <div class="desc">
            <p>Short for <a href="http://zguide.zeromq.org/page:all#-MQ-in-a-Hundred-Words">ZeroMQ</a>, this is an automated messaging system that allows messages and notifications to be automatically pushed to Particl Desktop. An example would be if Particl Desktop has an update available, ZMQ will push notification to Particl Desktop and users will see a notice a new version of the Desktop is available.</p>
          </div>
        </div>

        <div class="item planned">
          <div class="tags" data-aos="fade">
            <span class="status tag">Planned</span>
            <span class="network tag">Testnet/Mainnet</span>
          </div>
          <h4 class="title">Blind Lightning</h4>
          <div class="desc">
            <p>Bling Lightning is our very own projected custom implementation of the Lightning Network with added support for CT and RingCT privacy transactions. This would allow for anonymous atomic swaps as well as improved privacy within the Lightning Network itself.</p>
          </div>
        </div>

      </div>

      <div class="medium-8 large-7 medium-centered large-centered columns">
        <h2>Completed features</h2>
        <p class="large">Click on a feature to read more:</p>
  
        <h3 class="year">2019</h3>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Market: Q&A, Product Reviews</strong>
            <span class="tag">Sep 23, 2019</span>
          </summary>
          <div class="desc">
            <p>
              A Particl Open Marketplace feature that allows any user to ask questions to sellers. It also allows buyers to leave feedback and reviews on purchases. This feature is included inside the listing pop-up windows and will help buyers make better informed purchases.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Market: Listing Imports</strong>
            <span class="tag">Sep 23, 2019</span>
          </summary>
          <div class="desc">
            <p>
              A Particl Open Marketplace tool that allows sellers to easily import their inventory from outside sources. This tool enables the importing of listings via sources like WooCommerce, CSV files, spreadsheets, and etc. This helps with the on-boarding of sellers already selling online on other eCommerce platforms and marketplaces.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Particl Desktop Multi-wallets</strong>
            <span class="tag">Aug 12, 2019</span>
          </summary>
          <div class="desc">
            <p>
              Multi-wallets will allow you to set up multiple wallets within the same Particl Desktop client, dramatically increasing your security, privacy, and usability by isolating your data and history used on different profiles. Multi-wallet support was added in Particl <a href="https://github.com/particl/particl-core/releases/tag/v0.15.0.2" target="_blank">Core v0.15.0.2</a>.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Particl Marketplace Release</strong>
            <span class="tag">Aug 12, 2019</span>
          </summary>
          <div class="desc">
            <p>
              The <a href="/marketplace/">Particl Open Marketplace</a> <a href="https://particl.news/particls-open-marketplace-is-now-live-on-mainnet-bed75988b690" target="_blank">has been released on mainnet</a>! The first live version includes full anon privacy (RingCT & CT powered marketplace transactions enabled by default), multi-wallets, and community proposals. It also includes the OMP Library that makes the back-end much stronger and ready to integrate more advanced features.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>RingCT Hardfork</strong>
            <span class="tag">Jul 16, 2019</span>
          </summary>
          <div class="desc">
            <p>
              Particl’s Bitcoin-based implementation of the RingCT privacy protocol has been on testnet since Particl’s inception but is planned on being moved over to mainnet soon in combination with the Marketplace Governance mechanism. Particl’s own custom implementation of RingCT has been properly audited by WSA and academically reviewed by the NJIT Department of Technology and no major issue was found by neither inspections.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Bulletproofs: Making Privacy Transactions Scalable</strong>
            <span class="tag">Jul 16, 2019</span>
          </summary>
          <div class="desc">
            <p>
              Bulletproofs are short non-interactive zero-knowledge proofs that require no trusted setup. They are designed to enable efficient Confidential Transactions (CT), and thus RingCT, effectively reducing their transaction size by about ~80%. We estimate the research, development, implementation, and testing to take around 3 to 4 months as a part-time assignment for Tecnovert, our Lead Core Developer & Cryptographer.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>RingCT Code Audit</strong>
            <span class="tag">Jul 5, 2019</span>
          </summary>
          <div class="desc">
            <p>
              The MLSAG and Bulletproofs parts of Particl’s custom implementation of RingCT have been successfully audited by the renowned QuarksLab security firm. <a href="https://particl.news/particl-lightning-network-now-available-on-testnet-eb87a5ab65cd" target="_blank">The report came back perfect</a>, with no vulnerability or weakness identified in the code. This was the catalyst for <a href="https://particl.news/ringct-bulletproofs-now-available-on-mainnet-b97a06a56fa9" target="_blank">RingCT’s move onto mainnet a few days later</a>.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Copay Cold Staking</strong>
            <span class="tag">May 9, 2019</span>
          </summary>
          <div class="desc">
            <p>
              Particl Copay is a secure but simple wallet made for desktop and mobile OS. We plan on integrating cold staking into it, thus allowing users to add multi-signature security parameters to their cold staking or hardware cold staking setup.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Market Listing Governance</strong>
            <!--span class="tag">xxxxx, 2019</span-->
          </summary>
          <div class="desc">
            <p>
              The Marketplace Governance system will allow users to self-moderate the content listed on Particl Marketplace. This system is entirely controlled by the community and no Particl team member or staff has any authority over the content of the marketplace.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>iOS Copay mobile wallet</strong>
            <span class="tag">Jan 24, 2019</span>
          </summary>
          <div class="desc">
            <p>
              Particl’s mobile wallet, Particl Copay, is currently only available for Android devices as well as desktops. We plan on releasing an iOS version for it to be published on Apple’s App Store.
            </p>
          </div>
        </details>


        <h3 class="year">2018</h3>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Ledger Wallet Integration</strong>
            <span class="tag">Aug 7, 2018</span>
          </summary>
          <div class="desc">
            <p>
              Initial support for the Ledger Hardware Wallet is here!<br>This has not yet been extended to <code>blind</code> or <code>anon</code> transactions and therefore currently cannot be used exclusively for all functions of the wallet. Support will continue to be extended in future versions.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>RingCT &ndash; Academic Review</strong>
            <span class="tag">Jul, 2018</span>
          </summary>
          <div class="desc">
            <p>
              NJIT researchers are 5 months into review and will provide the foundation with a report after 6 months on the privacy, cryptography and security recommendations for Particl’s RingCT implementation on the latest Bitcoin codebase.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Particl Marketplace (alpha)</strong>
            <span class="tag">May 31, 2018</span>
          </summary>
          <div class="desc">
            <p>
              ALPHA is the long-awaited decentralized marketplace dApp within <a href="{% link downloads.md %}">Particl Desktop</a>. The <a href="https://github.com/particl/particl-desktop/releases/tag/v1.2.0-market-alpha" target="_blank">Market alpha release</a> of the marketplace will be barebones to start as users begin to test and progress through the buying/selling process.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Support for Hardware Signing Devices</strong>
            <span class="tag">Mar 20, 2018</span>
          </summary>
          <div class="desc">
            <p>
              Particl Core 0.16 introduces generic support for Hardware Signing Devices to provide key-signing capabilities.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Stealth Addresses v2</strong>
            <span class="tag">Mar 20, 2018</span>
          </summary>
          <div class="desc">
            <p>
              In order to facilitate deterministic generation of stealth addresses between Particl Core and Signing Devices the method used to generate these addresses had to be changed.
            </p>
          </div>
        </details>


        <h3 class="year">2017</h3>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Quantum-resistant Cold Staking</strong>
            <span class="tag">Nov 11, 2017</span>
          </summary>
          <div class="desc">
            <p>
              1<sup>st</sup> true cold staking PoS protocol implemented. Enhances privacy for stakers, staking becomes quantum-resistant.
            </p>
          </div>
        </details>
        
        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Atomic Swaps</strong>
            <span class="tag">Sep 24, 2017</span>
          </summary>
          <div class="desc">
            <p>
              Particl integrates and enables <a href="https://github.com/particl/atomicswap" target="_blank">atomic swaps</a> with other supported blockchains.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Blockchain genesis, SegWit, CT</strong>
            <span class="tag">Jul 17, 2017</span>
          </summary>
          <div class="desc">
            <p>
              Particl blockchain launched as pure PoS (no PoW period or pre-mine) with native Segwit support, Confidential Transactions (CT) and decentralized voting. Particl Core (Qt wallet) released.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Non-profit Foundation</strong>
            <span class="tag">Jul 4, 2017</span>
          </summary>
          <div class="desc">
            <p>
              <a href="https://particl.foundation/" taget="_blank">Particl Stiftung</a>, a Swiss non-profit foundation, is created and registered to support the project financially, legally and strategically.
            </p>
          </div>
        </details>

        <details class="completed item">
          <summary>
            <i class="ico ico-check value"></i>
            <strong>Marketplace Whitepaper</strong>
            <span class="tag">Mar 22, 2017</span>
          </summary>
          <div class="desc">
            <p>
              The first draft of the <a href="https://github.com/particl/whitepaper/" taget="_blank">Particl Marketplace whitepaper</a> is released.
            </p>
          </div>
        </details>

      </div><!-- completed features -->

    </div>
  </div>
</section><!-- #page-title -->

{% include particl-desktop.html %}
