---
layout: default
---

<section class="page-title">
  <div class="row">
    <div class="large-5 columns">
      <h1 class="title">PART Specifications</h1>
      <p class="large">
        Quick introduction to technical properties of Particl's native PART coin. Read our <a href="https://particl.wiki/support/faq/part-coin" target="_blank">PART coin FAQ</a> on Wiki for more details
      </p>
      <small>Updated December 20, 2020</small>
    </div>
  </div>
</section>

<hr />

<section class="specs item blockchain">

  <div class="row">
    <div class="text large-3 columns">
      <h3 class="title">Blockchain specifications</h3>
      <p class="small" data-aos="fade-right">
        PART is a Proof-of-Stake and privacy-focused cryptocurrency based on the Bitcoin codebase. It is always maintained to its latest version for security, usability, and stability purposes.
      </p>
      <p class="small" data-aos="fade-right">
        Its blockchain is powered by multiple leading edge distributed protocols typically built for Bitcoin. This includes Segwit, atomic swaps, and the Lightning Network.
      </p>
    </div>
    <div class="info large-8 large-push-1 columns">
      <table class="full-width">
        <tr>
          <th>Block time</th>
          <td>120 seconds <!-- <small>5&times; faster than BTC</small> --></td>
        </tr>
        <tr>
          <th>Block size</th>
          <td>2 MB <!-- <small>2&times; larger than BTC</small> --></td>
        </tr>
        <tr>
          <th>Consensus mechanism</th>
          <td>
            <a target="_blank" href="https://particl.wiki/learn/staking">Particl Proof-of-Stake</a>
            <small>with cold-staking</small>
          </td>
        </tr>
        <tr>
          <th>Money Supply</th>
          <td><a target="_blank" href="https://explorer.particl.io/status">&approx; 9.73 million PART</a></td>
        </tr>
        <tr>
          <th>Always up-to-date BTC codebase</th>
          <td><i class="ico ico-check value"></i><small>New changes to Bitcoin codebase are integrated to Particl regularly to keep up with latest security fixes and performance improvements</small></td>
        </tr>
        <tr>
          <th><a target="_blank" href="https://en.wikipedia.org/wiki/SegWit">SegWit</a> <small>Segregated Witness</small></th>
          <td><i class="ico ico-check value"></i><small>Native support for all transactions</small></td>
        </tr>
        <tr>
          <th>Atomic Swaps</th>
          <td><i class="ico ico-check value"></i><small>Supported with compatible blockchains</small></d>
        </tr>
        <tr>
          <th>Fair distribution</th>
          <td><i class="ico ico-check value"></i><small>No ICO, no pre-mine</small></td>
        </tr>
      </table>
    </div>
  </div>

</section>
<hr>
<section class="specs item staking">

  <div class="row">
    <div class="text large-3 columns">
      <h3 class="title">Staking</h3>
      <p class="small" data-aos="fade-right">
        Particl’s staking protocols rewards stakers with regular dividend-like rewards in exchange for securing the network by keeping their nodes online.
      </p>
      <p class="small" data-aos="fade-right">
        Stakers can also use cold staking which rewards them with staking rewards even if their funds are stored offline in cold wallets or hardware devices. Stakers can also team up and stake using cold staking pools which are like mining pools, but for staking.
      </p>
    </div>
    <div class="info large-8 large-push-1 columns">
      <table class="full-width">
        <tr>
          <th><a href="https://particl.wiki/learn/staking" target="_blank">Particl Cold Staking</a></th>
          <td><i class="ico ico-check value"></i><small>Staking via dedicated devices or hardware wallets</small></td>
        </tr>
        <tr>
          <th>Yearly interest rate</th>
          <td>2 %</td>
        </tr>
        <tr>
          <th>Current staking reward</th>
          <td><a target="_blank" href="https://explorer.particl.io/">&approx; 0.667 PART</a></td>
        </tr>
        <tr>
          <th>Coin maturity</th>
          <td>225 confirmations <small>approx. 8 hours</small></td>
        </tr>
      </table>
    </div>
  </div>

</section>
<hr>
<section class="specs item privacy">

  <div class="row">
    <div class="text large-3 columns">
      <h3 class="title">Privacy features</h3>
      <p class="small" data-aos="fade-right">
        PART is a next-generation privacy coin that leverages a combination of several privacy protocols (CT, RingCT, Bulletproofs, stealth addresses) as well as the Bitcoin codebase to provide unmatched privacy and flexibility.
      </p>
      <p class="small" data-aos="fade-right">
        Because these protocols run on top of the Bitcoin codebase, PART is able to be used within smart-contracts and decentralized applications, making them as private as the PART currency itself.
      </p>
    </div>
    <div class="info large-8 large-push-1 columns">
      <table class="full-width">
        <tr>
          <th><a href="https://particl.wiki/learn/transaction-types" target="_blank">Multi-state privacy</a></th>
          <td><i class="ico ico-check value"></i><small>3 optional privacy levels for transactions</small></td>
        </tr>
        <tr>
          <th>Public transactions</th>
          <td><i class="ico ico-check value"></i><small>Bitcoin-like public transactions, auditable on blockchain</small></td>
        </tr>
        <tr>
          <th>Blind transactions <small>AKA Confidential Transactions (CT)</small></th>
          <td><i class="ico ico-check value"></i><small>Transaction parties are visible on blockchain, but the amount is hidden</small></td>
        </tr>
        <tr>
          <th>Private transactions <small>AKA RingCT</small></th>
          <td><i class="ico ico-check value"></i><small>Both transaction parties &amp; amounts are hidden on blockchain</small></td>
        </tr>
      </table>
    </div>
  </div>

</section>
<hr>
<section class="specs item security">

  <div class="row">
    <div class="text large-3 columns">
      <h3 class="title">Security features</h3>
      <p class="small" data-aos="fade-right">
        The security of the PART coin is second to none with several tools being available to increase the security of your funds.
      </p>
      <p class="small" data-aos="fade-right">
        Use hardware wallets, set up multi-signature addresses right from your mobile application, or store your funds (and even stake them) from a hardware device like the Ledger Nano S or the Trezor.
      </p>
    </div>
    <div class="info large-8 large-push-1 columns">
      <table class="full-width">
        <tr>
          <th>Multi-signature wallets</th>
          <td><i class="ico ico-check value"></i><small>Supported with Particl Copay</small></td>
        </tr>
        <tr>
          <th><a href="https://particl.wiki/tutorial/ledger" target="_blank">Ledger hardware wallet</a></th>
          <td><i class="ico ico-check value"></i><small>Supported with Particl Qt</small></td>
        </tr>
        <tr>
          <th>Trezor hardware wallet</th>
          <td>In development <small>Supported with Particl Qt</small></td>
        </tr>
        <tr>
          <th>Staking from hardware wallet</th>
          <td><i class="ico ico-check value"></i><small>Keep your coins safe and stake them at the same time</small></td>
        </tr>
      </table>
    </div>
  </div>

</section>


<section class="cta">
  <a href="/why-particl/" class="hollow button">Why Particl?</a>
  <a href="/downloads/" class="full button">Download &amp; Explore</a>
</section>


{% include particl-desktop.html %}
