---
layout: default
---

<section class="page-title">
  <div class="row">
    <div class="large-5 columns">
      <h1 class="title">PART Specifications</h1>
      <p class="large">
        Quick introduction to technical properties of Particl's native PART coin. Read our <a href="https://particl.wiki/faq_part_coin">PART coin FAQ</a> on Wiki for more details
      </p>
      <small>Updated August 15, 2018</small>
    </div>
  </div>
</section>

<hr />

<section class="specs item blockchain">

	<div class="row">
    <div class="text large-4 columns">
      <h3 class="title">Blockchain specifications</h3>
      <p class="large">xxx</p>
    </div>
    <div class="info large-8 columns">
      <table class="full-width">
        <tr>
          <th>Block time</th>
          <td>120 seconds <small>5&times; faster than BTC</small></td>
        </tr>
        <tr>
          <th>Block size</th>
          <td>2 MB <small>2&times; larger than BTC</small></td>
        </tr>
        <tr>
          <th>Consensus mechanism</th>
          <td>
            <a target="_blank" href="https://particl.wiki/what-is#platform-wide_features">Particl Proof-of-Stake</a>
            <small>with quantum-resistant cold-staking</small>
          </td>
        </tr>
        <tr>
          <th>Always up-to-date BTC codebase</th>
          <td><img src="/assets/img/ico/downloads_check.png" alt="YES" class="value"><small>New changes to Bitcoin codebase are integrated to Particl regularly to keep up with latest security fixes and performance improvements</small></td>
        </tr>
        <tr>
          <th><a target="_blank" href="https://en.wikipedia.org/wiki/SegWit">SegWit</a> <small>Segregated Witness</small></th>
          <td><img src="/assets/img/ico/downloads_check.png" alt="YES" class="value"><small>Native support for all transactions</small></td>
        </tr>
        <tr>
          <th>Atomic Swaps</th>
          <td><img src="/assets/img/ico/downloads_check.png" alt="YES" class="value"></d>
        </tr>
      </table>
    </div>
  </div>

</section>
<hr>
<section class="specs item staking">

  <div class="row">
    <div class="text large-4 columns">
      <h3 class="title">Staking</h3>
      <p class="large">xxx</p>
    </div>
    <div class="info large-8 columns">
      <table class="full-width">
        <tr>
          <th>Particl Cold Staking</th>
          <td><img src="/assets/img/ico/downloads_check.png" alt="YES" class="value"><small>Staking via dedicated devices or hardware wallets</small></td>
        </tr>
        <tr>
          <th>Yearly interest rate</th>
          <td>4 % <small>decreasing each year by 1% (after 2 years onwards 2% yearly)</small></td>
        </tr>
        <tr>
          <th>Current staking reward</th>
          <td><a target="_blank" href="https://explorer.particl.io/">&approx; 1.2428 PART</a></td>
        </tr>
        <tr>
          <th>Coin maturity</th>
          <td>225 confirmations <small>approx. 8 hours</small></td>
        </tr>
      </table>
    </div>
  </div>

</section>
<hr>
<section class="specs item privacy">

  <div class="row">
    <div class="text large-4 columns">
      <h3 class="title">Privacy features</h3>
      <p class="large">xxx</p>
    </div>
    <div class="info large-8 columns">
      <table class="full-width">
        <tr>
          <th><a href="https://particl.wiki/what-is#multi-state_privacy">Multi-state privacy</a></th>
          <td><img src="/assets/img/ico/downloads_check.png" alt="YES" class="value"><small>3 optional privacy levels for transactions</small></td>
        </tr>
        <tr>
          <th>Public transactions</th>
          <td><img src="/assets/img/ico/downloads_check.png" alt="YES" class="value"><small>Bitcoin-like public transactions, auditable on blockchain</small></td>
        </tr>
        <tr>
          <th>Blind transactions <small>AKA Confidential Transactions (CT)</small></th>
          <td><img src="/assets/img/ico/downloads_check.png" alt="YES" class="value"><small>Transaction parties are visible on blockchain, but the amount is hidden</small></td>
        </tr>
        <tr>
          <th>Private transactions <small>AKA RingCT</small></th>
          <td>On testnet only <small>Both transaction parties &amp; amounts are hidden on blockchain</small></td>
        </tr>
      </table>
    </div>
  </div>

</section>
<hr>
<section class="specs item security">

  <div class="row">
    <div class="text large-4 columns">
      <h3 class="title">Security features</h3>
      <p class="large">xxx</p>
    </div>
    <div class="info large-8 columns">
      <table class="full-width">
        <tr>
          <th>Multi-signature wallets</th>
          <td><img src="/assets/img/ico/downloads_check.png" alt="YES" class="value"><small>Supported with Particl Copay</small></td>
        </tr>
        <tr>
          <th>Ledger hardware wallet</th>
          <td><img src="/assets/img/ico/downloads_check.png" alt="YES" class="value"><small>Supported with Particl Qt</small></td>
        </tr>
        <tr>
          <th>Trezor harware wallet</th>
          <td>In development <small>Supported with Particl Qt</small></td>
        </tr>
        <tr>
          <th>Staking from hardware wallet</th>
          <td><img src="/assets/img/ico/downloads_check.png" alt="YES" class="value"><small>Keep your coins safe and stake them at the same time</small></td>
        </tr>
      </table>
    </div>
  </div>

</section>


<section class="cta">
  <a href="/why-particl/" class="hollow button">Why Particl?</a>
  <a href="/downloads/" class="full button">Download &amp; Explore</a>
</section>


{% include particl-desktop.html %}