---
layout: default
---

<section class="page-title centered">
	<div class="row">
		<div class="column">
      <h1 class="title">Particl Project<br />Status Report</h1>
      <p class="large">For general overview of Particl Project's goals visit <a href="/roadmap/">Project Roadmap</a></p>
      <small>Updated 3 August 2018</small>
    </div>
	</div>
</section><!-- #page-title -->

<hr>

<section class="status-report">
	<div class="row">
    <div class="column">
      <div class="grid small-block-grid-1 medium-block-grid-2 large-block-grid-2">

        <div class="part completed">
          <h2 class="title">Recently completed</h2>
          
<ul>
  <li>Particl Marketplace (alpha, testnet)
    <ul>
      <li>Fixing bugs identified by users</li>
      <li>Licence terms are updated</li>
      <li>Voting tools for proposals (adding a screen, post a proposal, process incoming proposal, post a vote, process a vote, list proposals and retrieve proposals)</li>
      <li>Governance &ndash; Voting an item off the market (check if listing has been voted of the marketplace previously, vote listing item of the marketplace, process incoming votes and return proposal result for the item)</li>
    </ul>
  </li>
  <li>Particl Core
    <ul>
      <li>Particl Core 0.16.1.0</li>
    </ul>
  </li>
</ul>

        </div><!-- .completed -->

        <div class="part in-development">
          <h2 class="title">In development</h2>

<ul>
  <li>Particl Marketplace (alpha, testnet)
    <ul>
      <li>Finalising voting and Proposals
        <ul>
          <li>Creation of Proposals</li>
          <li>Voting tools and stats</li>
          <li>Consensus on the removal of products &ndash; Market governance</li>
        </ul>
      </li>
      <li>Advanced sort and filter option</li>
      <li>Code refactoring</li>
      <li>Multiwallet implementation</li>
      <li>Escrow process refactor and enhancements</li>
      <li>Automated Testing &ndash; end-to-end testing, Unit Testing and Regression Testing</li>
      <li>Error tracking in GUI &ndash; Link to better explain errors (Particl Wiki)</li>
    </ul>
  </li>
  <li>Third-party integrations
    <ul>
      <li>Trezor integration</li>
    </ul>
  </li>
  <li>Particl Core
    <ul>
      <li>Particl Core 0.17.0.1</li>
    </ul>
  </li>
</ul>

        </div><!-- .in-development -->

        <div class="part reviewed">
          <h2 class="title">Waiting for review</h2>

<ul>
  <li>Particl Desktop (v1.2.2, mainnet)
    <ul>
      <li>Cold staking widget fix</li>
      <li>User Interface updates</li>
      <li>Updated icons</li>
      <li>Transaction handling refactored</li>
      <li>Running on 0.16.1.0 particl-core</li>
    </ul>
  </li>
  <li>Particl Marketplace (alpha, testnet)
    <ul>
      <li>Adding a location selector for a more clear pricing structure</li>
      <li>Trigger notifications for orders changes</li>
      <li>Expiry times on listings</li>
      <li>Multiwallet design and layout</li>
      <li>Starting the desktop without the marketplace</li>
    </ul>
  </li>
  <li>Third-party integrations
    <ul>
      <li>Ledger integration</li>
    </ul>
  </li>
  <li>Particl Core
    <ul>
      <li>Particl Core 0.17.0.1 (alpha)</li>
    </ul>
  </li>
</ul>

        </div><!-- .reviewed -->

        <div class="part upcoming">
          <h2 class="title">Upcoming features</h2>

<ul>
  <li>Particl Marketplace (beta)
    <ul>
      <li>Private listings</li>
      <li>Private Markets</li>
      <li>Escrow enhancements</li>
      <li>Deposit Negotiations</li>
      <li>Marketplace versioning for messages and listings</li>
      <li>Settings page</li>
    </ul>
  </li>
  <li>Software Development Kit (SDK)</li>
</ul>

        </div><!-- .upcoming -->

      </div>
    </div>
	</div>
</section><!-- .status-report -->

{% include particl-desktop.html %}
