---
layout: default
---

<section id="page-title">
	<div class="row">
		<div class="column">
      <h1 class="title text-center header-line-height">Particl Project<br />Status Report</h1>
      <p class="text-center">Updated 5 Jun 2017</p>
    </div>
	</div>
</section><!-- #page-title -->



<section class="report-busy status-report">
	<div class="row">
		<div class="large-6 columns">

			<div class="icon-title">
				<img class="ico" src="/assets/img/ico/status-report/busy-with.svg" alt="">
				<h2 class="title">What are we busy with</h2>
			</div>
			
<ul>
  <li>Particl Core 0.16.0.6</li>
  <li>
    Particl Market Place – Alpha issues
    <ul>
      <li>Fixing bugs identified by users</li>
      <li>Refactoring modals</li>
      <li>Shipping profile improvements</li>
      <li>Enhanced test suites</li>
      <li>Improving error handling</li>
    </ul>
  </li>
  <li>RingCT Academic review  </li>
</ul>


		</div>
		<div class="large-6 columns">

			<div class="icon-title">
				<img class="ico" src="/assets/img/ico/status-report/under-review.svg" alt="">
				<h2 class="title">Waiting for review</h2>
			</div>
			
<ul>
  <li>Modals service refactorization</li>
  <li>Moved seller-listing to separate component for showing listings</li>
  <li>Refactor of error handling to work on other requests</li>
  <li>Image size and quality</li>
  <li>Performance improvements</li>
</ul>


		</div>
	</div>
</section><!-- .feature -->

<section class="report-done status-report">
	<div class="row">
		<div class="large-6 column">

			<div class="icon-title">
				<img class="ico" src="/assets/img/ico/status-report/wrapped-up.svg" alt="">
				<h2 class="title">Wrapped up</h2>
			</div>
			
<ul>
  <li>Particl Core 0.16.0.5</li>
  <li>
    Particl Market Place Alpha Release
    <ul>
      <li>
        Listings Page
        <ul>
          <li>Within the Listings page, users will have access to all listings that have been published on the Particl test network. All items can be viewed, added to favourites and added to your cart</li>
          <li>Search, and filtering capabilities allow users to minimize what they are looking for easily</li>
          <li>Filtering options currently support country or category</li>
          <li>The ability to use both in combination is also available</li>
        </ul>
      </li>
      <li>
        Sell Page
        <ul>
          <li>On the Sell page, users have access to their listings and orders</li>
          <li>New listings can be added and published to the test network</li>
          <li>A search function is also available to filter through your published listings</li>
        </ul>
      </li>
      <li>
        Buy Page
        <ul>
          <li>On the Buy page, users have access to their cart, orders and favourites</li>
          <li>Items added to the cart are available for review and includes a cost summary of all the items contained in the cart</li>
          <li>Users can start the checkout process by adding shipping details and continuing to the last step where you can order (send a bid) on the items you would like to purchase</li>
          <li>The favourites tab can be used as a wish list to save items you would like to add to your cart at a later stage</li>
          <li>Items saved to favourites are available on your return</li>
        </ul>
      </li>
      <li>
        Buy Flow: The buy flow consists of 5 steps where the seller and buyer will follow a pre-defined workflow that takes care of bidding and escrow:
        <ul>
          <li><strong>Bidding:</strong> Once the order has been placed the seller will manually accept the bid allowing the escrow process to start</li>
          <li><strong>Awaiting escrow:</strong> On an accepted bid, the buyer is now able to make the payment and lock in escrow</li>
          <li><strong>Escrow (Lock):</strong> The funds are locked in escrow, and the product can be shipped to the buyer</li>
          <li><strong>Shipping:</strong> The order has been shipped, and the buyer will mark as delivered on receiving the item, this will automatically release escrow</li>
          <li><strong>Complete:</strong> The purchase will be marked as complete and finalise the release of escrow</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>


		</div>
		<div class="large-6 column">
			
			<div class="icon-title">
				<img class="ico" src="/assets/img/ico/status-report/on-horizon.svg" alt="">
				<h2 class="title">What's on the Horizon</h2>
			</div>
			
<ul>
  <li>
    Particl Marketplace – Beta Release
    <ul>
      <li>
        Features to be included:
        <ul>
          <li>Voting-Consensus on the removal of products </li>
          <li>Multi-Wallets</li>
          <li>Starting the desktop without the marketplace</li>
          <li>Private listings</li>
          <li>Private Markets</li>
          <li>Status bar for daemon</li>
          <li>Escrow enhancements</li>
          <li>Deposit Negotiations</li>
          <li>Marketplace versioning for messages and listings</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Software Development Kit (SDK)</li>
</ul>


		</div>
	</div>
</section><!-- .feature -->

{% include particl-desktop.html %}
