---
layout: default
---

<section class="page-title centered">
	<div class="row">
		<div class="column">
      <h1 class="title">Particl Project<br />Status Report</h1>
      <p class="large">For general overview of Particl Project's goals visit <a href="/roadmap/">Project Roadmap</a></p>
      <small>Updated 16 February 2019</small>
    </div>
	</div>
</section><!-- #page-title -->

<hr>

<section class="status-report">
	<div class="row">
    <div class="column">
      <div class="grid small-block-grid-1 medium-block-grid-2 large-block-grid-2">

        <div class="part completed">
          <h2 class="title">Recently completed</h2>
          
<ul>
  <li>Particl Marketplace (alpha, testnet)
    <ul>
      <li>Bug fixes</li>
      <li>Retrieving an smsg message in a textual format changed from ‘ascii’ to ‘text’</li>
      <li>Error message - <code>invalid from address</code> when wallet is not encrypted</li>
    </ul>
  </li>
  <li>Particl Desktop
    <ul>
      <li>Enhancement on</li>
      <ul>
        <li>Transaction Overview Page</li>
        <li>Listings detail page</li>
      </ul>
      <li>Bug fixes identified by community/team members</li>
      <li><strong>New version Available</strong> update (displays on existing versions that a new release is available)</li>
      <li>Reduced Image quality for lower transaction costs</li>
      <li>Cart listing management enhancements</li>
      <li>Changed how accepting the terms work</li>
      <li>Listing fee estimate now use actual size of the listing</li>
      <li>Enhancement made to saving a listing for later</li>
    </ul>
  </li>
  <li>Particl Copay
    <ul>
      <li>Bug fixes with latest available version</li>
    </ul>
  </li>
</ul>

        </div><!-- .completed -->

        <div class="part reviewed">
          <h2 class="title">Waiting for review</h2>

<ul>
  <li>Particl Desktop
    <ul>
      <li>JavaScript Error when downloading the daemon</li>
      <li>Layout and design for inventory management</li>
    </ul>
  </li>
  <li>Particl Copay
    <ul>
      <li>Add Cold-Staking to Particl Copay App</li>
	<ul>
          <li>Including visual enhancements</li>
          <li>QR code scanning</li>
        </ul>
      <li>Disable the ability to add Bitcoin Cash as a wallet</li>
    </ul>
  </li>
</ul>

        </div><!-- .reviewed -->

        <div class="part in-development">
          <h2 class="title">In development</h2>

<ul>
  <li>
    Particl Marketplace (alpha, testnet)
    <ul>
      <li>Code refactoring</li>
      <li>OMP Library Integration</li>
      <li>MP error message <code>amount out of range</code></li>
      <li>Public comments on listings</li>
    </ul>
  </li>
  <li>
    Particl Desktop
    <ul>
      <li>Unlock modal not closing on submit in certain cases</li>
      <li>Published listings displaying as unpublished</li>
      <li>GUI Stabilize and Bug fixes</li>
    </ul>
  </li>
  <li>Particl Copay
    <ul>
      <li>Cold staking to multisig wallet</li>
    </ul>
  </li>
  <li>RingCT Implementation</li>
  <li>Third Party Integration
    <ul>
      <li>Trezor integration</li>
    </ul>
  </li>
</ul>

        </div><!-- .in-development -->

        <div class="part upcoming">
          <h2 class="title">Upcoming features</h2>

<ul>
  <li>Particl Marketplace (beta)
    <ul>
      <li>Inventory Management</li>
      <li>Product Imports</li>
      <li>Deposit Negotiations</li>
      <li>Marketplace versioning for messages and listings</li>
    </ul>
  </li>
  <li>Particl Copay
    <ul>
      <li>Disable ability to add Bitcoin Cash as a wallet</li>
      <li>Add Cold-Staking to Multisig Wallet on Particl Copay App</li>
    </ul>
  </li>
  <li>Software Development Kit (SDK)</li>
</ul>

        </div><!-- .upcoming -->

      </div>
    </div>
  </div>
</section><!-- .status-report -->

{% include particl-desktop.html %}
