---
layout: default
---
<section class="page-title">
   <div class="row">
     <div class="large-5 columns">
         <h1 class="title">Subscribe</h1>
         <p class="large">Never miss important news like security issues and hardforks, get tips for Buyers &amp; Sellers and more. We promise not to spam you or share your email with 3rd parties.</a></p>
     </div>
   </div>
</section>

<hr>

<section class="subscribe">
	<div class="row">
      <div class="text large-4 columns">
         <h3 class="title">Opt-in for Particl updates</h3>
         <p class="large">Subscribe to our newsletter(s) and stay up-to-date with latest developments, testing opportunities and announcements.</p>
      </div>
      <div class="info large-8 columns">

<!-- SendinBlue form HTML/AJAX form (start) -->



<!--DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="https://static.sendinblue.com/images/favicon.ico" />
    <title>Document</title>
    <style>
      @font-face {
        font-display: block;
        font-family: Roboto;
        src: url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
      }

      @font-face {
        font-display: fallback;
        font-family: Roboto;
        font-weight: 600;
        src: url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
      }

      @font-face {
        font-display: fallback;
        font-family: Roboto;
        font-weight: 700;
        src: url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
      }
    </style>
    <link rel="stylesheet" href="https://assets.sendinblue.com/component/form/61c63ac2f8837041dc7e.css">
    <link rel="stylesheet" href="https://assets.sendinblue.com/component/clickable/74ef9830e6b42f1f3c59.css">
    <link rel="stylesheet" href="https://forms.sendinblue.com/forms/end-form/build/styles.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>

  <body style="text-align: center; background-color: #E5EDF5;"-->
    <div id="error-message" class="form-message-panel" style=" font-size:12px; text-align:left; font-family:'Helvetica', sans-serif; color:#FF474D; background-color:#FFE4E2; border-radius:3px; border-color:#FF474D; max-width:540px;">
      <p class="form-message-panel__text form-message-panel__text--center">
        Your Subscription could not be validated. Please try again.
      </p>
    </div>
    <div></div>
    <div id="success-message" class="form-message-panel" style=" font-size:12px; text-align:left; font-family:'Helvetica', sans-serif; color:#00CF6D; background-color:#D6F2E1; border-radius:3px; border-color:#00CF6D; max-width:540px;">
      <p class="form-message-panel__text form-message-panel__text--center">
        Your subscription has been successful.
      </p>
    </div>
    <div></div>
    <div id="sib-container" style=" text-align:center; background-color:rgba(255,255,255,1); max-width:540px; border-radius:3px; border-width:1px; border-color:#C0CCD9; border-style:solid;">

      <form id="sib-form" method="POST" action="https://sibforms.com/serve/MUIEALFxc1Lvmm0QZX8ujrbbNFof_JjaC8Kl6AuSfWg_g-MfSvCooVUEaH_AeTsC2MRIkfb96DlKt-_T00vJF2AA446SS28ZALOOd66d44HU_HV8bi4TxsdFQf0hZbJ8cDpJ-uMfyas1EdjmctO6rNIMpJWqs0Rn7LnkGnUH_jonh64aJ-5S4GHFwyqVaZoadrsquINi88Rz2owm">

        <div class="sib-input form-block">
          <div class="form__entry entry_block">
            <div class="form__label-row ">
              <label class="entry__label" style=" font-size:16px; text-align:left; font-weight:700; font-family:'Helvetica', sans-serif; color:#3c4858;" for="EMAIL" data-required="*">
                Enter your e-mail address to subscribe
              </label>
              <div class="entry__field">
                <input type="email" class="input" id="defaultEMAIL" name="defaultEMAIL" autocomplete="off" placeholder="Your e-mail" data-required="true" required />
              </div>
            </div>
            <label class="entry__error entry__error--primary" style=" font-size:12px; text-align:left; font-family:'Helvetica', sans-serif; color:#FF474D; background-color:#FFE4E2; border-radius:3px; border-color:#FF474D;">
            </label>
          </div>
        </div>

        <div class="sib-checkbox-group form-block">
          <div class="form__entry entry_mcq">
            <div class="form__label-row ">
              <label class="entry__label" style=" font-size:16px; text-align:left; font-weight:700; font-family:'Helvetica', sans-serif; color:#3c4858;" for="">
                Choose your interests
              </label>
              <div>
                <div class="entry__choice">
                  <label class="checkbox__label">
                    <input type="checkbox" class="input_replaced" name="lists_26[]" data-value="Buyers list – I want to buy stuff for crypto" value="5c1ba115ffcaa2181f5c3f21" />
                    <span class="checkbox checkbox_tick_positive"></span>Buyers list – I want to buy stuff for crypto
                  </label>
                </div>
                <div class="entry__choice">
                  <label class="checkbox__label">
                    <input type="checkbox" class="input_replaced" name="lists_26[]" data-value="Sellers list – I want to sell stuff for crypto" value="5c1ba12bffcaa218ce558f19" />
                    <span class="checkbox checkbox_tick_positive"></span>Sellers list – I want to sell stuff for crypto
                  </label>
                </div>
                <div class="entry__choice">
                  <label class="checkbox__label">
                    <input type="checkbox" class="input_replaced" name="lists_26[]" data-value="News &amp; updates" value="5c0e8b66e694aa2c447ee7b4" />
                    <span class="checkbox checkbox_tick_positive"></span>News &amp; updates
                  </label>
                </div>
              </div>
            </div>
            <label class="entry__error entry__error--primary" style=" font-size:12px; text-align:left; font-family:'Helvetica', sans-serif; color:#FF474D; background-color:#FFE4E2; border-radius:3px; border-color:#FF474D;">
            </label>
            <label class="entry__specification" style=" font-size:12px; text-align:left; font-family:'Helvetica', sans-serif; color:#8390A4;">
              You can optionally customize your interests. Regardless of your selection here, every user is automatically subscribed to 'Important updates' list (e-mails about urgent, security matters only, like hardforks etc.)
            </label>
          </div>
        </div>

        <div class="sib-input form-block">
          <div class="form__entry entry_block">
            <div class="form__label-row ">
              <label class="entry__label" style=" font-size:16px; text-align:left; font-weight:700; font-family:'Helvetica', sans-serif; color:#3c4858;" for="NAME">
                Your name
              </label>
              <div class="entry__field">
                <input type="text" class="input" id="NAME" name="NAME" autocomplete="off" placeholder="How should we call you?" />
              </div>
            </div>
            <label class="entry__error entry__error--primary" style=" font-size:12px; text-align:left; font-family:'Helvetica', sans-serif; color:#FF474D; background-color:#FFE4E2; border-radius:3px; border-color:#FF474D;">
            </label>
          </div>
        </div>

        <div class="form-block" style="text-align: left">
          <button class="form-block__button" style=" font-size:16px; text-align:left; font-weight:700; font-family:'Helvetica', sans-serif; color:#FFFFFF; background-color:#3E4857; border-radius:3px;" form="sib-form" type="submit">
            SUBSCRIBE
          </button>
          <div class="loader" style="display: none;">
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
            <div style="background: #3E4857;"></div>
          </div>
        </div>

        <div class="form-block" style=" font-size:14px; text-align:center; font-family:'Helvetica', sans-serif; color:#333; background-color:transparent;">
          <div class="text-form-block">
            <p>
              <a href="https://sendinblue.com" target="target_blank">Terms &amp; Privacy policy</a>
            </p>
          </div>
        </div>

      </form>
    </div>
    <script>
      window.EMAIL_INVALID_MESSAGE = "Information you have provided is not valid. Please check the field format and try again.";
      window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";
      window.GENERIC_INVALID_MESSAGE = window.EMAIL_INVALID_MESSAGE;

      window.REQUIRED_MULTISELECT_MESSAGE = 'Please select at least 1 option';

      window.translation = {
        common: {
          selectedList: '{quantity} list selected',
          selectedLists: '{quantity} lists selected'
        }
      };

      var AUTOHIDE = Boolean(0);
    </script>
    <script src="https://forms.sendinblue.com/forms/end-form/build/main.js">
    </script>
  <!--/body>

</html-->


<!-- SendinBlue form HTML/AJAX form (end) -->

      </div><!-- .column -->
	</div>
</section><!-- #page-title -->

<hr />

{% include particl-desktop.html %}