---
layout: default
---

<section class="general-about">
  <div class="row team-header">
    <div class="columns">
      <h1 class="text-center">The Particl team</h1>
    </div>
  </div>
  <div class="row team-desc">
    <div class="part large-offset-2 large-4 columns">
      <p class="large">The Particl project is lead by a sizeable team of developers, managers, designers, researchers, cryptographers and a treasurer.</p>
    </div>

    <div class="part large-4 columns">
      <p class="large">The project can also count on the help of its advisors, including some renowned names such as Charlie Shrem, Miguel Cuneta, John Bailon and Micah Spruill.</p>
    </div>
  </div>
</section>

<hr />

<section class="team general-about">
  <div class="row">
    <div class="column">
      <div class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">
        {% include team/tecnovert.html %}
        {% include team/gerlof.html %}
        {% include team/ryno.html %}
        {% include team/henk.html %}
        {% include team/nick.html %}
        {% include team/paul.html %}
        {% include team/juha.html %}
        {% include team/christina.html %}
        {% include team/shazzy.html %}
        {% include team/arnold.html %}
        {% include team/robert.html %}
        {% include team/ido.html %}
        {% include team/martin.html %}
        {% include team/cryptoguard.html %}
        {% include team/ben.html %}
        {% include team/jason.html %}
        {% include team/carmen.html %}
        {% include team/imran.html %}
        {% include team/gloria.html %}
      </div><!-- .block-grid --> 

      <hr>

      <h3>Particl Advisors</h3>
      <div class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">
        {% include advisor/charlie-shrem.html %}
        {% include advisor/micah-spruill.html %}
        {% include advisor/miguel-cuneta.html %}
        {% include advisor/john-bailon.html %}
        {% include advisor/joe-fisher.html %}
      </div><!-- .block-grid -->
    </div>
  </div>
</section><!-- .team -->

<hr />

<section class="locate general-about">
  <div class="row">
    <div class="columns">
    <h1 class="text-center">Located around the globe and growing</h1>
    </div>
  </div>
  <div class="row locate-desc">
    <div class="part large-offset-2 large-4 columns">
      <p class="large">Across the world, teams at Particl come together with a shared purpose. Our mission is to foster a new decentralized,</p>
    </div>
    <div class="part large-4 columns">
      <p class="large">private and democratic economy supported by its platform and native currency. Join us and do the best work of your life.</p>
    </div>
  </div>
  <!--div class="row">
    <div class="columns text-center">
      <a href="/careers" class="button center btn-explore">Explore Careers at Particl</a>
    </div>
  </div-->
</section>

<hr>

{% include particl-desktop.html %}
