---
layout: default
---

<section class="page-title">
  <div class="row">
		<div class="large-5 columns">
      <h1 class="title">User Guides</h1>
			<p class="large">
        To get you started with Particl, we’ve put some guides together. If you don’t find your question answered, feel free to browse <a href="https://particl.wiki" target="_blank">Wiki</a> or reach out to our community
      </p>
		</div>
	</div>
</section><!-- #page-title -->

<hr />

<section class="user-guides link-list">
	<div class="row">
    <div class="column">
      <div class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">

        <div class="part">
          <h3>Getting Started</h3>
          <ul>
            <li><a href="https://particl.wiki/listed-on-exchanges" target="_blank">Where can I buy Particl (PART)?</a></li>
            <li><a href="https://particl.wiki/better-privacy" target="_blank">How to improve your privacy</a></li>
          </ul>
        </div>
    
        <div class="part">
          <h3>Wallet & Storage</h3>
          <ul>
            <li><a href="https://www.youtube.com/watch?v=mZ66ud54l2Q&index=2&list=PLtbTcMbZZKfwdjATYA005E6mB7MsawcqM" target="_blank">How to generate your Particl Wallet</a></li>
            <li><a href="https://www.youtube.com/watch?v=GfP3DUZAlzU&list=PLtbTcMbZZKfwdjATYA005E6mB7MsawcqM&index=6" target="_blank">How to safely download Particl wallet on desktop?</a></li>
            <li><a href="https://www.youtube.com/watch?v=VQW9AKa29h8&index=3&list=PLtbTcMbZZKfwdjATYA005E6mB7MsawcqM" target="_blank">How to safely download Particl wallet on mobile?</a></li>
            <li><a href="https://particl.wiki/ledger" target="_blank">Storing Particl on Ledger hardware wallet</a></li>
            <li><a href="https://www.youtube.com/watch?v=GfP3DUZAlzU&list=PLtbTcMbZZKfwdjATYA005E6mB7MsawcqM&index=6" target="_blank">How to store your Particl safely?</a></li>
          </ul>
        </div>
        
        <div class="part">
          <h3>Wallet Recovery</h3>
          <ul>
            <li><a href="https://www.youtube.com/watch?v=fdOf0x_5OqQ" target="_blank">How to recover your fund from the Particl genesis platform?</a></li>
            <li><a href="https://www.youtube.com/watch?v=mZ66ud54l2Q&list=PLtbTcMbZZKfwdjATYA005E6mB7MsawcqM&index=2" target="_blank">How to restore your fund from a seed?</a></li>
          </ul>
        </div>
    
        <div class="part">
          <h3>Staking</h3>
          <ul>
            <li><a href="https://particl.wiki/tutorials#staking" target="_blank">How do I (cold) stake Particl?</a></li>
            <li><a href="https://particl.wiki/tor-hs" target="_blank">How do I stake using TOR?</a></li>
            <li><a href="https://particl.wiki/ledger_staking" target="_blank">How do I stake my funds held on a Ledger hardware wallet?</a></li>
          </ul>
        </div>

        <div class="part">
          <h3>Marketplace</h3>
          <ul>
            <li><a href="https://particl.news/particl-marketplace-alpha-released-and-available-for-testing-3240739f7509" target="_blank">Particl Marketplace introduction</a></li>
            <li><a href="https://particl.wiki/faq#open_marketplace" target="_blank">Marketplace FAQ</a></li>
            <li><a href="https://particl.wiki/prepare-install-marketplace" target="_blank">Install &amp; setup the Particl Open Marketplace</a></li>
            <li><a href="https://particl.wiki/how-to-buy-sell" target="_blank">How to Buy &amp; Sell on the Open Marketplace</a></li>
          </ul>
        </div>

      </div>
    </div>
	</div>
</section><!-- #page-title -->

<hr />

{% include particl-desktop.html %}