---
layout: default
---

<section id="page-title" class="general-guide">
   <div class="row">
      <div class="large-5 columns">
         <h1>Whitepapers</h1>
         <!--p class="large">
            xxxx
         </p-->
      </div>
   </div>
</section><!-- #page-title -->

<hr />

<section id="user-guide-links" class="general-guide">
	<div class="row">
		<div class="part large-6 columns">
         <h3 class="text-left">Particl Whitepapers</h3>
			<ul>
            <li><a href="https://github.com/particl/whitepaper/blob/master/decentralized-private-marketplace-draft-0.1.pdf" target="_blank" class="link-small-grey">Decentralized Private Marketplace by Ido Kaiser</a></li>
            <li><a href="https://kewde.gitbooks.io/protocol/content/" target="_blank" class="link-small-grey">Open Market Protocol (OMP)</a></li>
         </ul>
		</div>

		<div class="part large-6 columns">
      <h3>Privacy Tech Whitepapers</h3>
			<ul>
            <li><a href="https://people.xiph.org/~greg/confidential_values.txt" target="_blank" class="link-small-grey">Confidential Transactions (CT) by Greg Maxwell</a></li>
            <li><a href="https://eprint.iacr.org/2015/1098.pdf" target="_blank" class="link-small-grey">Ring Confidential Transactions (RingCT) by Shen Noether</a></li>
         </ul>
		</div>
	</div>
</section><!-- #page-title -->

<hr />

{% include particl-desktop.html %}