---
layout: default
---

<section class="page-title">
  <div class="row">
    <div class="large-5 columns">
      <h1 class="title">Docs &amp; Whitepapers</h1>
      <p class="large">
        This section contains various white papers about multiple Particl protocols. A white paper is defined as an authoritative report or guide that informs readers concisely about a complex issue and presents the issuing body's philosophy on the matter.
      </p>
    </div>
  </div>
</section><!-- .page-title -->

<hr />

<section class="whitepapers link-list">
	<div class="row">
		<div class="part large-6 columns">
      <h3>Particl Whitepapers</h3>
			<ul>
        <li><a href="https://github.com/particl/whitepaper/blob/master/decentralized-private-marketplace-draft-0.1.pdf" target="_blank" class="link-small-grey">Decentralized Private Marketplace by Ido Kaiser</a></li>
        <li><a href="https://kewde.gitbooks.io/protocol/content/" target="_blank" class="link-small-grey">Open Market Protocol (OMP)</a></li>
      </ul>
		</div>

		<div class="part large-6 columns">
      <h3>Privacy Tech Whitepapers</h3>
			<ul>
        <li><a href="https://people.xiph.org/~greg/confidential_values.txt" target="_blank" class="link-small-grey">Confidential Transactions (CT) by Greg Maxwell</a></li>
        <li><a href="https://eprint.iacr.org/2015/1098.pdf" target="_blank" class="link-small-grey">Ring Confidential Transactions (RingCT) by Shen Noether</a></li>
      </ul>
    </div>
    
    <div class="part large-6 columns">
      <h3>Other Documents</h3>
      <ul>
        <li><a href="/assets/documents/Particl-Achievement_timeline-Aug_2020.pdf" target="_blank" class="link-small-grey">Particl &ndash; Achievement Timeline (Aug 2020)</a></li>
      </ul>
    </div>
	</div>
</section><!-- #page-title -->

<hr />

{% include particl-desktop.html %}