---
layout: default
---

<section class="page-title centered">
	<div class="row">
		<div class="large-8 large-centered column">
      <h1 class="title">Why Particl</h1>
      <p class="large">
        Particl's mission is to empower society by fostering a new decentralized, private and democratic economy supported by its <a href="/coin-specifications/" title="Read more about PART specifications">blockchain platform</a>. This new alternative economy allows people to both earn and spend money in a completely trustless fashion as well as use and build decentralized applications that respect their rights to privacy.
      </p>
		</div>
	</div>
</section><!-- .page-title -->

<hr />

<section class="economy" id="core-values">
  <div class="row">
		<div class="columns">
      <h1 class="text-center header-line-height">Hard coding the architecture for the new economy</h1>
		</div>
  </div>
	<div class="row">
		<div class="part large-offset-2 large-4 small-12 columns">
			<p class="large">
        The state of the debt-based world economy as it is today isn't rewarding for most individuals on the planet. The people have seen their purchasing and democratic powers slowly erode over time and be transfered over to a select number of powerful entities. We at Particl believe in a different world, one without middlemen or central authority and where the power is restored back to the people.
      </p>
		</div>

		<div class="part large-4 columns">
			<p class="large">
        From protecting privacy and civil liberties to promoting open software to build platforms for decentralized commerce, we put our values to work to make the world a better place.
      </p>
		</div>
	</div>
</section>

<section class="feature-list row">
  <div class="column">
    <div class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

      <div class="item">
        <div class="content">
          <h2>Open-Source</h2>
          <p class="small">Following the lead of Bitcoin, Particl advocates for an <a href="https://github.com/particl" target="_blank" title="Visit our GitHub">open source</a> policy. Open source projects have positive effects when it comes to sustainability as it embraces and celebrates principles of open exchange, collaborative participation, peer-reviewing, rapid prototyping, transparency, meritocracy, and community-oriented development. This aspect of the protocol gives users and programmers the ability to inspect, modify and enhance the source code, and finally build on top of it.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <h2>Secure</h2>
          <p class="small">The Particl developing team takes its users' security extremely seriously as reflected by the many layers of security protecting the Particl platform’s users. Whether it be securing stakers' funds through <a href="https://particl.wiki/what-is#platform-wide_features" target="_blank" title="Read more about Particl PoS & (cold) staking">cold staking</a> or keeping marketplace users' identity and data safe from malicious actors, the Particl platform is designed with security at its core and makes no compromise about it.</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <h2>Private by Design</h2>
          <p class="small">Particl's decentralized marketplace is completely private by design, meaning that no transaction can be tracked back to a user. This approach is prefered as the behavior of a blockchain is to record all transactions for ever, opening up a lot of opportunities for third-parties to abuse that data. The various attacks aimed at personal data such as its collection for commercial purposes, theft or surveillance are thwarted by Particl's many privacy protocols.</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <h2>Decentralized</h2>
          <p class="small">The Particl economy is one that is decentralized, private and democratic. We believe many sectors can be improved and rendered more efficient by being designed in a decentralized fashion. Fees can be enormely reduced and no trust to central authority or party is required, making activities within the platform more cost-efficient, private and secure. Furthermore, the platform's resilience to attacks is greatly improved as the only way to shut it down is to shut down the internet completely.
          </p>
        </div>
      </div>
      
      <div class="item">
        <div class="content">
          <h2>Community Governance</h2>
          <p class="small">The Particl platform is <a href="/proposals/" title="Particl community Proposals">governed exclusively by its community</a> and no central authority, including the Particl Foundation and developing team, possess any kind of decisional power as it relates to activities happening within the platform. Particl's marketplace does not have any rule on what can be listed, it is instead being moderated entirely by the stakers who need to flag inappropriate content. Particl takes the power back into people's hands!</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <h2>Currency-agnostic</h2>
          <p class="small">Particl is currency-agnostic. In common language, it means it is designed to work with almost any cryptocurrency. As such, we welcome all other crypto communities to begin spending their favorite coin on the Particl platform and benefit from its privacy, security and decentralized applications.</p>
        </div>
      </div>

      <div class="item">
        <div class="content long">
          <h2>Protocol-agnostic</h2>
          <p class="small">As technology evolves at an exponential rate, platforms need to be built with extensibility in mind so that they can survive the test of time. Particl was built from scratch with that very thought in mind. In fact, the Particl platform is designed so that any new, more efficient Data Storage Network (SMSG, IPFS, etc) can be easily integrated, configured by users and used by any decentralized application like the Particl marketplace for storage purposes. Furthermore, being built and always updated to the latest Bitcoin Core codebase, integrating any breakthrough within the Bitcoin ecosystem is made trivial.</p>
        </div>
      </div>
      
      <div class="item">
        <div class="content long">
          <h2>Scalable</h2>
          <p class="small">Scalability is the ability of a blockchain to be able to sustain a lot of traffic without having its performance negatively impacted by it. We believe this aspect to be very important for any platform that wishes to support a large community of users, let alone an entire global economy. Scalability as always been one of the core attribute of the Particl platform and is one the reason why it is being kept updated to the latest version of the Bitcoin Core codebase. Not only has the blockchain been natively integrated with Segwit since the first block, the Particl platform is being worked on so that it will integrate several critical scaling enhancements such as the Lightning Network, Schnorr signatures and CT Bulletproofs, only to name a few. Particl aims to be one of the most efficient and lightweight privacy projects in crypto and a lot of research and development is being made on that front.</p>
        </div>
      </div>

      <div class="item">
        <div class="content long">
          <h2>Passive Income</h2>
          <p class="small">The Particl platform uses <a href="https://particl.wiki/what-is#platform-wide_features">Particl Proof-of-Stake</a>, its own native PoS protocol massively improved upon PoS3 on which were added cold staking, quantum-resistance, voting and more. Stakers, the Particl equivalent for miners, can earn a minimum of 4% yearly staking interest (during the second year) in exchange for securing the network with their coins. On top of these staking rewards, stakers earn all fees and revenue generated by the platform (marketplace, decentralized applications, transactions, messaging, etc.) which means staking becomes increasingly profitable as more people participate in the Particl economy. Other ways to earn money on the Particl platform include setting up a shop on the Particl marketplace or using any other Dapp on which revenue can be generated.</p>
        </div>
      </div>

      <div class="item">
        <div class="content medium">
          <h2>Privacy Smart Contracts</h2>
          <p class="small">Use smart contracts to build decentralized applications that respect their users' rights to privacy within the Particl ecosystem. Stay tuned as we release SDK tools later on to make build Dapps much easier and accessible.</p>
        </div>
      </div>

      <div class="item">
        <div class="content medium">
          <h2>Mobility</h2>
          <p class="small">Particl currency transactions are available on mobile using <a href="/downloads/" title="View all Downloads">Particl Copay</a>. The mobile application supports public transactions, multisig addresses and cold staking. Another mobile wallet will be developed later on to include most Particl Desktop features such as the marketplace, private transactions, messaging, voting, other decentralized applications, and etc. With the trend of online communication, gaming and shopping moving towards mobile, the ability for Particl privacy products to migrate to mobile operating systems is crucial.</p>
        </div>
      </div>

      <div class="item">
        <div class="content medium">
          <h2>Academic Review</h2>
          <p class="small">Security and privacy are two of our core values. In November 2017, a University grant was made to the New Jersey Institute of Technology to academically review and improve Particl's RingCT implementation as well as other privacy and security protocols used by the platform. The grant provides Assistant Professor Qiang Tang and his team 6 months combing over privacy enhancements Particl has added on top of Bitcoin. Professor Tang’s research interests lie in applied & theoretical cryptography, privacy and computer security. In particular: blockchain technology, post-Snowden cryptography, accountability, and information theoretic security.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="cta">
  <a href="/coin-specifications/" class="hollow button">PART specifications &amp; features</a>
  <a href="/downloads/" class="full button">Download &amp; Explore</a>
</section>

{% include particl-desktop.html %}

{% include dive-deeper.html %}
