footer {
  background-color: $part-token-bg;
  .links-container {
    ul {
      li {
        a {
          color: $general-op-6;
        }
      }
    }
  }
}

footer {
  padding: 2.625rem 0rem 0rem;
  text-align: left;
  border-top: 2px solid $white;
  position: relative;

  .logo {
    position: absolute;
    bottom: 0px;
    height: 92px;
    padding: 1.313rem 0rem;
    width: 101px;
    @include before_md { position: static; }
  }

  h4 { font-size: 0.813rem; }

  .part {
    .title { margin: 0.5rem 0rem 0rem; }
    ul {
      list-style: none;
      padding: 0px;
    }
  }

  .links-container {
    margin-bottom: 2.8rem;
    ul {
      margin-top: 25px;
      margin-bottom: 15px;
      li {
        line-height: 1.5;
        padding-bottom: 5px;
        a {
          color: $general-op-6;
          font-size: 0.688rem;
        }
        &.copyright {
          color: $general-op-6;
          font-size: 0.688rem; 
          margin-top: 1.5rem;
        }
      }
    }
  }

  .inner-line-footer { border-top: 1px solid $white; }

  .social-icons-container {
    padding: 1.313rem 0;
    margin-top: 0.4rem;
    @include before_md { padding: 1.313rem 0rem 0rem; }
    .small-2 {
      @include before_md {
        width: 20%;
        padding-bottom: 21px;
      }
    }
    img { max-width: 6.313rem; }
    a {
      display: inline-block;
      width: 47px;
      height: 47px;
      position: relative;
    }
  }
}