footer {
  padding: 2.625rem 0;
  font-size: 0.8rem; text-align: left;
  background-color: $part-token-bg; border-top: 2px solid $white;
  position: relative;
  @include break-from(700px) { padding: 2.625rem 0 0.4rem; }
  @include break-from(860px) { padding: 2.625rem 0 1.5rem; }

  // logo/copyright
  .logo-copyright {
    text-align: center;
    margin-bottom: 2.7rem;
    @include break-from(900px) { float: left; width: 250px; }
    @include break-from(1000px) { width: 220px; }
    .logo {
      width: 100%; max-width: 7.5rem;
      display: block; margin: 0 auto;
      @include break-from(1000px) { max-width: 8.5rem; }
    }
    .copyright {
      font-size: 0.8rem; color: $general-op-5;
      margin-top: 1.1rem;
      @include break-from(1000px) { font-size: 0.7rem; margin-top: 1.4rem; }
    }
  }
}