.header {
  background-color: $black;
  width: 100%; height: 3rem;
  position: fixed; top: 0; z-index: 2;
  @include break(s) { height: 3.35rem; }
  @include break(large) {
    background-color: $header-bg;
  }

  // logo, duh
  .logo {
    float: left;
    margin-left: -0.8rem;
    @include break(large) { background: $black; margin-right: 0.8rem; }
    a { display: block; }
    img {
      display: block;
      width: 100%; max-width: 6rem; height: auto;
      padding: 0.8rem;
      @include break(s) { max-width: 6.7rem; padding: 0.9rem 0.9rem; }
      @include break(large) { max-width: 7.3rem; padding: 1rem 1.3rem; }
    }
  }

  // mobile: toggle menu button
  #menu-toggle {
    float: right;
    padding: 0.7rem 1rem; margin-right: -0.8rem;
    border: 0;
    font-size: 1.2rem; color: rgba($white, 0.8);
    @include break(s) { padding: 0.9rem 1.1rem; }
    @include break(large) { display: none; }
    &:focus, &:hover {
      background: transparent;
      outline: 0;
    }
    i.ico { margin: 0; }
  }

  // price graph
  .coinmarketcap-currency-widget {
    float: left;
    width: 8rem; height: 3rem; padding: 0.5rem 0.6rem;
    position: relative;
    color: lighten($black, 30%);
    @include break(s) { width: 8.8rem; height: 3.35rem; }
    @include break(large) { color: $text; }

    // price sparkline
    &::before {
      content: '';
      position: absolute; top: 0; bottom: 0; right: 0;
      background-image: url('https://s2.coinmarketcap.com/generated/sparklines/web/7d/usd/1826.png');
      background-size: 100%; background-repeat: no-repeat;
      display: block; width: 60px; height: 20px; margin: auto;
      filter: hue-rotate(90deg);
      @include break(s) { width: 65px; height: 21px; }
    }

    & > div { // widget wrapper
      border: 0 !important;
      min-width: auto !important;
      & > div:first-child {
        & > div:first-child {
          & > span {
            &:first-of-type { display: none !important; }

            // USD price
            &:last-of-type {
              font-weight: 500;
              font-size: 0.7rem !important;
              position: absolute; top: 9px; left: 0.5rem;
              @include break(s) { left: 0.7rem; top: 12px; }
              @include break(large) {
                color: rgba($text-muted, 0.7); font-size: 0.65rem !important;
                top: 14px;
              }
              & > span { display: none; } // price % change
            }
          }
          br { display: none; }
        }
        & > div:last-child { display: none; } // logo image
      }
      & > div:last-child { display: none; }
    }
  }
}
