body.menu-opened {
  @include before_md { overflow: hidden; }
  nav {
    @include before_md { overflow-y: scroll; height: 100%; }
  }
}


.navigation {
  ul {
    margin: 0; padding: 0;
    list-style: none;
  }

  // ------ Header nav ------ //
  .header & {
    background-color: $black;
    position: fixed; top: 3rem; left: 0; right: 0; z-index: 1;
    @include break(s) { top: 3.35rem; }
    @include break(large) {
      position: static;
      background: none;
      float: right;
      display: block !important; width: (100% / 12 * 7);
    }
    @include break-from(1200px) { width: (100% / 12 * 8); }
    ul { @extend %clearfix; }
    .menu {
      @include break(large) { text-align: right; }
      li { 
        display: block;
        @include break(large) { width: auto; }
        // 1st level menu items / titles
        &.category {
          margin-top: 1.25rem;
          @include break(large) {
            display: inline-block; margin-top: 0;
            position: relative;
            &:hover .label { color: $black; }
          }
          .label {
            font-size: 0.825rem; color: lighten($black, 30%); text-transform: uppercase;
            display: block; padding: 0 0 0.25rem;
            border-bottom: 1px solid lighten($black, 5%);
            @include break(large) {
              font-weight: 500; text-transform: none;
              padding: 1.2rem 1rem;
              border-bottom: none;
            }
          }
          // 2nd level
          .submenu {
            @include break(large) {
              width: 170px;
              background: $white; border-radius: 4px;
              box-shadow: 0 2px 3px rgba($black, 0.17);
              position: absolute; right: 0;
              &::before {
                content: ""; display: block;
                border: 7px solid $white; border-color: transparent transparent $white transparent;
                position: absolute; top: -14px; right: 30px; z-index: 10;
              }
            }
            li {
              width: 50%; float: left;
              @include break(m) { width: (100% / 3); }
              @include break(large) { width: 100%; float: none; }
              // menu items
              a {
                @extend %notfx;
                display: block; padding: 0.6rem 0;
                color: $white; font-size: 1.025rem; font-family: $font; font-weight: 700;
                line-height: 26px; text-transform: none;
                &:hover, &:focus { color: $color; background: transparent; }
                @include break(large) {
                  padding: 0.6rem 1rem; margin: none;
                  font-size: 0.81rem; color: $text-muted; font-weight: 500; text-align: left;
                  &:hover, &:focus { color: $text; background: rgba($text-muted, 0.02); }
                }
                &.download-button { // download button
                  color: $color; text-align: center;
                  border: 1px solid; border-radius: 50px;
                  padding: 0.3rem; margin: 0.85rem 0 1.7rem;
                  &:hover { color: darken($color, 5%); }
                  @include break(large) {
                    color: $text-muted; text-align: left;
                    border: none; border-radius: 0;
                    margin: 0; padding: 0.6rem 1rem;
                    &:hover { color: $text; }
                  }
                }
              }
            }
            @include break(large) { display: none; }
          }
          &:hover, &.active {
            & > .submenu { display: block; }
          }
        }
      }
    }
  }

  // ------ Footer nav ------ //
  footer & {
    .wrapper {
      @include break-from(900px) { padding-bottom: 1.2rem; }
      @include break-from(960px) { padding-bottom: 0; }
    }
    .menu {
      @extend %clearfix;
      margin-bottom: 1rem;
      @include break-from(700px) { margin: 0 -0.75rem 1rem; }
      @include break-from(900px) { float: right; width: 600px; }
      @include break-from(960px) { width: 640px; }
      @include break-from(1100px) { width: 735px; }
      @include break-from(1200px) { width: 780px; }
      .category { // manual block-grid
        display: block; float: left; width: 50%;
        margin-bottom: 1.5rem;
        line-height: 1.45;
        &:nth-of-type(2n+1) { clear: both; }
        @include break-from(700px) {
          width: 25%; padding: 0 0.75rem;
          &:nth-of-type(2n+1) { clear: none; }
          &:nth-of-type(4n+1) { clear: both; }
        }
        @include break-from(900px) { margin-top: 0.8rem; }
        @include break-from(1200px) { margin-top: 1.1rem; }
        a { display: inline-block; padding: 0.25rem 0; }
      }
    }
    .label {
      font-size: 0.825rem; font-weight: 700;
      display: block; margin-bottom: 0.45rem;
    }
    a {
      font-weight: 400; color: lighten($text-muted, 20%);
      &:hover, &:focus { color: $text-muted; }
    }
  }

  // ------ Modifiers ------ //
  .mobile-only {
    @include break(large) { display: none !important; }
  }
  .desktop-only {
    display: none !important;
    @include break(large) { display: inline-block !important; }
  }
  .header & {
    .footer-only { display: none !important; }
    .full-width { width: 100% !important; }
    .logo-copyright { display: none; }
  }
  footer & {
    .header-only { display: none !important; }
  }
  .get-particl {
    .header & {
      display: none !important;
      @include break(large) { display: block !important; }
    }
  }

}


// ---------------[  SOCIAL ICONS  ]--------------- //

.social-icons {
  .social-icon {
    width: 20%;
    display: block;
    float: left;
    text-align: center;
    @include break-from(700px) { width: 10%; }
    @include break-from(860px) { width: 6.6%; }
    a {
      @extend %notfx;
      display: block;
      &:hover, &:focus {
        @include break-from(920px) {
          .title { color: lighten($black, 30%); }
        }
      }
    }
    .ico {
      font-size: 1.25rem;
      display: inline-block; padding: 0.7rem 0;
    }
    .title {
      display: none;
      @include break-from(920px) {
        display: block; margin-top: -8px;
        color: transparent; font-size: 0.7rem;
      }
    }
  }

  // ------ Header icons ------ //
  .header & {
    margin: 0.5rem -0.5rem 5.5rem;
    @include break(large) { display: none; }
  }
  
  // ------ Footer icons ------ //
  footer & {
    border-top: 1px solid $white;
    padding: 0.8rem 0 0; margin: 0 -0.5rem;
    @include break(l) { margin: 2rem -0.5rem 0; }
    .social-icon {
      .ico {
        color: rgba($text-muted, 0.6);
      }
      a:focus, a:hover {
        .ico { color: $color; }
      }
    }
  }

}