<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/ben.jpg" alt="Guillaume Benayoun">
  </div>
  <h4 class="name">Guillaume Benayoun</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: ben"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;ben&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
    <a href="https://t.me/B3N27" class="link telegram" title="Telegram"><i class="ico ico-telegram"></i></a>
    <a href="https://reddit.com/u/B3N4Y" class="link reddit" title="Reddit"><i class="ico ico-reddit"></i></a>
    <a href="https://twitter.com/PART_B3N" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
  </div>
  <span class="title">Community Manager</span>
</div><!-- .team-member -->