<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/christina.jpeg" alt="Christina Migneault-Khoury">
  </div>
  <h4 class="name">Christina Migneault-Khoury</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: cryptina"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;christina&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
  </div>
  <span class="title">Social Media Coordinator</span>
</div><!-- .team-member -->