<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/blank-avatar.png" alt="CryptoGuard">
  </div>
  <h4 class="name">CryptoGuard</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: cryptoguard"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;cryptoguard&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
    <a href="https://twitter.com/crypt0guard" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
    <a href="https://www.reddit.com/user/CryptoGuard" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
    <a href="https://github.com/cryptoguard" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
  </div>
  <span class="title">Communications</span>
</div><!-- .team-member -->