<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/desirae.png" alt="Desi-rae Campbell">
  </div>
  <h4 class="name">Desi-rae Campbell</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: CryptoRamble"><i class="ico ico-chat"></i></span>
    <a href="https://twitter.com/cryptoramble" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
  </div>
  <span class="title">Education & Awareness</span>
</div><!-- .team-member -->