<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/gerlof.jpg" alt="Gerlof van Ek">
  </div>
  <h4 class="name">Gerlof van Ek</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: crz"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;gerlof&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
    <a href="https://twitter.com/gerlof" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
    <a href="https://github.com/gerlofvanek" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
  </div>
  <span class="title">Lead Designer &amp; Branding, UI/UX, Developer</span>
</div><!-- .team-member -->