<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/henk.jpg" alt="Henk Swardt">
  </div>
  <h4 class="name">Henk Swardt</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: Pinnocio"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;henk&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
    <a href="https://www.linkedin.com/in/hswardt/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
  </div>
  <span class="title">Developer Manager, CSM</span>
</div><!-- .team-member -->