<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/blank-avatar.png" alt="Ido Kaiser">
  </div>
  <h4 class="name">Ido Kaiser</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: kewde"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;kewde&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
    <a href="https://reddit.com/u/kewde" class="link reddit" title="Reddit"><i class="ico ico-reddit"></i></a>
    <a href="https://github.com/kewde" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
  </div>
  <span class="title">Developer &amp; Software Architect</span>
</div><!-- .team-member -->