<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/juha.jpg" alt="Ludx">
  </div>
  <h4 class="name">Juha Kovanen</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: ludx"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;juha&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
    <a href="https://reddit.com/u/ludx" class="link reddit" title="Reddit"><i class="ico ico-reddit"></i></a>
    <a href="https://twitter.com/ludx" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
    <a href="https://linkedin.com/in/juhakovanen" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
    <a href="https://github.com/xludx" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
  </div>
  <span class="title">Marketplace Developer</span>
</div><!-- .team-member -->