<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/lachlan.jpg" alt="Lachlan Kang">
  </div>
  <h4 class="name">Lachlan Kang</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: cube"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#117;&#098;&#101;&#064;cubik.tech" class="link email" title="Email"><i class="ico ico-_email"></i></a>
    <a href="https://www.linkedin.com/in/lachlan-k/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
    <a href="https://github.com/CryptoCubik" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
  </div>
  <span class="title">Developer</span>
</div><!-- .team-member -->