<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/lina.jpg" alt="Lina">
  </div>
  <h4 class="name">Lina Seiche</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: lina"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;lina&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
    <a href="https://linkedin.com/in/linaseiche" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
    <a href="https://facebook.com/linaseiche" class="link facebook" title="Facebook"><i class="ico ico-facebook"></i></a>
    <a href="https://instagram.com/linaseiche" class="link instagram" title="Instagram"><i class="ico ico-instagram"></i></a>
  </div>
  <span class="title">Lead Event Coordinator &amp; Community Evangelist</span>
</div><!-- .team-member -->