<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/allien.jpg" alt="Martin Allien">
  </div>
  <h4 class="name">Martin Allien</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: allien"><i class="ico ico-chat"></i></span>
    <a href="https://twitter.com/allienworks" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
    <a href="https://github.com/allienworks" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
  </div>
  <span class="title">UI/UX, Front-end Developer</span>
</div><!-- .team-member -->