<div class="team-member">
  <div class="photo">
  <img src="/assets/img/team/ryno.jpg" alt="Ryno Mathee">
  </div>
  <h4 class="name">Ryno Mathee</h4>
  <div class="links">
  <span class="link nick" title="Slack/Riot/Forum handle: rynomster"><i class="ico ico-chat"></i></span>
  <a href="https://reddit.com/u/rynomster" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
  <a href="https://twitter.com/rynomster" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
  <a href="https://linkedin.com/in/rmathee" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
  <a href="https://github.com/rynomster" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
  </div>
  <span class="title">Lead &amp; Core Developer</span>
</div><!-- .team-member -->