<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/blank-avatar.png" alt="Shazzy">
  </div>
  <h4 class="name">Dasource</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: dasource"><i class="ico ico-chat"></i></span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;shazzy&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
    <a href="https://github.com/dasource" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
  </div>
  <span class="title">Technical Research &amp; Development</span>
</div><!-- .team-member -->