<div class="team-member">
  <div class="photo">
    <img src="/assets/img/team/blank-avatar.png" alt="Tecnovert">
  </div>
  <h4 class="name">Tecnovert</h4>
  <div class="links">
    <span class="link nick" title="Slack/Riot/Forum handle: tecnovert"><i class="ico ico-chat"></i></span>
    <a href="https://github.com/tecnovert" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
  </div>
  <span class="title">Core Developer &amp; Cryptographic Researcher</span>
</div><!-- .team-member -->
