$white: #fff;
$white-op-9: rgba(255, 255, 255, 0.9);

$general-text-color: #222727;
$general-op-7: rgba(34, 39, 39, 0.7);
$general-op-6: rgba(34, 39, 39, 0.6);

$black: #000;
$black-op-4: rgba(0, 0, 0, 0.4);
$black-op-5: rgba(0, 0, 0, 0.5);
$black-op-8: rgba(0, 0, 0, 0.8);

$button-color: #04e8b0;


$header-bg: #fafafa;
$header-mobile-bg: #222727;
$header-chart-text: rgba(34,39,39,0.5);


$bg: #fff;
$white-op-6: rgba(255,255,255,0.6);
$white-op-8: rgba(255,255,255,0.8);


$general-op-5: rgba(34, 39, 39, 0.5);


$section-bg1: #fefefe;
$section-bg2: #f4f4f4;
$report-busy-bg: #d8d8d8;
$header-background: #222727;

$hr-color: #f4f4f4;

$nav_hover: #04e8b0;
$nav_hover_bg: transparent;

$btn-border-color: rgba(4,232,176,0.2);
$btn-text-color: #04e8b0;
$intro-logo-title: rgba(34, 39, 39,0.5);

$carousel-border-color: #efefef;
$text-color: rgba(34,39,39,0.6);
$carousel-dot-color: #222727;

$feature-bg: #222727;
$feature-header: rgba(4,232,176,0.9);
$architecture-header: #222727;
$about-hr-color: #f4f4f4;

$part-token-hr-color: #04e8b0;
$part-token-bg: #fafafa;